#email_changed, #registered{
    height : 100%;
    width : 100%;
    .flexbox();
    .box{
        margin : auto;
        position : relative;
        padding-top : 6rem;
    }

    h1{
        font-size: 20px;
    }

    #twicLogo{
        position: absolute;
        width: 100px;
        top: -50px;
        left: calc(~"50% - 50px");
        height: 100px;
        background: url("assets/img/logo.png");
        background-size: cover;
    }

    #nsLabel{
        padding: 1rem 0;
    }
}
