
#feed{
    padding-top: 3rem;

    .col_center{
        max-width: 75rem;
    }

    .posts{
        padding-bottom: 2rem;

        [loader]:first-child{
            margin-bottom: 2rem;
        }
    }

    .reloadbtn{
        margin-bottom: 1.5rem;
        text-align: center;
        width: 100%;
        text-decoration: underline;
        font-size: 1.3rem;
    }

    @media( min-width:701px ){
      postform{
          margin-top: 3rem;
      }
    }


    .col_left{
        position: relative;
    }

    .available{
        width : 100%;
        font-weight: bold;
        color : @clr-light-text;
        font-size: 1.2rem;
        line-height: 1.6rem;
        position : relative;
        top : -0.5rem;
        .flexbox();
        .alignitems(center);
        padding-left: 0.5rem;
        span{
            display : inline-block;
            margin-left : 0.5rem;
        }
    }
}


// MOBILE RES SCREEN
@media( max-width:1024px ), handheld{
    #feed .col_center{
        max-width: inherit;
    }
}
