<div class="empty col_center" ng-if="!ctrl.global_loader.is_loading > 0 && !ctrl.posts.indexes.length">
        No activity yet.
</div>

<div class="col_center" ng-if='ctrl.posts.indexes.length'>
    <div class="posts" infinite-scroll="{ cb : ctrl.nextPosts, container : 'window', distance : 400 }">
        <div class="box post" ng-repeat="id in ctrl.posts.indexes track by id" post="id" onremove="ctrl.onPostDeleted" ></div>
    </div>
</div>
<div class="col_right">
    <div sticky>
        <div class="box mosaic_block">
            <h1 class="title">
               <a ui-sref="lms.profile.connections({ id : ctrl.user.datum.id })"
                  class="u" title="See connections of this user."> Connections  ({{ ctrl.connections.length }})</a>
            </h1>
            <div class="mosaic">
                <a ng-repeat="id in ctrl.connections | limitTo : 12" class="mosaic-square"
                   image-onload="{{  ctrl.user_model.list[id].datum.avatar | dmslink }}" ui-sref="lms.profile({ id : id })"
                   title="Go to {{ PageCtrl.user_model.list[id].datum | username }}'s profile"
                    ng-style="ctrl.user_model.list[id].datum.avatar|dmsbgurl" >
                    <div class="letter" ng-if="!ctrl.user_model.list[id].datum.avatar">
                        {{(ctrl.user_model.list[id].datum | username).substring(0,1)}}
                    </div>
                </a>
            </div>
            <div class='empty' ng-if='!ctrl.connections.length'>
                No connections yet.
            </div>
        </div>
        <div class="box mosaic_block" >
            <h1 class="title">
                <a ui-sref="lms.profile.resources({ id : ctrl.user.datum.id })"
                   class="u" title="See pictures of this user.">
                    Pictures  ({{ ctrl.user_images.list.length }})</a>
            </h1>
            <div class="mosaic">
                <a class="mosaic-square" ng-click="ctrl.openSlider( $event, $index)"
                   ng-repeat="picture in ctrl.user_images.list | limitTo : 12"
                    title="View in fullscreen"
                   image-onload="{{ picture.token | dmslink }}"
                     ng-style="picture.token|dmsbgurl" >

                </a>
            </div>
            <div class="empty" ng-if="!ctrl.user_images.list.length">
                No pictures yet.
            </div>
        </div>
    </div>
</div>
