<div class="empty" ng-if="ctrl.connections && !ctrl.connections.list.length && !ctrl.connections.searching">
        {{ ctrl.me !== ctrl.user.datum.id ? (ctrl.user.datum| username) + " hasn't" : "You haven't"  }} any connection yet.
</div>
<div id="search-connections"  infinite-scroll="{ cb:ctrl.searchConnections, distance:1000, container : 'window' }"
     class="users default" >

   <div class="user middle" ng-repeat="user in ctrl.connections.list"
        ng-if="ctrl.user_model.list[user].datum"
        options="{graduation:true, chat : true, cnta : true, followers : true}"
        user="user" user-links="true">

    </div>
     <div class="user middle loading" ng-if="ctrl.connections.searching">
         <div class="avatar med loading" >
         </div>
         <div class="name loading"></div>
         <div class="school loading" ></div>
     </div>
      <div class="user middle loading" ng-if="ctrl.connections.searching">
          <div class="avatar med loading" >
          </div>
          <div class="name loading"></div>
          <div class="school loading" ></div>
      </div>
       <div class="user middle loading" ng-if="ctrl.connections.searching">
           <div class="avatar med loading" >
           </div>
           <div class="name loading"></div>
           <div class="school loading" ></div>
       </div>
        <div class="user middle loading" ng-if="ctrl.connections.searching">
            <div class="avatar med loading" >
            </div>
            <div class="name loading"></div>
            <div class="school loading" ></div>
        </div>
         <div class="user middle loading" ng-if="ctrl.connections.searching">
             <div class="avatar med loading" >
             </div>
             <div class="name loading"></div>
             <div class="school loading" ></div>
         </div>
          <div class="user middle loading" ng-if="ctrl.connections.searching">
              <div class="avatar med loading" >
              </div>
              <div class="name loading"></div>
              <div class="school loading" ></div>
          </div>

</div>
