  <form ng-submit="ctrl.saveResume(ctrl.edited_resume)">
    <div>
        <div class="input-block">
            <label for="languageInput">Language</label>
            <div ui-autocomplete="ctrl.languages.getList" 
                autocomplete-items="ctrl.languages_list"
                autocomplete-search="ctrl.languages_search"
                autocomplete-id="languageInput"
                autocomplete-pagination="10"
                class="autocomplete"
                placeholder="Type a language"
                exact-match="You must select a valid language"
                required="true"
                initial-value="{{ctrl.edited_resume.title}}">
                    <button 
                        ng-repeat="item in ctrl.languages_list" 
                        ng-click="ctrl.setLanguage(item); ctrl.languages_search.search = item.libelle"
                        autocomplete-result="{{item.libelle}}" 
                        result-search="ctrl.languages_search.search"
                        type="button" >  
                    </button>
            </div>
        </div>
        <div class="input-block">

            <label for="name">Level</label>
            <div class="level">  {{ ctrl.languageLevels[(ctrl.index ? ctrl.index : ctrl.edited_resume.note)]  }} </div>
            <button type="button" 
                aria-label='{{ ctrl.languageLevels[$index + 1] }}' 
                title='{{ ctrl.languageLevels[$index + 1] }}' 
                ng-repeat="star in ctrl.grade_stars track by $index" 
                ng-mouseover="ctrl.index = $index + 1"
                ng-mouseleave="ctrl.index = null"
                ng-click='ctrl.edited_resume.note = $index + 1'
                focus-on-keys="#save_language" keys="[13]"
                 class="i16" 
                 ng-class="{ 
                    'i-star' : $index < (ctrl.index ? ctrl.index : ctrl.edited_resume.note), 
                    'i-star-empty' : $index >= (ctrl.index ? ctrl.index : ctrl.edited_resume.note)
                }"></button>
        </div>
    </div>
    <div class="ctas">
        <button type="submit" class="cta green" 
           focus-on-keys="#language{{ctrl.edited_resume.id }} [editable-button]" keys="[13]">Save</button>
        <button type="button" class="cta white" 
               focus-on-keys="#language{{ctrl.edited_resume.id }} [editable-button]" keys="[13]" 
               ng-click="ctrl.edited_id= ctrl.edited_resume = null;"
                >Cancel</button>
        <button ng-if="ctrl.edited_resume.id" 
                type="button" class="right cta red" 
                focus-on-keys="#language_blocks [editable-button]" keys="[13]"
                ng-click="ctrl.deleteResume(ctrl.edited_resume)" 
                editable-delete>Delete</button>
    </div>
</form>