<div class="empty col_alone" ng-if="!ctrl.pages.length && !ctrl.editable">
        No pages yet.
</div>

<div class="col_alone" ng-if="ctrl.pages.length || ctrl.editable">
    <div class="box">
        <div class="box_line ctas right">
            <div class="cta light"
                 ng-click="app.openPageModal($event, 'group')"
                 ng-if="ctrl.editable">
                <span class="i12 i-add"></span> Create new page
            </div>
        </div>
        <div class="empty" ng-if="!ctrl.pages.length">
            You have not joined any pages.
        </div>
        <div infinite-list="ctrl.pages"
             loaded="ctrl.pages_loaded"
             model="ctrl.page_model"
             pagination="36" class="default"
        >
           <div  ng-repeat="page in ctrl.pages | limitTo : ctrl.pages_loaded"
                ng-if="ctrl.page_model.list[page].datum"
                page="page" page-links="true">
            </div>
        </div>
    </div>
</div>
