 <form ng-submit="ctrl.saveResume(ctrl.edited_resume)">
    <div>
        <div class="input-block">
            <label for="name">Title</label>
            <input type="text" id="name" name="name" ng-focus="ctrl.onPublicationUpdate()" required ng-model="ctrl.edited_resume.title" />
        </div>
        <div class="input-block">
            <label for="name">Publisher</label>
            <input type="text" id="name" name="name" required ng-model="ctrl.edited_resume.subtitle" />
        </div>
    </div>
    <div>
        <div class="input-block">
            <label for="publication_start_date">Publication date</label>
            <div datepicker="ctrl.edited_resume.start_date" 
                 datepicker-states="['year','month']"
                 datepicker-name="publication_start_date"
                 datepicker-build="ctrl.onPublicationUpdate"
                 datepicker-format="ctrl.filters_functions.dateWithoutDay"
                 ng-if="ctrl.edited_resume"></div>
        </div>
    </div>
    <div class="ctas">
        <button type="submit" class="cta green" 
           focus-on-keys="#publication{{ctrl.edited_resume.id }} [editable-button]" keys="[13]">Save</button>
        <button type="button" class="cta white" 
               focus-on-keys="#publication{{ctrl.edited_resume.id }} [editable-button]" keys="[13]" 
               ng-click="ctrl.edited_id= ctrl.edited_resume = null;"
                >Cancel</button>
        <button ng-if="ctrl.edited_resume.id" 
                type="button" class="right cta red" 
                focus-on-keys="#publication_blocks [editable-button]" keys="[13]"
                ng-click="ctrl.deleteResume(ctrl.edited_resume)" 
                editable-delete>Delete</button>
    </div>
</form>