<div class="empty col_alone" ng-if="!ctrl.user.datum.tags.length && !ctrl.editable">
        No tags yet.
</div>
<div id="resume" class="col_alone" ng-if="ctrl.description || ctrl.user.datum.tags.length || ctrl.editable" >

    <div class="info_block" ng-if="ctrl.description || ctrl.editable">
        <div class="i24 i-about" title="Introduction" aria-label="Introduction">

        </div>
        <div editable-block class="inline-form default" id="about{{ctrl.user.datum.id}}"
            ng-class="{ editing : ctrl.tmp_description  !== null, disabled : !ctrl.editable }">
                <div editable-content ng-click="ctrl.tmp_description = ctrl.description"
                 class="about hide-on-edition"
                 ng-class="{ placeholder : !ctrl.tmp_description && !ctrl.description }">{{ ctrl.description ? ctrl.description : 'Add introduction' }}</div>
               <div editable-form  ng-class="{ visible : ctrl.tmp_description }">
                 <form ng-submit="ctrl.saveDescription()">
                      <div class="dynamic_textarea" dta="ctrl.tmp_description">
                          <div aria-hidden="true"></div>
                          <textarea ng-model="ctrl.tmp_description"></textarea>
                      </div>
                      <div class="ctas">
                          <button type="submit" class="cta green"
                             focus-on-keys="#about{{ctrl.user.datum.id}} [editable-button]" keys="[13]">Save</button>
                          <button type="button" class="cta white"
                                 focus-on-keys="#about{{ctrl.edited_resume.id }} [editable-button]" keys="[13]"
                                 ng-click="ctrl.tmp_description = null;"
                          >Cancel</button>
                      </div>
                  </form>
               </div>

        </div>

    </div>


    <div class="info_block"
        ng-if="ctrl.editable || ctrl.getTags('expertise').length">
        <div class="i2 i-xp" title="Expertise"></div>
        <div editable-block class="inline-form default eb-tags" id="etags{{ctrl.user.datum.id}}"
            ng-class="{ editing : ctrl.editTags.expertise, disabled : !ctrl.editable  }">
            <div editable-content ng-click="ctrl.setEditableTags('expertise')" class="hide-on-edition">
                <button ng-class="{ incommon : ctrl.user.datum.id !== ctrl.me &&  ctrl.tags.indexOf(tag.name) !== -1 }"
                      ng-click="ctrl.searchTag(tag.name)"
                      ng-repeat="tag in ctrl.user.datum.tags" class="tag"ng-if="tag.category === 'expertise'">
                    {{ tag.name }}
                </button>
                <span class="placeholder" ng-if="!ctrl.getTags('expertise').length && ctrl.editable">Add expertise</span>
            </div>
            <div editable-form>
                <form ng-submit="ctrl.updateTags('expertise')">
                    <div class="tags">
                        <button type="button" ng-repeat="tag in ctrl.tmp_tags" class="tag"
                            id="etag_{{$index}}" focus-on-destroy="#etag_{{$index}},#etag_{{$index-1}},#addExpertise"
                            ng-click="ctrl.removeTag(tag)">
                            {{ tag.name }}
                            <span class="i-x" ></span>
                        </button>

                        <div class="addtag">
                          <div class="autocomplete input-block"
                              ui-autocomplete="ctrl.searchExpertise"
                              autocomplete-id="addExpertise"
                              autocomplete-search="ctrl.input_tags.expertise"
                              autocomplete-items="ctrl.tags_list"
                              on-keydown="ctrl.addExpertise"
                              min-length="0">
                                  <button
                                      ng-repeat="item in ctrl.tags_list"
                                      ng-click="ctrl.addExpertise(null, item);"
                                      autocomplete-result="{{item.name}}"
                                      result-search="ctrl.input_tags.expertise.search"
                                      type="button" >
                                  </button>
                          </div>

                            <button class="i12 i-x" type="button"
                                ng-click="ctrl.input_tags.expertise.search = '';"></button>
                        </div>
                    </div>
                    <div class="ctas">
                        <button type="submit" class="cta green" keys="[13]"
                           focus-on-keys="#etags{{ctrl.user.datum.id}} [editable-button]">Save</button>
                        <button type="button" class="cta white" keys="[13]"
                           focus-on-keys="#etags{{ctrl.user.datum.id}} [editable-button]"
                           ng-click="ctrl.editTags.expertise = false;">Cancel</button>
                    </div>
                </form>
           </div>
       </div>
    </div>
    <div class="info_block"
        ng-if="ctrl.editable || ctrl.getTags('interest').length">
        <div class="i2 i-heart" title="Interest"></div>
        <div editable-block class="inline-form default eb-tags" id="itags{{ctrl.user.datum.id}}"
            ng-class="{ editing : ctrl.editTags.interest, disabled : !ctrl.editable  }">
            <div editable-content ng-click="ctrl.setEditableTags('interest')" class="hide-on-edition">
                <button ng-repeat="tag in ctrl.user.datum.tags"
                    ng-class="{ incommon : ctrl.user.datum.id !== ctrl.me &&  ctrl.tags.indexOf(tag.name) !== -1 }"
                    ng-click="ctrl.searchTag(tag.name)"
                    class="tag" ng-if="tag.category === 'interest'">
                    {{ tag.name }}
                </button>
                <span class="placeholder" ng-if="!ctrl.getTags('interest').length && ctrl.editable">Add interest</span>
            </div>
            <div editable-form>
                <form ng-submit="ctrl.updateTags('interest')">
                    <div class="tags">
                        <button type="button" ng-repeat="tag in ctrl.tmp_tags" class="tag"
                            id="itag_{{$index}}" focus-on-destroy="#itag_{{$index}},#itag_{{$index-1}},#addInterest"
                            ng-click="ctrl.removeTag(tag)">
                            {{ tag.name }}
                            <span class="i-x" ></span>
                        </button>

                        <div class="addtag">
                          <div class="autocomplete input-block"
                              ui-autocomplete="ctrl.searchInterest"
                              autocomplete-id="addInterest"
                              autocomplete-search="ctrl.input_tags.interest"
                              autocomplete-items="ctrl.tags_list"
                              on-keydown="ctrl.addInterest"
                              min-length="0">
                                  <button
                                      ng-repeat="item in ctrl.tags_list"
                                      ng-click="ctrl.addInterest(null, item);"
                                      autocomplete-result="{{item.name}}"
                                      result-search="ctrl.input_tags.interest.search"
                                      type="button" >
                                  </button>
                          </div>

                            <button class="i12 i-x" type="button"
                                ng-click="ctrl.input_tags.interest.search = '';"></button>
                        </div>
                    </div>
                    <div class="ctas">
                        <button type="submit" class="cta green" keys="[13]"
                           focus-on-keys="#itags{{ctrl.user.datum.id}} [editable-button]">Save</button>
                        <button type="button" class="cta white" keys="[13]"
                           focus-on-keys="#itags{{ctrl.user.datum.id}} [editable-button]"
                           ng-click="ctrl.editTags.interest = false;">Cancel</button>
                    </div>
                </form>
             </div>
         </div>
      </div>
      <div class="info_block"
            ng-if="ctrl.editable || ctrl.getTags('language').length">
          <div class="i2 i-globe" title="Languages"></div>
          <div editable-block class="inline-form default eb-tags" id="ltags{{ctrl.user.datum.id}}"
              ng-class="{ editing : ctrl.editTags.language, disabled : !ctrl.editable  }">
              <div editable-content ng-click="ctrl.setEditableTags('language')" class="hide-on-edition">
                  <a ng-repeat="tag in ctrl.user.datum.tags"
                    ng-click="ctrl.searchTag(tag.name)"
                    ui-sref="lms.community({ category : 'user'})"
                    ng-class="{ incommon : ctrl.user.datum.id !== ctrl.me &&  ctrl.tags.indexOf(tag.name) !== -1 }"
                    class="tag" ng-if="tag.category === 'language'">
                      {{ tag.name }}
                  </a>
                  <span class="placeholder" ng-if="!ctrl.getTags('language').length && ctrl.editable">Add language</span>
              </div>
              <div editable-form>
                  <form ng-submit="ctrl.updateTags('language')">
                      <div class="tags">
                          <button type="button" ng-repeat="tag in ctrl.tmp_tags" class="tag"
                              id="ltag_{{$index}}" focus-on-destroy="#ltag_{{$index}},#ltag_{{$index-1}},#addLanguage"
                              ng-click="ctrl.removeTag(tag)">
                              {{ tag.name }}
                              <span class="i1 i-x" ></span>
                          </button>

                          <div class="addtag">
                            <div class="autocomplete input-block"
                                ui-autocomplete="ctrl.languages.getList"
                                autocomplete-id="addLanguage"
                                autocomplete-search="ctrl.input_tags.language"
                                autocomplete-items="ctrl.tags_list"
                                min-length="1">
                                    <button
                                        ng-repeat="item in ctrl.tags_list"
                                        ng-click="ctrl.addLanguage(null, item);"
                                        autocomplete-result="{{item.libelle}}"
                                        result-search="ctrl.input_tags.language.search"
                                        type="button" >
                                    </button>
                            </div>

                              <button class="i12 i-x" type="button"
                                  ng-click="ctrl.input_tags.language.search = '';"></button>
                          </div>
                      </div>
                      <div class="ctas">
                          <button type="submit" class="cta green" keys="[13]"
                             focus-on-keys="#ltags{{ctrl.user.datum.id}} [editable-button]">Save</button>
                          <button type="button" class="cta white" keys="[13]"
                             focus-on-keys="#ltags{{ctrl.user.datum.id}} [editable-button]"
                             ng-click="ctrl.editTags.language = false;">Cancel</button>
                      </div>
                  </form>
               </div>
           </div>
      </div>
</div>
