<div class="empty col_alone" ng-if="!tctrl.user.datum.tags.length && !tctrl.description && !tctrl.editable && tctrl.tags_loaded">
        No resume yet.
</div>
<div  class="col_alone" ng-if="(tctrl.description || tctrl.user.datum.tags.length || tctrl.editable) && tctrl.tags_loaded" >
    <div id="resume" class="box">
        <div class="info_block" ng-if="tctrl.description || tctrl.editable">
            <div class="i24 i-about" title="Summary" aria-label="Summary">

            </div>
            <div editable-block class="inline-form default" id="about{{tctrl.user.datum.id}}"
                ng-class="{ editing : tctrl.tmp_description  !== null, disabled : !tctrl.editable }">
                    <div editable-content ng-click="tctrl.tmp_description = tctrl.description"
                     class="about hide-on-edition"
                     ng-class="{ placeholder : !tctrl.tmp_description && !tctrl.description }">{{ tctrl.description ? tctrl.description : 'Add Summary (ex: My passion for communication drew me to public relations and marketing...)' }}</div>
                   <div editable-form  ng-class="{ visible : tctrl.tmp_description }">
                     <form ng-submit="tctrl.saveDescription()">
                          <div class="dynamic_textarea" dta="tctrl.tmp_description">
                              <div aria-hidden="true"></div>
                              <textarea ng-model="tctrl.tmp_description"></textarea>
                          </div>
                          <div class="ctas">
                              <button type="submit" class="cta green"
                                 focus-on-keys="#about{{tctrl.user.datum.id}} [editable-button]" keys="[13]">Save</button>
                              <button type="button" class="cta white"
                                     focus-on-keys="#about{{tctrl.edited_resume.id }} [editable-button]" keys="[13]"
                                     ng-click="tctrl.tmp_description = null;"
                              >Cancel</button>
                          </div>
                      </form>
                   </div>

            </div>

        </div>


        <div class="info_block tags" ng-repeat="(key, category) in tctrl.constants.categories"
            ng-if="tctrl.editable || tctrl.tags[category].length">
            <div class="i2 {{ tctrl.constants.icons[key] }}" title="{{tctrl.constants.labels[key]}}"></div>
            <div editable-block id="{{tctrl.constants.labels[key]}}tags{{tctrl.user.datum.id}}"
                ng-class="{ editing : tctrl.editTags[category], disabled : !tctrl.editable  }">
                <div editable-content >
                    <button
                          type="button"
                          class="i12 tag {{tctrl.constants.icons[key]}} {{ tctrl.constants.categories[key] }} editable"
                          ng-click="tctrl.editable ?  tctrl.removeTag(tag.name, category) : tctrl.searchTag(tag.name)"
                          focus-on-destroy=".{{ tctrl.constants.categories[key] }}.tag,#add{{key}}"
                          ng-repeat="tag in tctrl.tags[category]" class="tag">
                        {{ tag.name }}
                        <span ng-if="tctrl.editable" class="i-x" ></span>
                    </button><button
                          type="button"
                          class="i12 tag i-plus {{ tctrl.constants.categories[key] }} suggestion"
                          ng-click="tctrl.addTag(null, tag , category);"
                          focus-on-destroy=".{{ tctrl.constants.categories[key] }}.tag,#add{{key}}"
                          ng-repeat="tag in tctrl.removedTags[category]" >
                        {{ tag }}
                        <span ng-if="tctrl.editable" class="i-x" ></span>
                    </button>
                    <button editable-button  ng-click="tctrl.setEditableTags(category)" ng-if="tctrl.editable && !tctrl.editTags[category]"
                            class="hide-on-edition i12 i-plus tag suggestion {{tctrl.constants.categories[key]}}">Add {{tctrl.constants.labels[key]}} </button>
                </div>
                <div editable-form>
                    <form ng-submit="tctrl.updateTags(category)">
                        <div class="addtag">
                              <div class="autocomplete input-block"
                                  ui-autocomplete="tctrl.searchTags[key]"
                                  autocomplete-id="add{{key}}"
                                  placeholder="{{tctrl.constants.placeholders[key]}}"
                                  autocomplete-search="tctrl.input_tags[category]"
                                  autocomplete-items="tctrl.tags_list"
                                  on-keydown="tctrl.add[key]"
                                  min-length="0">
                                      <button
                                          ng-repeat="item in tctrl.tags_list"
                                          ng-click="tctrl.add[key](null, item);"
                                          autocomplete-result="{{item.libelle || item.name}}"
                                          result-search="tctrl.input_tags[category].search"
                                          type="button" >
                                      </button>
                              </div>

                              <button class="i12 i-x" type="button"
                                    ng-click="tctrl.input_tags[category].search = '';tctrl.editTags[category] = false;"></button>
                        </div>
                    </form>
               </div>
           </div>
        </div>
    </div>
</div>
