<div class="col_alone" >
    <div class="search-bar box">
        <label class="i16 i-search"  title="Search" for="communityinput">
           <span class="for_screen_reader">Search</span>
       </label>
       <input ng-model="ctrl.search" id="searchParticipants" name="search"
              ng-change="ctrl.searchParticipants()"
              placeholder="Search members..." >
       <button class="i16 i-x"  title="Empty search bar"
               ng-if="ctrl.search"
                ng-click="ctrl.clearSearch();">
           <span class="for_screen_reader">Empty search bar</span>
       </button>
    </div>
    <div class="box">
        <div class="filter filter-block page_filters">
            <div dropdown class="classic right roles-dropdown">
                <button class="white cta dropdown" dropdown-toggle >
                    <div ui-sref="lms.profile.users.connections({ id : ctrl.user.datum.id })"
                         ui-sref-active="show">Connections ({{ ctrl.connections.length || 0 }})</div>
                    <div ui-sref="lms.profile.users.followers({ id : ctrl.user.datum.id  })"
                        ui-sref-active="show">Followers ({{ ctrl.followers.length }})</div>
                    <div ui-sref="lms.profile.users.followings({ id : ctrl.user.datum.id  })"
                              ui-sref-active="show">Followings ({{ ctrl.followings.length }})</div>
                        <span class="i12 i-dropdown"></span>
                </button>
                <div dropdown-content>
                     <a  ui-sref="lms.profile.users.connections({ id : ctrl.user.datum.id  })"
                        ui-sref-active="hide">Connections ({{ ctrl.connections.length || 0 }})</a>
                     <a  ui-sref="lms.profile.users.followers({ id : ctrl.user.datum.id  })"
                        ui-sref-active="hide">Followers ({{ ctrl.followers.length || 0 }})</a>
                     <a  ui-sref="lms.profile.users.followings({ id : ctrl.user.datum.id  })"
                        ui-sref-active="hide">Followings ({{ ctrl.followings.length || 0 }})</a>
                </div>
            </div>
            <div class="sort-by">
                <div class="label">Sort by </div>
                <div dropdown class="classic right sort-dropdown">
                    <button class="white cta dropdown" dropdown-toggle>
                        {{ ctrl.order.type === 'name' ? 'Last name' : 'Institution' }}
                        <span class="i12 i-dropdown"></span>
                    </button>
                    <div dropdown-content>
                        <button ng-if="ctrl.order.type !== 'name'"
                                ng-click="ctrl.order.type = 'name';ctrl.searchParticipants();"  >
                                Last name
                        </button>
                        <button ng-if="ctrl.order.type !== 'organization'"
                                ng-click="ctrl.order.type= 'organization';ctrl.searchParticipants();">
                                Institution
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div  ui-view>
        </div>
    </div>
</div>
