 <form ng-submit="ctrl.saveResume(ctrl.edited_resume)">
    <div>
        <div class="input-block">
            <label for="name">Role</label>
            <input type="text" id="name" name="name" ng-focus="ctrl.onVolunteerUpdate()" required ng-model="ctrl.edited_resume.title" />
        </div>
        <div class="input-block">
            <label for="name">Organization</label>
            <input type="text" id="name" name="name" required ng-model="ctrl.edited_resume.subtitle" />
        </div>
    </div>
    <div>
        <div class="input-block">
            <label for="volunteer_start_date">From</label>
            <div datepicker="ctrl.edited_resume.start_date" 
                 datepicker-states="['year','month']"
                 datepicker-name="volunteer_start_date"
                 datepicker-build="ctrl.onVolunteerUpdate"
                 datepicker-format="ctrl.filters_functions.dateWithoutDay"
                 maxdate="ctrl.edited_resume.end_date"
                 ng-if="ctrl.edited_resume"></div>
        </div>
        <div class="input-block">
            <label for="volunteer_end_date">To</label>
            <div datepicker="ctrl.edited_resume.end_date" 
                 datepicker-states="['year','month']"
                 datepicker-format="ctrl.filters_functions.dateWithoutDay"
                 mindate="ctrl.edited_resume.start_date"
                ng-if="ctrl.edited_resume && !ctrl.edited_resume.current"
                datepicker-name="volunteer_end_date"></div>
            <input type="checkbox" id="volunteer_current" 
                   focus-on-keys="#volunteer_end_date" keys="[32]"
                   ng-model="ctrl.edited_resume.current"
                   name="volunteer_current"/> 
            <label for="volunteer_current" ng-click="ctrl.edited_resume.end_date = null">Current experience</label>
        </div>
    </div>
    <div class="ctas">
        <button type="submit" class="cta green" 
           focus-on-keys="#volunteer{{ctrl.edited_resume.id }} [editable-button]" keys="[13]">Save</button>
        <button type="button" class="cta white" 
               focus-on-keys="#volunteer{{ctrl.edited_resume.id }} [editable-button]" keys="[13]" 
               ng-click="ctrl.edited_id= ctrl.edited_resume = null;"
                >Cancel</button>
        <button ng-if="ctrl.edited_resume.id" 
                type="button" class="right cta red" 
                focus-on-keys="#volunteer_blocks [editable-button]" keys="[13]"
                ng-click="ctrl.deleteResume(ctrl.edited_resume)" 
                editable-delete>Delete</button>
    </div>
</form>