
cnctactions{
    .accept, .connected{
        color: @clr-green;
    }

    .awaiting{
        color: @clr-orange;
        margin-right: 1rem;
    }


}

cncta{
    display: inline-block;
    .cta.white,.cta.green,.cta.red{
        height : 3.4rem ;
        .border-radius(1.7rem) ;
        line-height: 3.2rem;
        width : 10rem;
        padding: 0 !important;
    }
}
