[infinite-list].default{
    box-sizing: border-box;
    *{
        box-sizing: inherit;
    }
    width : 100%;
    & > div {
        width : 100%;
        & > ng-transclude{
            .flexbox();
            .flx-wrap( wrap );
            
        }
    }
}

.elements_list{
    box-sizing: border-box;
    *{
        box-sizing: inherit;
    }
    width : 100%;
    .flexbox();
    .flx-wrap( wrap );
     & > ng-transclude{
            .flexbox();
            .flx-wrap( wrap );
            
    }
}

.col_alone [infinite-list].default > [infinite-scroll] > ng-transclude, 
.col_alone .elements_list{
    & > div{
        margin-bottom: 3rem;
    }
     @media( min-width:1024px ){
        & > div{
            width: calc(~"33% - 2rem");
            max-width: calc(~"33% - 2rem");
            margin-top : 2rem;
            &:nth-child(3n), &:nth-child(3n+2){
                margin-left: 3rem;
            }
        }
    }

    @media( max-width:1023px ){
        & > div{
            width: calc(~"50% - 1.5rem");
            max-width: calc(~"50% - 1.5rem");
            margin-top : 2rem;
            &:nth-child(2n){
                margin-left: 3rem;
            }
        }  
    }

    @media( max-width:600px ){
          & > div{
            margin-top : 2rem;
            width: 100%;
            max-width: 100%;
            margin-left: 0 !important;
        }  
    }
}


.col_center [infinite-list].default > [infinite-scroll] > ng-transclude, 
.col_center .elements_list{
   
    @media( min-width : 1201px ){
        & > div{
            width: calc(~"50% - 1.5rem");
            max-width: calc(~"50% - 1.5rem");
            &:nth-child(2n){
                margin-left: 3rem;
            }
            margin-bottom : 2rem;
        }  
    }

    @media( max-width:1200px ){
          & > div{
            width: 100%;
            margin-left: 0 !important;
            margin-bottom : 2rem;
        }  
    }
}
