#mobilemenu{
    display: none;
    position: absolute;
    height: calc(~"100vh - 6rem");
    top: 6rem;
    overflow: auto;
    left: 0;
    width: 25rem;
    max-width: 75vw;
    color: @clr-text;
    //bottom: 0;
    z-index: 1;
    background: #FFF;
    border-top : solid 1px @clr-background;
    border-right : solid 1px @clr-background;


    .menuitem{
        .flexbox();
        .borderbox();
        color : @clr-text;
        background: #FFF;
        line-height:4rem;
        height:4rem;
        padding: 0 1.5rem 0 1.5rem;
        width: 100%;
        opacity : 0.5;
        &:not(div):not([disabled]){
            opacity : 1;
        }
        span:not(.i16){
            font-weight:700;
            .ellipsis();
        }
        .i2{
            margin: 0 2rem 0 0.5rem;
            color : @clr-text-info;
        }
        .avatar{
          margin : 0.6rem 2rem 0 0;
          border : solid 0.2rem @clr-twic;
        }


    }
}

// MOBILE RES SCREEN
@media( max-width:1024px ), handheld{
    #mobilemenu{
        display:block;
    }
}
