postform{
  .flexbox();
}
postform, .posteditor{
    background : #FFF;
    &postform{
      .border-radius( 3px);
    }
    margin-bottom: 2rem;
    position : relative;
    .input-block{
      margin : 0;
    }
    .post{
        background :@clr-background2;
        &:not(.unavailable){
            cursor: pointer;
        }
        margin : 0rem 2rem;
        .border-radius(4px);

        & > div{
          padding: 0 1rem 1rem;
        }
        &.unavailable{
          line-height: 8rem;
          text-align: center;
          color : @clr-text-info;
        }

    }
    .shared-on{
        .flexbox();
        line-height: 4rem;
        margin-bottom: 1rem;
        padding: 1rem 1.5rem 0;
        .dropdown{
            &:first-of-type{
                .flx(1);
                margin: 0 0.5rem;
            }
            &:last-of-type{
               width : 5.5rem;
               [dropdown-content]{
                  left : auto;
               }
            }
            [dropdown-toggle]{
              font-weight: bold;
            }
            [dropdown-content] button{
              .flexbox() !important;
            }
            .avatar{
                margin : auto 0.5rem auto;
                .flx-shrink(0);
                & + .i-dropdown{
                  margin-left: 0;
                }
            }
        }
    }
    form{
       .flx(1);
       .border-radius(3px );
       .post-header{
           .flexbox();
           .post-target{
               position : relative;
               .flexbox();
           }
           .input-block{
               margin : 0;
               .flx(1);
                padding-right: 1rem;
                @media(max-width : 1024px){
                    padding : 0;
                    margin-bottom : 1rem;
                }
                input{
                    font-weight : bold;
                    padding: 0 3rem 0 0.5rem !important;
                }
           }
       }

        box-shadow:  0 1px 0 @clr-social-border !important;
        .sending{
            text-align: center;
            color : @clr-text-info;
            padding-right : 2rem;
            [loader]{
                margin-bottom: 0.5rem;
            }
        }
    }
    #posteditor-at, #at{
      position : absolute;
    }
    #at:not(:empty), #posteditor-at:not(:empty){
        border : solid 1px @clr-border;
        z-index: 3;
        left : 2rem;
        right : 2rem;
        box-shadow: 0 0 4px 0 @clr-shadow;
    }

      .clear-bold{
          font-weight: initial;
          display : inline-block;
          padding : 0 0.5rem;
          line-height: 4rem;
      }
    .announcement{
         .flexbox();
         line-height: 4rem;
         margin : 0 ;
         width : 7rem;
         height : 4rem;
         margin-left: auto;
         padding-left: 0.5rem;
         [dropdown]{
             [dropdown-toggle]{
               border : none;
               background : transparent !important;
               padding: 0 !important;
               width : 4rem;
             }
             button{
                 .flexbox() !important;
                 padding: 0 0.5rem !important;
                 .ellipsis();
                 .avatar{
                     .flx-shrink(0);
                     margin: 0.8rem 0.1rem 0 0;
                 }
                 .i-dropdown{
                   margin-left : 0;
                   margin-right: 0;
                   width : 0 !important;
                 }
             }

             [dropdown-content]{
                 left : auto;
                 .avatar{
                   margin-right: 0.5rem;
                 }
             }

         }
    }
    .hint{
        cursor : default;
        text-align : right;
        .flexbox();
        .justify-content(flex-end);
        [tooltip-toggle]{
            .flexbox();
            padding : 1rem;
            .i-info{
                margin-left: 0.5rem;
            }
        }
        [tooltip-content]{
            width : 38rem;
            color : @clr-text;
            .bold{
                font-weight: bold;
            }
        }
        a{
            color : @clr-twic;
        }
        color : @clr-text-info;
        &.opened{
            color : @clr-text;
        }
    }
    .connections{
        margin-right: auto;
        line-height : 4rem;
        font-size : 1.2rem;
        .flx(1);
        a{
            color : @clr-twic;
        }
    }
    .text-editor{
        border : none !important;
        min-height: 4rem;
        .ql-editor{
            background: #FFF;
            .border-radius( 3px 3px 0 0 );
            &:active, &:focus{
                background : #FFF;
            }
        }
        .ql-editor.ql-blank::before{
            color: @clr-text-info;
            font-style: normal;
            font-size: 1.4rem;
            left : 16px;
            font-family: "Open Sans";
            .ellipsis();
        }
    }
    .ctas{
        padding : 1rem;
        .cta{
            height : 3.5rem;
            line-height: 3.5rem;
        }
    }

    .link{
        .flexbox();
        .border-radius( 2px );

        box-shadow: 0 0 6px rgba(125, 125, 125, 0.5);
        overflow: hidden;
        margin: 1.5rem 0;

        .linkbg{
            .border-radius( 2px );
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
            min-height: 22rem;
            min-width: 15rem;
            max-width: 30%;
        }

        .linkct{
            .flx( 1 );
            overflow: hidden;
            padding:0 1.5rem 1.5rem;

            h2{
                margin-bottom: 0;
                font-size: 1.8rem;
                line-height: 2.4rem;
                padding: 1.5rem 0;
                height: auto;
            }

            .i-x{
                float: right;
                font-size:1.4rem;
                line-height: 3rem;
                position: relative;
                top: .5rem;
                left: 1rem;
                height:3rem;
                width: 3rem;
                text-align: center;
            }

            .d{
                overflow-wrap: break-word;
            }
        }
    }


    .files{
        line-height: 3rem;
        padding: 0 1rem;
        .head{
            font-weight: 700;
        }

        .file{
            .flexbox();
            .ellipsis();
            width:100%;

            .upload_state{
                margin-left: auto;
                color: @clr-green;

                .u-bar{
                    line-height: 2rem;
                    display: block;
                    position: relative;
                    margin-top:2rem;
                    height: 4px;
                    width: 100%;
                    min-width: 10rem;
                    background: @clr-social-bg;
                    .border-radius( 2px );
                }
                .u-label{
                    position: absolute;
                    white-space: nowrap;
                    top: -2rem;
                    font-size: 1rem;
                }
                .u-progress{
                    display: block;
                    height: 4px;
                    background: @clr-green;
                    .border-radius( 2px );
                }
            }

            .name{
                .ellipsis();
                margin-right: 1rem;
            }

            .i-x{
                font-size: 1rem;
                margin-right: .5rem;
            }
        }
    }


    .cta.white{
        margin-right: 1rem;
        padding: 0 1rem;
    }
}

.posteditor{
    padding: 0;
    max-width: 60rem;
    overflow: visible;

    &:after{
        content:" ";
        display: block;
        height: 2rem;
    }

    .pefileinput{
        margin-bottom: 1.5rem;
        overflow: hidden;
        label{ float: right; padding:0; }
    }
}

@media( max-width:1024px ), handheld{

    .posteditor{
        max-width: inherit;
        min-height: calc(~"100vh - 8rem");
    }

     .posteditor, postform{
        .link{
            position: relative;

            .flx-direction( column );

            .i-x{
                position: absolute !important;
                top: 0 !important;
                right: 0 !important;
                left: auto !important;
                background: rgba(255,255,255,.5);
            }

            .linkbg{
                max-width: inherit;
            }
        }
    }
}
