.startform{
    padding: 2rem 1rem;
    
    .sf-footer{
        padding:1rem 1rem 0;
    }
    
    .sf-linkedin{
        padding: .5rem 1rem;
        
        .cta.linkedin{
            display: inline-block;
        }
        
        div{
            margin-top:1rem;
            white-space: pre-wrap;
            font-size: 1.2rem;
        }
    }
}

// MOBILE RES SCREEN
@media( max-width:1024px ), handheld{
    .startform{
        height: calc(~"100% - 4rem");
    }
}