.tag{
    display: inline-block;
    height: 1.8rem;
    margin-top: .9rem;
    background-color: @clr-header;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #FFF;
    padding : 0 0.5rem;
    margin-right : 1rem;
     text-transform: lowercase;
    .i1{
        margin-left : 1rem;
    }
    &.incommon{
      background: @clr-twic;
    }
}
