
[tooltip]{
    position: relative;
    
    &.opened{
        z-index:1;
    }
    
    &:not(.right):not(.top):not(.bottom).opened::before{
            border-color: transparent;
            border-style: solid;
            border-width: 10px 0;
            border-left: 10px @clr-border solid;
            content: "";
            height: 0;
            width: 0;
            right: calc(~"100% - 4px");
            top: calc(~"50% - 12px");
            position: absolute;
    }
    &.right.opened::before{
        border-color: transparent;
        border-style: solid;
        border-width: 10px 0;
        border-right: 10px @clr-border solid;
        content: "";
        height: 0;
        width: 0;
        left: calc(~"100% - 4px");
        top: calc(~"50% - 12px");
        position: absolute;
    }
    
    &.top.opened::before{
        border-color: transparent;
        border-style: solid;
        border-width: 0 10px;
        border-top: 10px @clr-border solid;
        content: "";
        height: 0;
        width: 0;
        bottom: calc(~"100% - 4px");
        left: calc(~"50% - 12px");
        position: absolute;
    }
    
    &.bottom.opened::before{
        border-color: transparent;
        border-style: solid;
        border-width: 0 10px;
        border-bottom: 10px @clr-border solid;
        content: "";
        height: 0;
        width: 0;
        top: calc(~"100% - 4px");
        left: calc(~"50% - 12px");
        position: absolute;
    }
    
    &:not(.right):not(.top):not(.bottom).opened::after{
        border-width: 8px 0;
        border-left: 8px #fff solid;
        right: calc(~"100% - 3px");
        border-top: 8px transparent solid;
        border-bottom: 8px transparent solid;
        top: calc(~"50% - 10px");
        border-style: solid;
        content: "";
        height: 0;
        z-index: 2;
        width: 0;
        position: absolute;
    }
    
    &.right.opened::after{
        border-width: 8px 0;
        border-right: 8px #fff solid;
        left: calc(~"100% - 3px");
        border-top: 8px transparent solid;
        border-bottom: 8px transparent solid;
        top: calc(~"50% - 10px");
        border-style: solid;
        content: "";
        height: 0;
        z-index: 2;
        width: 0;
        position: absolute;
    }
    
    
    &.top.opened::after{
        border-width: 0 8px;
        border-top: 8px #fff solid;
        bottom: calc(~"100% - 3px");
        border-right: 8px transparent solid;
        border-left: 8px transparent solid;
        left: calc(~"50% - 10px");
        border-style: solid;
        content: "";
        height: 0;
        z-index: 2;
        width: 0;
        position: absolute;
    }
    
    &.bottom.opened::after{
        border-width: 0 8px;
        border-bottom: 8px #fff solid;
        top: calc(~"100% - 3px");
        border-right: 8px transparent solid;
        border-left: 8px transparent solid;
        left: calc(~"50% - 10px");
        border-style: solid;
        content: "";
        height: 0;
        z-index: 2;
        width: 0;
        position: absolute;
    }
    
    [tooltip-content]{
        .border-radius(2px);
        display:none;
        position: absolute;
        background: @clr-light;
        box-shadow:  0 0 2px @clr-shadow;
        text-align: left;
        line-height: 2rem;
        padding : 1rem;
        z-index:1 ;
        overflow-y: auto;
    }
    &:not(.right):not(.top):not(.bottom) [tooltip-content]{
        right: calc(~"100% + 5px");
        .transform( translateY(-50%) );
        top: 50%;
    }
    &.right [tooltip-content]{ 
        left: calc(~"100% + 5px");
        .transform( translateY(-50%) );
        top: 50%;
    }
    &.top [tooltip-content]{ 
        bottom: calc(~"100% + 5px");
        &:not(.right):not(.left){
            .transform( translateX(-50%) );
            left: 50%;
        }
        &.right{
            right : 0%;
        }
        &.left{
            left : 0%;
        }
    }
    &.bottom [tooltip-content]{ 
        top: calc(~"100% + 5px");
        &:not(.right):not(.left){
            .transform( translateX(-50%) );
            left: 50%;
        }
        &.right{
            right : 0%;
        }
        &.left{
            left : 0%;
        }
    }
    
    &.opened [tooltip-content]{
        display: block;
    }
    
    
}
