#welcome-panel{
    height : 60rem;
    width : 80vw;
    max-width: 850px;
    padding : 7rem 3rem 1rem;
    margin : auto;
    .border-radius(0.5rem);
    box-shadow : 0 1px 1px @clr-social-border;
    position: relative;
    overflow : visible;
    box-sizing: border-box;
    *{
        box-sizing: inherit;
    }

    .close{
        position : absolute;
        right : 2rem;
        top : 2rem;
        font-size: 2rem;
        text-align: center;
        height : 4rem;
        line-height: 4rem;
        width : 4rem;
        color : @clr-header;
        cursor : pointer;
        &:hover{
            color : @clr-gray-hover;
        }
    }
    .header{
        position : absolute;
        position: absolute;
        top: -5rem;
        width: 100%;
        left: 0;
        text-align: center;

        h1{
            text-align: center;
            margin:0;
            line-height: 4rem;
            font-weight: 600;
            font-size: 2.6rem;
        }

        h2{
            text-align: center;
            margin:0;
            line-height: 2rem;
            font-weight: 300;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
        .logo{
            position : absolute;
            top : 0;
            left : calc(~"50% - 5rem");
            height : 10rem;
            width : 10rem;
            background-size: cover;
            background-image: url('assets/img/logo.png');
            z-index: 1;
        }
        .progression{
            height : 0.3rem;
            position : absolute;
            top : 5rem;
            left : 0;
            .border-radius(0.5rem 0 0 0);
            background: @clr-twic;
            transition: width 500ms ease-in;
            z-index: 0;
            &.last-step{
                .border-radius(0.5rem 0.5rem 0 0);
            }

        }
        .step{
            position: absolute;
            top : 6rem;
            right : 2rem;
            color : @clr-text-info;
            font-weight: bold;
            .step-number{
                color : @clr-text;
            }
            @media(max-width: 1024px){
                top : 0;
                right : 1rem;
                .step-name{
                    display : none;
                }
            }
        }
    }
    .editable-block{
        position : relative;
         #circle{
            width : 19rem;
            height : 19rem;
            top : -0.5rem;
            left : -0.5rem;
            position : absolute;
            background-color: @clr-twic;
            .border-radius(50%);
        }
        #circle1{
            width : 22rem;
            height : 22rem;
            top : -2rem;
            left : -2rem;
            opacity: 0.1;
            position : absolute;
            background-color: #0DAFAC;
            .border-radius(50%);
        }
        #circle2{
            width : 26rem;
            height : 26rem;
            top : -4rem;
            left : -4rem;
            opacity: 0.07;
            position : absolute;
            background-color: #0DAFAC;
            .border-radius(50%);
        }
        .star{
            background-image: url("assets/img/star.svg");
            width : 2rem;
            height : 2rem;
            background-size: cover;
            position : absolute;
        }
        #star1{
            top: -2rem;
        }
        #star2{
            top: 0;
            left: 15rem;
            opacity: 0.5;
            transform: rotate(45deg);
        }
        #star3{
            left: 19rem;
            top: 14rem;
            opacity: 0.6;
            transform: rotate(58deg);
        }
        #star4{
            left: -4rem;
            top: 13rem;
            opacity: 0.7;
            transform: rotate(45deg);
        }
        [cropper]{
            width : 18rem;
            height : 18rem;
            box-sizing: content-box;
            font-size: 7rem;
            line-height: 17rem;
            text-align: center;
            color: #FFF;
            background-color : @clr-text-info;
            .border-radius(50%);
            overflow : hidden;
            margin-right : 7rem;
            &:after{
                content: attr(data-letter);
            }
        }
        .cta{
            margin-right: 0 !important;
            padding: 0 0.5rem;
            .span{
                margin-right: 0 !important;
            }
            &.disabled > .span:before{
                color : @clr-text-info;
            }
        }
        ._avatar{
            position: absolute;
            left: -4rem;
            top: -4rem;
            bottom: -4rem;
            right : 6rem;
            z-index: 2;
            cursor: pointer;
        }
        .i-photo{
            display : none;
            position : absolute;
            color : @clr-twic;
            opacity: 0.5;
            top: 19rem;
            left: -1rem;

        }

    }
    .step-content{
        width : 100%;
        height : calc(~"100% - 5rem");
        #welcome1,#welcome2{
            margin: 2rem calc(~"50% - 8rem") 0;
        }
        #sf_avatar{
          background-size: cover;
        }
        .flexbox();
        .content {
            .flexbox();
            &.column{
                .flx-direction(column);
            }
            &.keywords{
                  height : 100%;
                  @media(min-width: 1025px){
                      padding : 5rem;
                  }
                  .keywords-title{
                      font-size: 5rem;
                      line-height: 5rem;
                      color : @clr-text-info;
                      font-weight: normal;
                      @media(max-width: 1024px){
                          margin : 2rem 0;
                      }
                  }
                  form, .input-block{
                      padding : 0;
                      margin : 0;
                  }
                  .input-block{
                      .i-search{
                          position: absolute;
                          left: 3rem;
                          top: calc(~"50% - 0.4rem");
                          color : @clr-text-info;
                          line-height: 1.6rem;
                          @media(max-width: 1024px){
                              left: 1rem;
                              top: calc(~"50% - 0.8rem");
                          }
                      }
                      input{
                         height : 3.4rem;
                         border : none;
                         .border-radius(1.7rem);
                         padding-left : 4rem;
                         font-size : initial;
                         font-weight: initial;
                         margin: 0.5rem 0 0 2rem;
                         @media(max-width: 1024px){
                            margin : 0;
                         }
                         background-color : @clr-background;
                      }
                  }
                  .hint{
                    font-weight: bold;
                    margin-top: 1.5rem;
                  }
                  .tags{
                      .flexbox();
                      .flx-wrap(wrap);
                      .justify-content(center);
                      .alignitems(center);
                      max-height: 20rem;
                      margin : auto 5rem;
                      @media(max-width: 1024px){
                          margin: auto 0;
                      }
                      overflow-y: auto;
                      .i2{
                          margin : 0 auto;
                          &:before{
                            color : @clr-text-info;
                            margin-right: 1rem;
                            line-height: 3rem;
                          }
                      }
                      .tag{
                          margin : 0 0.5rem 0.5rem 0;
                           &:not(.match){
                              opacity : 0.5;
                          }
                      }
                  }
            }
            animation: fadein 500ms;
            .flx-shrink(0);
            padding : 2rem 5rem;
            width : 100%;
            margin : auto 0;
            text-align : center;
            .instructions{
                .flx(1);
                padding-right : 7rem;
                &:only-child{ padding-right : 0;}
                .alignself(center);
                .title{
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 3rem;
                    .flexbox();
                    .alignitems(center);
                    .justify-content(center);
                    @media(max-width: 1024px){
                      .flx-direction(column);
                    }
                    &:before{
                        .flx-shrink(0);
                        margin-right: 0.5rem;
                    }
                }
                .hint{
                    color : @clr-text-info;

                }
                .cta{
                    width : 20rem;
                    margin : 2rem auto;
                }
            }
            .progress{
                .flx(1);
            }
            .cta.disabled{
                opacity : 0.2;
            }


            form{
                text-align: left;
                .flx(1);
                padding : 2rem;
                label{
                    font-weight: bold;
                }
                .input-block{
                    margin : 0;
                }
            }
        }

        .ctas{
            margin-top: auto;
        }
        .loader{
            height : 3rem;
            width : 3rem;
            margin : 1rem auto;
        }
        .user-suggestions{
            height: 100%;
            overflow-y : auto;
            .flexbox();
            .flx-wrap(wrap);

            .suggestion{
                .flexbox();
                .alignitems(center);
                width : 100%;
                .flx(1 0 100%);
                padding: 0rem 2rem 2.5rem 1rem;
                .i-user{
                    padding : 0 1rem;
                    &:before{
                       color : @clr-text-info;
                       font-size: 2rem;
                   }
                }
                .i-userpending{
                    .i-dropdown{
                        color : @clr-green;
                        position : absolute;
                        right : 2px;
                    }
                    &:before{
                        color : @clr-green;
                        font-size: 2rem;
                    }
                    padding : 0 1rem;
                }
                .user{
                    margin-right: auto;
                    max-width: calc(~"100% - 5rem");
                }
            }
        }
    }


}

@media(max-width : 1023px){
    #welcome-panel{
        width : 100vw;
        height : 100%;
        .border-radius(0);
        max-width: 100%;
        padding: 0 2rem 2rem 2rem;
        #welcome1,#welcome2{
            display : none;
        }
        margin : 0;
        box-shadow : none;
        .header{
            top : 1rem;
             .logo{
                height : 6rem;
                width : 6rem;
                left : calc(~"50% - 3rem");
            }
            .progression{
                top : -1rem;
                .border-radius(0);
            }
        }
        .step-content{
            .flx-direction(column);
            margin : 0 auto;
            padding : 9rem 2rem 3rem;
            .content{
                margin : auto 0;
                padding : 0;
                .flx-direction(column);
                .instructions{
                    padding-right: 0;
                }
            }
            .suggestions{
                margin : 2rem 0;
                .flx(1);
            }

            .editable-block{
                margin: 4rem auto;
                position : relative;
                .ctas{
                    position : absolute;
                    right : -8rem;
                    top : 0;
                }
                [cropper]{
                    height : 14rem;
                    width : 14rem;
                    line-height : 13rem;
                    margin-right: auto !important;
                    font-size : 5rem;
                }
                #circle{
                    width : 15rem;
                    height : 15rem;
                }
                #circle1{
                    width : 18rem;
                    height : 18rem;
                }
                #circle2{
                    width : 22rem;
                    height : 22rem;
                }
                #star3{
                    left : 13rem;
                }
            }
        }
        .ctas{
            max-width: 40rem;
            margin : 0 auto;
            .next{
                .flx(1);
            }
        }
    }
}
