#welcome-panel{
    height : 60rem;
    width : 80vw;
    max-width: 850px;
    padding : 14rem 3rem 1rem;
    margin : auto;
    .border-radius(0.5rem);
    box-shadow:  0 1px 1px @clr-social-border;
    position: relative;
    overflow : visible;
    box-sizing: border-box;
    *{
        box-sizing: inherit;
    }
    
    .close{
        position : absolute;
        right : 0;
        top : 0;
        font-size: 2rem;
        text-align: center;
        height : 4rem;
        line-height: 4rem;
        width : 4rem;
        color : @clr-header;
        cursor : pointer;
        &:hover{
            color : @clr-gray-hover;
        }
    }
    .header{
        position : absolute;
        position: absolute;
        top: -5rem;
        width: 40rem;
        left: calc(50% - 20rem);
        text-align: center;            

        h1{
            text-align: center;
            margin:0;
            line-height: 4rem;
            font-weight: 600;
            font-size: 2.6rem;
        }

        h2{
            text-align: center;
            margin:0;
            line-height: 2rem;
            font-weight: 300;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
        .logo{
            margin : 0 auto;
            height : 10rem;
            width : 10rem;
            background-size: cover;
            background-image: url('assets/img/logo.png');
        }
    }
    .steps{
        .flexbox();        
        .alignitems(center);
        .step{
            background-color : @clr-background2;
            font-size: 1.4rem;
            height : 4rem;
            line-height: 4rem;
            padding : 0 2.5rem 0 1.5rem;
            text-align: center;
            color : @clr-disabled;
            position: relative;
            .flx(1);
            white-space : nowrap;
            &.previous{
                background-color : @clr-background2;
                color : @clr-text;
                cursor : pointer;
            }
            &.current{
                font-weight: bold;
                background-color : @clr-twic;
                color : #FFF;
            }
            &:not(:first-of-type){
                padding-left : 3.5rem;
                &:after{
                    content: "";
                    border-left: 2rem solid white;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 0;
                }
            }
              
            &:not(:last-of-type){
                margin-right : 0.5rem;
                &:before{
                    content: "";
                    border-left: 2rem solid @clr-background2;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    position: absolute;
                    right: -2rem;
                    bottom: 0;
                    width: 0;
                    height: 0;
                }
                &.previous:before{
                    border-left: 2rem solid @clr-background2;
                }
                &.current:before{
                    border-left: 2rem solid @clr-twic;
                }
            }
        }
    }
    .editable-block{
        position : relative;
        
        [cropper]{
            box-sizing: content-box;
            font-size: 15rem;
            line-height: 23rem;
            text-align: center;
            color: #FFF;
            background-color : @clr-text-info;
            &:after{
                content: attr(data-letter);
            }
        }
        .cta{
            margin-right: 0 !important;
            padding: 0;
            .span{
                margin-right: 0 !important;
            }
            &.disabled > .span:before{
                color : @clr-text-info;
            }
        }
        .i-x{
            position : absolute;
            left: 20.5rem;
            padding : 0 1rem;
            z-index: 2;
            top: 0rem;
            &:hover:before{
                color : @clr-text-info;
            }
        }
        .i-photo{    
            position: absolute;
            left: 0rem;
            width: 24rem;
            font-size: 2rem;
            padding: calc(~"100% - 7.5rem") 0 0 1rem;
            height: 100%;
            /* padding: 0 1rem; */
            z-index: 2;
            cursor: pointer;
            bottom: 0rem;
            color : @clr-text-info;
        }

    }
    .step-content{
        width : 100%;
        height : calc(~"100% - 9rem");
        .flexbox();
        .flx-direction(column);
        .infos {
            width : 100%;
            .flexbox();
            .flx-shrink(0);
            padding : 2rem 5rem;
            margin : auto 0;
            .instructions{
                .flx(1);
                padding-right : 1rem;
                .alignself(center);
                .title{
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 4rem;
                }
                .hint{
                    color : @clr-text-info;

                }
                .cta{
                    width : 20rem;
                    margin-top : 2rem;
                }
            }
            .progress{
                .flx(1);
            }
        }
        .content{
            .flx(1);
            .flexbox();
            .flx-direction(column);
            overflow : hidden;
            .avatars{
                width : 90rem;
                .flexbox();
                .flx-wrap(wrap);
                margin : 1rem auto 4rem;
            }
            .sample{
                width : 7rem;
                height : 7rem;
                margin-bottom : 1rem;
                background-size : cover;
                &:not(:nth-of-type(12n)){
                    margin-right: 0.5rem;
                }
                border : solid 0.5rem #FFF;
                cursor : pointer;
                &.selected{
                    border : solid 0.5rem @clr-twic;
                }
                .border-radius(50%);
            }
            .dynamic_textarea{
                height : calc(~"100% - 6rem");
                textarea, [aria-hidden]{
                    .border-radius(2px);
                    background: @clr-background2 !important;
                    padding: 1rem 1rem 0;
                }
                textarea:focus{
                    background: @clr-light !important;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
                }
            }
            
            .ctas{
                margin-top: auto;
            }
        }
        form{
            background : @clr-background2;
            .flx(1);
            padding : 2rem;
            label{
                font-weight: bold;
            }
        }
    }
    .progress{
        position : relative;
        width : 100%;
        height : 5rem;
        margin : 1rem;
        background : @clr-background;
        .border-radius(2rem);
        border : solid 1rem @clr-background;
        line-height: 13rem;
        overflow : hidden;
        .count{
            position : absolute;
            z-index: 4;
            width : 100%;
            height : 100%;
            color : #FFF;
            font-size: 2rem;
            text-align: center;
        }
      
        .bar{
            transition : background-color, width 0.2s ease-in-out;
            position : absolute;
            bottom : 0;
            height : 100%;
            z-index: 3;
            background-color : @clr-twic;
        }
    }
    
    .loader{
        height : 3rem;
        width : 3rem;
        margin : 1rem auto;
    }
    .suggestions{
        max-height: calc(~"100% - 3rem");
        overflow-y : auto;
        .flexbox();
        .flx-wrap(wrap);
        margin-bottom: 1rem;
    }
    .suggestion{
        .flexbox();
        .alignitems(center);
        width : 50%;
        .flx(1 0 50%);
        padding : 1rem 4rem 1.5rem 1rem;
        .i-user{
            padding : 0 1rem;
            &:before{
               color : @clr-text-info;
               font-size: 2rem;
           }   
        }
        .i-userpending{
            border-color : @clr-orange;
            .i-dropdown{
                color : @clr-orange;
                position : absolute;
                right : 2px;
            }
            &:before{
                color : @clr-orange;
                font-size: 2rem;
            }
            padding : 0 1rem;
        }
        .user{
            margin-right: auto;
        }
    }
  
}