
<div class="infos" ng-transclude></div>

<div class="ctas">
    <div class="status" ng-show="ictrl.isParsing || ictrl.isChecking">
        <loader></loader>
        <span ng-show="ictrl.isParsing">Parsing csv file...</span>
        <span ng-show="ictrl.isChecking">Checking datas...</span>
    </div>
    <input id="import" name="import" class="for_screen_reader"  type="file" fileselect="ictrl.onCSVLoaded" accept=".csv" >
    <label for="import" class="cta green" >
        Select a file (.csv)
    </label>
    <button class="cta green" ng-click="ictrl.submit()" ng-show="ictrl.isChecked">Import datas</button>
</div>

<div class="errors" ng-if="ictrl.hasErrors()">
    <div class="subtitle">Errors:</div>
    <div class="err" ng-repeat="err in ictrl.errors.fields">{{ ::err.message }}</div>
    <div class="err" ng-repeat="err in ictrl.errors.parsing">{{ ::err.message }}</div>
    <div class="err" ng-if="ictrl.errors.rowcount">{{ ::ictrl.errors.rowcount+' rows contains errors.' }}</div>
</div>

<div class="preview" ng-if="ictrl.pagination.items.length">
    
    <legend>Preview</legend>

    <table class="table nobb">
        <thead>
            <tr>
                <th ng-repeat="field in ictrl.fields">{{ field }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in ictrl.pagination.page" ng-class="{invalid:datum.error}">
                <td ng-repeat="field in ictrl.fields">
                    <input ng-if="datum.error" ng-model="datum[field]" type="text">
                    <span ng-if="!datum.error">{{ datum[field] }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="ctas">
        <button type="button" class="cta light left" ng-click="ictrl.pagination.refresh(ictrl.pagination.current-1)"><< Previous</button>
        <label>
            <input ng-model="ictrl.pagination.itemperpage" type="number" min="1" ng-change="ictrl.pagination.refresh()">
            <span>users / page</span>
        </label>

        <label>
            <input ng-model="ictrl.pagination.current" type="number" min="1" max="{{ ictrl.pagination.total() }}"
                ng-change="ictrl.pagination.refresh()">
            <span> on {{ ictrl.pagination.total() }}</span>
        </label>
        <button type="button" class="cta light right" ng-click="ictrl.pagination.refresh(ictrl.pagination.current+1)">Next >></button>
    </div>
</div>    

