<button class="i i-x hidepostbtn" ng-click="ctrl.hide()" title="Hide this post">
    <span class="for_screen_reader">Hide this post</span>
</button>
<!--<div class="date">{{ p.datum.created_date|since }}</div>-->

<div class="visuals">

    <div class="i16 i-user decoration"></div>
    <a class="avatar lrg" ng-if="users[cctrl.contact].datum" data-letter="{{ !users[cctrl.contact].datum.avatar && users[cctrl.contact].datum|userinitial }}"
       ui-sref="lms.profile({id:cctrl.contact})" title="View {{ ::users[cctrl.contact].datum|username }} profile"
       image-onload="{{ users[cctrl.contact].datum.avatar }}"
       image-size="[80,'m',80]">
       <div class="avatar xm"
            ng-if="pages[users[cctrl.contact].datum.organization_id].datum.logo"
           image-size="[80,'m',80]"
           image-onload="{{pages[users[cctrl.contact].datum.organization_id].datum.logo}}"></div>
    </a>
</div>

<a class="title u" ui-sref="lms.profile({id:cctrl.contact})"
   title="View {{ ::users[cctrl.contact].datum|username }} profile">{{ ::users[cctrl.contact].datum|username }}</a>
<div class="txt">{{ cctrl.text }}</div>

<div class="ctas" ng-if="cctrl.has_actions">
    <button class="cta white" ng-click="cctrl.declineRequest()">Decline</button>
    <button class="cta green" ng-click="cctrl.acceptRequest()">Accept</button>
</div>
