<div class="shared-on" ng-if="ctrl.editedPost.shared_id && sharingType === 'page'">
  Shared on
  <div dropdown class="classic center dropdown"  ng-if="!isprivate">
      <button dropdown-toggle>
         <span>{{ ctrl.pages[ctrl.editedPost.t_page_id].datum.title}}</span>
         <span class="i12 i-dropdown"></span>
      </button>
      <div dropdown-content>
        <button ng-click="ctrl.setTarget(target);"
                ng-repeat="target in ctrl.targets"
                type="button">
          <div class="avatar xs"
              ng-style="ctrl.pages[target].datum.logo
                || ctrl.page[target].datum.background | dmsbgurl : [80,'m',80]"
                ng-class="[!ctrl.pages[target].datum.logo
                  && ! ctrl.pages[target].datum.background
                  && ctrl.icons[ctrl.pages[target].datum.type]]">
          </div>
           {{ ctrl.pages[target].datum.title}}
        </button>

      </div>
  </div>
  As
  <div dropdown class="classic center dropdown">
      <button class="light cta dropdown" dropdown-toggle type="button">
          <div class="avatar xs"  image-size="[80,'m',80]"
          image-onload="{{ctrl.me.datum.avatar }}"
          ng-if="!ctrl.is_announcement"
          data-letter="{{  !ctrl.me.datum.avatar && ctrl.me.datum.firstname ? (ctrl.me.datum|userinitial) : null}}"></div>
          <div class="avatar xs"
              ng-style="(ctrl.pages[ctrl.editedPost.t_page_id].datum.logo
                || ctrl.pages[ctrl.editedPost.t_page_id].datum.background) | dmsbgurl : [80,'m',80]"
              ng-if="ctrl.is_announcement"
              ng-class="[!ctrl.pages[ctrl.editedPost.t_page_id].datum.logo
                && ! ctrl.pages[ctrl.editedPost.t_page_id].datum.background
                && ctrl.icons[ctrl.pages[ctrl.editedPost.t_page_id].datum.type]]">
          </div>
          <span  ng-if="ctrl.is_target_admin " class="i12 i-dropdown "></span>
      </button>
      <div dropdown-content >
          <button ng-click="ctrl.is_announcement = false;" type="button"
                  ng-if="ctrl.is_target_admin ">
            <div class="avatar xs"   image-size="[80,'m',80]"
            image-onload="{{ctrl.me.datum.avatar }}"

            data-letter="{{  !ctrl.me.datum.avatar && ctrl.me.datum.firstname ? (ctrl.me.datum|userinitial) : null}}"></div>
                Post as you
          </button>
          <button ng-click="ctrl.is_announcement = true;" type="button"
                  ng-if="ctrl.is_target_admin">
            <div class="avatar xs"

                ng-style="ctrl.pages[ctrl.editedPost.t_page_id].datum.logo
                  || ctrl.pages[ctrl.editedPost.t_page_id].datum.background | dmsbgurl : [80,'m',80]"
                  ng-class="[!ctrl.pages[ctrl.editedPost.t_page_id].datum.logo
                    && !ctrl.pages[ctrl.editedPost.t_page_id].datum.background
                    && ctrl.icons[ctrl.pages[ctrl.editedPost.t_page_id].datum.type]]">
            </div>
              Post as {{ ctrl.pages_config[ctrl.pages[ctrl.editedPost.t_page_id].datum.type].label }}
          </button>

      </div>
  </div>

</div>
<div text-editor="ctrl.editedPost.content"
    placeholder="Type your message here..."
    ng-paste="ctrl.onContentPaste"
    mentions="{ callback : ctrl.searchAt, container : '#posteditor-at' }"
    gettext="ctrl.getContent" toolbar="false">

</div>
<div  id="posteditor-at"></div>
<div  post="ctrl.editedPost.shared_id"
      class="post"
      hideactions="true"
      ng-if="ctrl.editedPost.shared_id"></div>
<div class="link" ng-if="ctrl.editedPost.link_desc || ctrl.editedPost.picture">
    <div class="linkbg" ng-style="ctrl.editedPost.picture|dmsbgurl"
         ng-if="ctrl.editedPost.picture"></div>
    <div class="linkct">
        <button class="i-x" title="Remove this link" ng-click="ctrl.removeLink()">
            <span class="for_screen_reader">Remove this link</span>
        </button>
        <h2 class="t">{{ ctrl.editedPost.link_title }}</h2>
        <div class="d">{{ ctrl.editedPost.link_desc }}</div>
    </div>
</div>

<div class="files" ng-if="!comment">
    <div ng-if="ctrl.attachments.length" class="head">{{ ctrl.printAttachmentCount() }}</div>

    <button ng-repeat="attachment in ctrl.attachments" title="Remove from attachments"
        ng-click="ctrl.removeAttachment( attachment )" class="file">
        <span class="i-x"></span>
        <span class="name">{{ attachment.name }}</span>
        <span class="for_screen_reader">Remove this from attachments</span>

        <span class="upload_state">
            <span class="u-done" ng-if="attachment.token">Uploaded</span>
            <span class="u-bar" ng-if="!attachment.token">
                <span class="u-label">Uploading... ({{attachment.progression}}%)</span>
                <span class="u-progress" ng-style="{width:attachment.progression+'%'}"></span>
            </span>
        </span>
    </button>
</div>

<div class="pefileinput" ng-if="!comment">
    <input id="pe-file" type="file" class="for_screen_reader" fileselect="ctrl.addAttachment">
</div>

<div class="ctas right">

    <label class="cta light i-attach i16" for="pe-file" title="Add a document">
        <span class="for_screen_reader">Add file</span>
    </label>
    <button class="cta white" ng-click="ctrl.closeModal($event)"
        title="Cancel">Cancel</button>

    <button class="cta green" type="submit"
        title="Update your post" ng-click="ctrl.update()"
        ng-class="{disabled:!ctrl.canSend()}">
        <span>{{ ctrl.editedPost.shared_id ? 'Post' : 'Update' }}</span>
    </button>
</div>
