
<div class="p-loading" ng-if="!ctrl.loaded && !ctrl.unavailable">
    <div class="p-circle"></div>
    <div class="p-head">
        <div class="p-name"></div>
        <div class="p-school"></div>
    </div>

    <div class="p-desc">
        <div class="p-desc-line"></div>
        <div class="p-desc-line"></div>
        <div class="p-desc-line"></div>
        <div class="p-desc-line"></div>
    </div>
</div>
<div ng-if="ctrl.unavailable" class="post unavailable">
    This post is unavailable.
</div>
<div ng-if="ctrl.loaded" id="post_{{p.datum.id}}">
    <!-- POST HEAD: last update information -->
    <div ng-if="ctrl.hasUpdate() && ctrl.isCommon() && p.datum.subscription.user_id !== me && !hideactions" class="update">
        <a ui-sref="lms.profile({id:p.datum.subscription.user_id})"
           title="Go to {{::users[p.datum.subscription.user_id].datum|username}} profile">
            <span class="{{ ::ctrl.getUpdateIcon() }}"></span>
            <span class="u">{{ ::users[p.datum.subscription.user_id].datum|username }}</span>
        </a>
        <span class="type">{{ ctrl.getUpdateText() }}</span>
        <span class="date">{{ p.datum.subscription.last_date|since }}</span>
    </div>

    <!-- IF CONNECTION POST -->
    <div connection-post ng-if="p.datum.type === 'connection'" class="ctr_content"></div>

    <!-- IF USER AVATAR UPD -->
    <div ng-if="p.datum.type === 'user'" class="ctr_content">
        <button class="i i-x hidepostbtn" ng-click="ctrl.hide()" title="Hide this post">
            <span class="for_screen_reader">Hide this post</span>
        </button>
        <!--<div class="date">{{ p.datum.created_date|since }}</div>-->
        <div class="visuals">
            <a class="avatar lrg" data-letter="{{ !users[p.datum.user_id].datum.avatar && users[p.datum.user_id].datum|userinitial }}"
               ui-sref="lms.profile({id:p.datum.user_id})" title="View {{ ::users[p.datum.user_id].datum|username }} profile"
               ng-style="::users[p.datum.user_id].datum.avatar|dmsbgurl : [80,'m',80]">
               <div class="avatar xm" ng-if="pages[users[p.datum.user_id].datum.organization_id].datum.logo"
                    ng-style="::pages[users[p.datum.user_id].datum.organization_id].datum.logo|dmsbgurl : [80,'m',80]"></div>
            </a>
        </div>
        <a class="title u" title="View {{ ::users[p.datum.user_id].datum|username }} profile"
           ui-sref="lms.profile({id:p.datum.user_id})">{{ ::users[p.datum.user_id].datum|username }}</a>
        <div class="txt">has a new profile picture.</div>
    </div>

    <!-- IF PAGE POST -->
    <div page-post class="ctr_content" ng-if="ctrl.isPagePost()"></div>


    <!-- IF COMMON POST -->
    <div ng-if="ctrl.isCommon()" class="content">
        <div class="user" ng-if="!ctrl.fromCourse()">

            <div dropdown class="right ph-dropdown" ng-if="ctrl.hasOptions() && !hideactions">
                <button class="i-dots" dropdown-toggle title="Open options">
                    <span class="for_screen_reader">Open options</span>
                </button>
                <div dropdown-content>
                    <button ng-click="ctrl.edit($event)" ng-if-start="ctrl.isOwner() || admin">
                        <strong>Edit</strong> this post
                    </button>
                    <button ng-click="ctrl.remove()" ng-if-end ng-if="!p.datum.item_id">
                        <strong>Remove</strong> this post
                    </button>
                    <button ng-click="ctrl.report()" ng-if="!ctrl.isOwner()">
                        <strong>Report</strong> this post
                    </button>
                </div>
            </div>

            <div class="date">{{ p.datum.created_date|since }}</div>
            <a class="avatar med" ng-if-start="ctrl.isAnnouncement()"  data-letter="{{ ::!pages[p.datum.page_id].datum.background && !pages[p.datum.page_id].datum.logo && pages[p.datum.page_id].datum|pageletter }}"
               ui-sref="lms.page({id:p.datum.page_id, type : pages[p.datum.page_id].datum.type })"
               title="Go to &quot;{{ ::pages[p.datum.page_id].datum.title }}&quot; page"
               ng-style="(pages[p.datum.page_id].datum.background||pages[p.datum.page_id].datum.logo)|dmsbgurl : [80,'m',80]">
            </a>

            <a title="Go to &quot;{{ ::pages[p.datum.page_id].datum.title }}&quot; page" ng-if-end
               ui-sref="lms.page({id:p.datum.page_id,type:pages_config[pages[p.datum.page_id].datum.type].label })"
               class="name u inlining">{{ ::pages[p.datum.page_id].datum.title }}</a>

            <span class="inlining"  ng-if="p.datum.shared_id && ctrl.isAnnouncement()"> shared a post </span>

            <a  ng-if="!ctrl.isAnnouncement()"
              class="avatar med" data-letter="{{ ::!users[p.datum.user_id].datum.avatar && users[p.datum.user_id].datum|userinitial }}"
               ui-sref="lms.profile({id:p.datum.user_id})" title="View {{ ::users[p.datum.user_id].datum|username }} profile"
               ng-style="users[p.datum.user_id].datum.avatar|dmsbgurl : [80,'m',80]">
               <div class="avatar xs"
                    ng-style="::pages[users[p.datum.user_id].datum.organization_id].datum.logo|dmsbgurl : [80,'m',80]"></div>
            </a>

            <a class="name u inlining" ng-if="!ctrl.fromPage() && !ctrl.isAnnouncement()" title="View {{ ::users[p.datum.user_id].datum|username }} profile"
               ui-sref="lms.profile({id:p.datum.user_id})">{{ ::users[p.datum.user_id].datum|username }} <span class="graduation">{{ ::users[p.datum.user_id].datum|graduation}}</span></a>

           <span class="inlining"  ng-if="p.datum.shared_id && !ctrl.isAnnouncement()"> shared a post </span>

            <a class="school u" ng-if="!ctrl.fromPage() && !ctrl.isAnnouncement()"
               title="View {{ ::pages[users[p.datum.user_id].datum.organization_id].datum.name }} page"
               ui-sref="lms.page({id:users[p.datum.user_id].datum.organization_id,type:'institution'})"
               >{{ ::pages[users[p.datum.user_id].datum.organization_id].datum.title }}</a>

            <a class="name u inlining" ng-if="ctrl.fromPage() && !ctrl.isAnnouncement()" title="View {{ ::users[p.datum.user_id].datum|username }} profile"
               ui-sref="lms.profile({id:p.datum.user_id})">{{ ::users[p.datum.user_id].datum|username }}</a><!--
            --><span class="inlining in" ng-if-start="ctrl.fromPage() && inpage != p.datum.t_page_id && !ctrl.isAnnouncement()">in</span><!--
            --><a class="u inlining" ng-if-end ui-sref="lms.page({id:p.datum.t_page_id, type : pages[p.datum.t_page_id].datum.type })"
               title="Go to {{ ::pages[p.datum.t_page_id].datum.title }}">{{ ::pages[p.datum.t_page_id].datum.title }}</a>
            <span class="publisher inlining"  ng-if="ctrl.isAnnouncement() && is_admin">
                Published by
                <a class="u inlining"ui-sref="lms.profile({id:p.datum.user_id})"
                         title="Go to &quot;{{ ::users[p.datum.user_id].datum | username }}&quot; profile">{{ users[p.datum.user_id].datum | username : true }}</a>

            </span>

        </div>

        <div class="user" ng-if="ctrl.fromCourse()">
            <a class="avatar med" data-letter="{{ ::!pages[p.datum.t_page_id].datum.background && !pages[p.datum.t_page_id].datum.logo && pages[p.datum.t_page_id].datum|pageletter }}"
               ui-sref="lms.page({id:p.datum.t_page_id, type : pages[p.datum.t_page_id].datum.type })"
               title="Go to &quot;{{ ::pages[p.datum.t_page_id].datum.title }}&quot; course"
               ng-style="(pages[p.datum.t_page_id].datum.background||pages[p.datum.t_page_id].datum.logo)|dmsbgurl : [80,'m',80]">
            </a>

            <a title="Go to &quot;{{ ::items[p.datum.item_id].datum.title||'Untitled' }}&quot; element"
               ng-if="!ctrl.isAnnouncement()"
               ui-sref="lms.page.content({id:p.datum.t_page_id,type:'course',item_id:p.datum.item_id })"
               class="name u inlining">{{ ::items[p.datum.item_id].datum.title||'Untitled' }}</a><!--
            --><span class="inlining in" ng-if-start="inpage != p.datum.t_page_id">in</span><!--
            --><a class="u inlining" ng-if-end ui-sref="lms.page({id:p.datum.t_page_id, type : pages[p.datum.t_page_id].datum.type })"
               title="Go to &quot;{{ ::pages[p.datum.t_page_id].datum.title }}&quot; course">{{ ::pages[p.datum.t_page_id].datum.title }}</a>

            <div class="item_infos">
                <span class="points"
                    ng-if="items[p.datum.item_id].datum.points">{{ ::items[p.datum.item_id].datum.points+' points'}}</span>
                <span class="due_date"
                    ng-if="items[p.datum.item_id].datum.end_date">Due on {{ ::items[p.datum.item_id].datum.end_date | textDate }}</span>
            </div>

        </div>


        <div class="ct" id="post_ct_{{p.datum.id}}" ng-if="p.datum.content"
            ng-class="{ collapsed : !p.datum.displayed }"
            ng-bind-html="p.datum.content | linky:'_blank' | usermention | trustHtml">

        </div>
         <div class="read-more" ng-if="p.datum.content"  onrefresh="ctrl.onpostupdate"
              ng-class="{ collapsed : !p.datum.displayed}"
            read-more="#post_ct_{{p.datum.id}}" >
           <button class="cta white" ng-if="!p.datum.displayed " ng-click="p.datum.displayed = true; $event.stopPropagation()">
               Read more
               <span class="i-dropdown" ></span>
           </button>

           <button
              class="cta white" ng-if="p.datum.displayed "
              ng-click="ctrl.scrollToPost(); p.datum.displayed = false; $event.stopPropagation()">
               Collapse
               <span class="i-arrow-up" ></span>
           </button>
        </div>

        <linkblock ng-if="p.datum.link"
            link-title="p.datum.link_title" link-url="p.datum.link"
            link-desc="p.datum.link_desc" link-picture="p.datum.picture"></linkblock>

        <!--<a class="link" ng-if="p.datum.link" href="{{ ::p.datum.link }}"
           title="Open {{ ::p.datum.link_title }}" target="_blank">
            <div class="linkbg" ng-style="::p.datum.picture|dmsbgurl" ng-if="p.datum.picture"></div>
            <div class="linkct">
                <h2 class="t">{{ ::p.datum.link_title }}</h2>
                <div class="d">{{ ::ctrl.link_desc }}</div>
            </div>
        </a>-->

        <div class="videos" ng-if="p.datum.videos.length">
            <videoplayer ng-repeat="video in p.datum.videos" doc="video"></videoplayer>
        </div>

        <div class="audios" ng-if="p.datum.audios.length">
            <audioplayer ng-repeat="audio in p.datum.audios" doc="audio"></audioplayer>
        </div>

        <div class="picsAndDocs" ng-if="p.datum.picsAndDocs.length">
            <div class="vignet" ng-repeat="pod in p.datum.picsAndDocs.slice(0, p.datum.picsAndDocs.length==5&&5||4 )"
                 ng-class="{even:$even, focused: d||v}">
                <div class="file" ng-if="pod.type.slice(0,6)!=='image/'">
                    <div class="name">{{ ::pod.name }}</div>
                    <div class="i3 i-file"></div>
                </div>

                <div class="picture" ng-if="pod.type.slice(0,6)==='image/'"
                     ng-style="::pod.token|dmsbgurl:[$last ? 560 : 275, 'm', 150]"></div>

                <button class="overlay" ng-click="ctrl.openPicAndDoc( $index+1, $event )"
                    title="Open {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }} in viewer"
                    ng-focus="v=true" ng-blur="v=false">
                    <span class="for_screen_reader">Open {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }} in viewer</span>
                </button>

                <!--<div class="overlay">
                    <button ng-click="ctrl.openPicAndDoc( $index+1, $event )"
                        title="Open {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }} in viewer"
                        ng-focus="v=true" ng-blur="v=false">
                        <span class="i24 i-eye"></span>
                        <span>View</span>
                        <span class="for_screen_reader">Open {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }} in viewer</span>
                    </button>
                    <a ng-if="!app.isApp" download href="{{ ::(pod.token||pod.link) | dwnlink }}"
                        title="Download {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }}"
                        ng-focus="d=true" ng-blur="d=false">
                        <span class="i24 i-download"></span>
                        <span>Download</span>
                        <span class="for_screen_reader">Download {{ ::(pod.type.slice(0,6)!=='image/'&&'document'||'picture') }}</span>
                    </a>
                </div>-->
            </div>

            <div class="largevignet" ng-if="p.datum.picsAndDocs.length > 5">
                <div class="file" ng-if="p.datum.picsAndDocs[4].type.slice(0,6)!=='image/'">
                    <div class="name">{{ ::p.datum.picsAndDocs[4].name }}</div>
                    <div class="i3 i-file"></div>
                </div>

                <div class="picture" ng-if="p.datum.picsAndDocs[4].type.slice(0,6)==='image/'"
                     ng-style="::p.datum.picsAndDocs[4].token|dmsbgurl"></div>

                <button class="overlay" title="Click to see the remaining {{ ::p.datum.picsAndDocs.length-4 }} items."
                    ng-click="ctrl.openPicAndDoc( 5, $event )">
                    <span class="more">
                        <span>+</span>
                        <span>{{ ::p.datum.picsAndDocs.length-4 }}</span>
                    </span>
                    <span>Click to see more</span>
                </button>
            </div>
        </div>
    </div>
    <!-- IF POST SHARED -->
    <div class="post" post="p.datum.shared_id"
          ng-if="p.datum.shared_id && !hideactions && !ctrl.sharing_unavailable"
          hideactions="true"
          ng-click="ctrl.onSharingClick($event)">
    </div>
    <div class="post unavailable" ng-if="ctrl.sharing_unavailable">
        This post is no longer available.
    </div>

    <!-- ACTIONS -->
    <div class="actions" ng-if="ctrl.isCommon() && !hideactions">


        <button class="left like" ng-click="ctrl.toggleLike()"
            ng-class="{ active : p.datum.is_liked}"
            title="{{ p.datum.is_liked&&'Unlike this post'||'Like this post'}}">
            <span class="i12 i-heart"></span>
            <span>&nbsp;{{ p.datum.is_liked&&'Unlike'||'Like'}}</span>
        </button>

        <button class="left reply" title="Comment this post" ng-click="ctrl.reply()">
            <span class="i12 i-comment"></span>
            <span>&nbsp;Comment</span>
        </button>

        <div dropdown class="dropdown"  ng-if="!isprivate && !ctrl.sharing_unavailable">
            <button class="left share"
                dropdown-toggle
                title="Share this post">
                <span class="i-share"></span>
                <span>&nbsp;Share</span>
            </button>
            <div dropdown-content>
                <button type="button" ng-click="ctrl.share($event)">
                    Share
                </button>
                <button type="button" ng-click="ctrl.share($event, 'page')">
                    Share on page
                </button>

            </div>
        </div>

        <div class="right post_counts" ng-if="p.datum.nbr_likes  || p.datum.nbr_sharings">
            <button ng-if="p.datum.nbr_likes" ng-click="ctrl.viewLikes($event)"
               title="{{ p.datum.nbr_likes }} people like this">
               <span class="i1 i-heart"></span>  <b>{{ p.datum.nbr_likes }}</b>
            </button>
            <button ng-if="p.datum.nbr_sharings" ng-click="ctrl.viewSharings($event)"
              title="{{ p.datum.nbr_sharings }} people shared this">
                <span class="i12 i-share"></span>   <b>{{ p.datum.nbr_sharings }}</b>
            </button>
        </div>
    </div>

    <!-- COMMENTS -->
    <div comments="p.datum.id" showlast="showlast" showinput="showinput" class="comments"
         ng-if="ctrl.isCommon() && !hideactions" reply="ctrl.reply" admin="admin" highlight="highlightComments"></div>

</div>
