
<div id="hangout">  
    <div id="calling" ng-if="ctrl.has_call">
        <div class="you-are-calling">Calling...</div>
        <div class="avatar i-ringing" ng-if="ctrl.hangouts.hasDemand(conversation.id) || ctrl.hgt_params.has_hangout() == conversation.id" >
            <div class="spinner"></div>
        </div>
        <div class="ctas center">
            <button class="cta red i-hang-up"  ng-if="ctrl.hgt_params.has_hangout() == conversation.id"
                ng-click="ctrl.leaveHangout()"></button>
        </div>
     
    </div>
    <div id="hgt-responsive-options" class="ctas" ng-if-start="!ctrl.has_call" >
        <button class="cta i-comment" ng-class="{ green : ctrl.selected_column === ctrl.cvn_columns.CHAT }" ng-click="ctrl.selected_column = ctrl.cvn_columns.CHAT">
            
        </button>
        <button class="cta i-camera" ng-class="{ green : ctrl.selected_column === ctrl.cvn_columns.STREAMS }" ng-click="ctrl.selected_column = ctrl.cvn_columns.STREAMS">
            
        </button>
        <button class="cta i-members" ng-class="{ green : ctrl.selected_column === ctrl.cvn_columns.OPTIONS }" ng-click="ctrl.selected_column = ctrl.cvn_columns.OPTIONS">
            
        </button>
        <button class="cta i-hang-up"  ng-if="ctrl.hangout" ng-click="ctrl.leaveHangout()" >
            
        </button>
    </div>
    <div id="hgt-left-column"  ng-class="{ selected : ctrl.selected_column === ctrl.cvn_columns.CHAT }">
        <div id="hgt-chat" class="box">
            <div class="hgt-conversations-tabs ctas" >
                <button class="cta public" ng-class="{ selected : ctrl.selected_conversation === ctrl.conversation.datum }"
                     ng-click="ctrl.selected_conversation = ctrl.conversation.datum; ctrl.unreadPublic = 0">
                    {{ ctrl.users.length > 2 ? 'Public' : 'Conversation' }}
                    <div  ng-if="ctrl.unreadPublic" class="hgt-unread">
                        {{ ctrl.unreadPublic }}
                    </div>
                </button>
                <button class="cta private"  ng-if="ctrl.users.length > 2"
                    title="Click on attendees to chat with them privately"
                    ng-class="{ 
                        selected : ctrl.selected_conversation === ctrl.private_conversation,
                        disabled : !ctrl.private_conversation
                    }"
                    ng-click="ctrl.private_conversation && ctrl.openConversation(null, ctrl.private_conversation)">
                    <div class="avatar xs" title="{{ ctrl.user_model[uid].datum|username }}" data-letter="{{ ctrl.user_model[uid].datum|userletter }}" 
                        ng-if="ctrl.private_conversation &&uid !== ctrl.me.id" 
                        ng-repeat-start="uid in ctrl.private_conversation.users"
                        ng-style="ctrl.user_model[uid].datum.avatar|dmsbgurl : [80,'m',80]" image-onload="{{ ctrl.user_model[uid].datum.avatar | dmslink: [80,'m',80]}}">
                    </div>
                    <div ng-repeat-end  ng-if="ctrl.private_conversation && ctrl.unreadConversations[uid]" class="hgt-unread">
                        {{ ctrl.unreadConversations[uid] }}
                    </div>
                    <span>Private</span>
                </button>
            </div>
          
            
            <div ng-repeat="conversation in ctrl.conversations" 
                ng-if="ctrl.selected_conversation && conversation === ctrl.selected_conversation" 
                videoconversation="conversation"></div>
        </div>
    </div>
    <div id="hgt-center-column" ng-class="{ selected : ctrl.selected_column === ctrl.cvn_columns.STREAMS }">
        <div id="primary-stream">
            <div class="stream-block primary"  ng-if="ctrl.primary_stream" 
                 ng-class="{ 'without-video' : !ctrl.hangout.streams[ctrl.primary_stream].data.hasVideo}" >
                <div class="user" user="ctrl.hangout.streams[ctrl.primary_stream].user_id"></div>
                <div tbstream="ctrl.hangout.streams[ctrl.primary_stream]" class="stream"></div>
                <div class="stream-footer">
                    <button class='i16 i-expand off'
                        ng-if="ctrl.hangout.streams[ctrl.primary_stream].data.hasVideo"
                        ng-click="ctrl.hangout.streams[ctrl.primary_stream].toggleFullScreen()" ></button>
                     <button class='i16 i-camera' 
                        ng-click="ctrl.hangout.streams[ctrl.primary_stream].user_id === ctrl.me.id ? ctrl.toggleCamera() : ctrl.hangout.streams[ctrl.primary_stream].toggleVideo()"
                       ng-if="ctrl.primary_stream === 'camera'"
                       ng-class="{
                           'on' : ctrl.hangout.streams[ctrl.primary_stream].data.video,
                           'off' : !ctrl.hangout.streams[ctrl.primary_stream].data.video
                       }"></button>
                    <button class='i16' 
                            ng-click="ctrl.hangout.streams[ctrl.primary_stream].user_id === ctrl.me.id ? ctrl.toggleMicrophone() : ctrl.hangout.streams[ctrl.primary_stream].toggleSound()"
                        ng-if="ctrl.hangout.streams[ctrl.primary_stream].data.videoType === 'camera'"
                       ng-class="{
                            'i-micro' : ctrl.hangout.streams[ctrl.primary_stream].user_id === ctrl.me.id,
                            'i-volume-up' : ctrl.hangout.streams[ctrl.primary_stream].user_id !== ctrl.me.id && ctrl.hangout.streams[ctrl.primary_stream].data.audio,
                            'i-volume-off' : ctrl.hangout.streams[ctrl.primary_stream].user_id !== ctrl.me.id && !ctrl.hangout.streams[ctrl.primary_stream].data.audio,
                           'on' : ctrl.hangout.streams[ctrl.primary_stream].data.audio,
                           'off' :  !ctrl.hangout.streams[ctrl.primary_stream].data.audio
                       }"></button>
                    <button class='i16 i-x off' ng-if="ctrl.is_admin && ctrl.hangout.streams[ctrl.primary_stream].user_id !== ctrl.me.id" ng-click="ctrl.hangout.forceUnpublish(ctrl.primary_stream)"></button>
                </div>
            </div>
            <div class="hgt-empty-streams">
                 No stream to display.
            </div>
        </div>
           <div id="hgt-streams">
            <div  ng-click="ctrl.setMainStream(stream)"
                 ng-class="{ 'without-video' : !stream.data.hasVideo, 'mine' : stream.user_id === ctrl.me.id }" 
                 class="stream-block" ng-repeat="stream in ctrl.hangout.streams"  
                ng-if="ctrl.primary_stream !== stream.id " >
                <button type="button" class="user" user="stream.user_id"></button>
                <div tbstream="::stream" class="stream"></div>
                <div class="stream-footer">
                    <button class="i16 i-expand off" title="{{ stream.expanded&&'Leave fullscreen'||'Fullscreen' }}" 
                        ng-click="stream.toggleFullScreen(); $event.stopPropagation();" ></button>

                    <button class="i16 i-camera" title="Turn camera {{ stream.data.video&&'off'||'on' }}"
                        ng-if="stream.id === 'camera'"
                        ng-click="ctrl.toggleCamera(); $event.stopPropagation();" 
                        ng-class="{'on':stream.data.video,'off':!stream.data.video}"></button>
                    
                    <button class="i16 i-micro" title="Turn microphone {{ stream.data.audio&&'off'||'on'}}" 
                        ng-if="stream.data.videoType === 'camera'" 
                        ng-click="ctrl.toggleMicrophone(); $event.stopPropagation();"
                        ng-class="{
                            'on' : stream.data.audio,
                            'off' :  !stream.data.audio
                        }"></button>

                    <button class="i16" title="{{ steam.data.audio&&'Mute'||'Unmute' }}" 
                        ng-if="stream.user_id!==ctrl.me.id" 
                        ng-click="stream.toggleSound(); $event.stopPropagation();"
                        ng-class="{
                            'i-volume-up': stream.user_id !== ctrl.me.id && stream.data.audio,
                            'i-volume-off': stream.user_id !== ctrl.me.id && !stream.data.audio,
                            'on': stream.data.audio,
                            'off':  !stream.data.audio
                        }"></button>

                    <button class='i16 i-x off' ng-if="ctrl.is_admin && stream.user_id !== ctrl.me.id" ng-click="ctrl.hangout.forceUnpublish(stream); $event.stopPropagation();"></button>
                </div>
            </div>
        </div>
    </div>
     <div id="hgt-right-column" ng-if-end ng-class="{ selected : ctrl.selected_column === ctrl.cvn_columns.OPTIONS }">
         
         <div id="hgt-options" class="box" ng-if="ctrl.cvn_type === ctrl.cvn_types.HANGOUT || ctrl.is_admin">
            <div class="avatar med"  data-letter="{{ ctrl.me|userletter }}"
                ng-style="ctrl.me.avatar|dmsbgurl : [80,'m',80]" image-onload="{{ctrl.me.avatar | dmslink : [80,'m',80]}}">
            </div>
            <div class="title"><b>{{ ctrl.me | username }}</b></div>
            <button class='i16 i-micro u' ng-click="ctrl.toggleMicrophone()"
                title="{{ ctrl.getMicrophoneLabel() }}" 
                ng-class="{'on':ctrl.current_sharings.microphone,'off':!ctrl.current_sharings.microphone}">
                {{ ctrl.getMicrophoneLabel() }}
            </button>  
            <button class="i16 i-camera u" ng-click="ctrl.toggleCamera()"
                title="{{ ctrl.getCameraLabel() }}"
                ng-class="{'on':ctrl.current_sharings.camera,'off':!ctrl.current_sharings.camera}"> 
                {{ ctrl.getCameraLabel() }}
            </button>
            <button class="i16 i-screen u" title="{{ ctrl.getScreenLabel() }}"
                ng-if="ctrl.hangout.canShareScreen()" ng-click="ctrl.toggleScreen()"
                ng-class="{'on':ctrl.hangout.streams.screen,'off':!ctrl.hangout.streams.screen}" >                        
                {{ ctrl.getScreenLabel() }}
            </button>
            <button class="i16 i-screen u" 
                title="{{ctrl.hangout.had_to_refresh?'Refresh your window to use screensharing extension':'Install screensharing extension'}}" 
                ng-if="(ctrl.hangout.canInstallExtension()  || ctrl.hangout.had_to_refresh) && !ctrl.hangout.canShareScreen()" 
                ng-click="ctrl.hangout.had_to_refresh ? null : ctrl.hangout.installExtension()"
                ng-class="{'on':ctrl.hangout.had_to_refresh,'off':!ctrl.hangout.had_to_refresh}" >
                    {{ ctrl.hangout.had_to_refresh ? 'Refresh your window to use screensharing extension' : 'Install screensharing extension' }}
            </button>
            <button class="i16 recording u" title="{{ ctrl.recording&&'Stop recording'||'Start record'}}" 
                ng-if="ctrl.is_admin" ng-click="ctrl.toggleRecord()"
                ng-class="{'on':ctrl.recording ,'off':!ctrl.recording}">
                    {{ ctrl.recording ? "Recording" : "Start record" }}
            </button>
            <button class="i16 i-hang-up u" title="Hang up"
                ng-if="ctrl.hangout" ng-click="ctrl.leaveHangout()">
                Hang up
            </button>
         </div>
           <div id="hgt-options" class="box" ng-if="ctrl.cvn_type === ctrl.cvn_types.LIVECLASS && !ctrl.is_admin">
            <div class="avatar med"  data-letter="{{ ctrl.me|userletter }}"
                ng-style="ctrl.me.avatar|dmsbgurl : [80,'m',80]" image-onload="{{ctrl.me.avatar | dmslink : [80,'m',80]}}">
            </div>
            <div class="title"><b>{{ ctrl.me | username }}</b></div>
            <button
                    class='i16 i-micro'  
                    ng-click="ctrl.toggleMicrophone() " 

               ng-class="{ 
                   send : ctrl.current_requests.microphone,
                   on :  ctrl.current_sharings.microphone,
                   off :  !ctrl.current_sharings.microphone
               }"> 
                {{ ctrl.getMicrophoneLabel() }}
            </button>  
            <button class='i16 i-camera'
                    ng-class="{
                        send : ctrl.current_requests.camera,
                        on : ctrl.current_sharings.camera,
                        off : !ctrl.current_sharings.camera,
                    }"
                    ng-click="ctrl.toggleCamera()"> 
                    {{ ctrl.getCameraLabel() }}
            </button>
            
            <button class='i16 i-screen' 
                ng-if="ctrl.hangout.canShareScreen() && ctrl.hangout.streams.screen === undefined" 
                ng-click="ctrl.toggleScreen()"
                ng-class="{ 
                    send : ctrl.current_requests.camera,
                    on :  ctrl.current_requests.screen,
                    off :  !ctrl.current_requests.screen
                }" >
                    {{ ctrl.getScreenLabel() }}
            </button>
            <button class='i16 i-screen' 
                ng-if="(ctrl.hangout.canInstallExtension() || ctrl.hangout.had_to_refresh)  && ctrl.hangout.streams.screen === undefined" 
                ng-click="ctrl.hangout.had_to_refresh ? null : ctrl.hangout.installExtension()"
                ng-class="{ 
                    'on' : ctrl.hangout.had_to_refresh,
                    'off' : !ctrl.hangout.had_to_refresh
                }" >
                  {{ ctrl.hangout.had_to_refresh ? 'Refresh your window to use screensharing extension' : 'Install screensharing extension' }}
            </button>
            <button class='i16 i-screen on' 
                ng-if="ctrl.hangout.session.screensharing_support && ctrl.hangout.streams.screen !== undefined" 
                ng-click="ctrl.hangout.unpublish(ctrl.hangout.streams.screen)"
                >
                    {{ ctrl.hangout.streams.screen ? "Screen shared" : "Ask to share your screen" }}
            </button>
            <button class='i16 i-hang-up' 
                ng-if="ctrl.hangout" 
                ng-click="ctrl.leaveHangout()"
               >
                Hang up
            </button>
        </div>
         <div id="hgt-participants" class="box">
            <div class="title">
                <b>{{ ctrl.conversation.type===3&&'Attendees'||'People' }}</b>
                <span>({{  ctrl.users.length - 1 }})</span>
            </div>
            <div class="users">
                <button class="user" ng-if="user !== ctrl.session.id" 
                    user-links="false"
                    ng-click="ctrl.openConversation([user])"
                    ng-class="{ 
                        online : ctrl.hangout.users.indexOf(user) !== -1,
                        offline : ctrl.hangout.users.indexOf(user) === -1,
                        dflt-cursor: ctrl.users.length === 2
                    }" 
                     ng-repeat="user in ctrl.users | orderBy : -ctrl.hangout.users.indexOf(user)" user="user">
                    <div ng-if="ctrl.unreadConversations[user]" class="hgt-unread">
                        {{ ctrl.unreadConversations[user] }}
                    </div>
                </button>
            </div>
         </div>
    </div>
</div>
