
 <div infinite-list="ctrl.connections"
       ng-if="ctrl.connections"
        loaded="ctrl.connections_loaded"
        model="ctrl.user_model"
        pagination="20"
        scrollable=".modaloverlay"
        class="users" >

        <div class="user middle" ng-repeat="user in ctrl.connections | limitTo : ctrl.connections_loaded"
           ng-if="ctrl.user_model.list[user].datum"
            options="{graduation:true, chat : true, cnta : true, followers : true}"
           user="user" user-links="true">
       </div>
</div>
