<button  ng-class="[ctrl.social.open ? 'close' : 'open']" ng-click="ctrl.social.open = !ctrl.social.open"
        data="{{ (!ctrl.social.open && ctrl.messagesUnread())||0 }}" id="social-toggle">
        <div class="i-left" ng-if="!ctrl.social.open"></div> <div class="u" ng-if="ctrl.social.open">Close</div> <div ng-class="[ctrl.social.open ? 'i-right' : 'i-comment']"></div>

</button>

<div id="social-search">
    <label for="s-search-input" title="Search into  your conversations and connections">
        <span class="for_screen_reader">Search into your conversations and connections</span>
        <input type="text" id="s-search-input" placeholder="Search..." ng-model="ctrl.search"
            ng-class="{for_screen_reader:!ctrl.social.column_expanded&&!ctrl.social.fullMode}"
            ng-keyup="ctrl.onSearchKeyup()" ng-focus="ctrl.onSearchFocus()">
        <span class="i-search i12" ng-if="!ctrl.search || !ctrl.social.column_expanded"></span>
    </label>
    <button class="i-x i12" ng-if="ctrl.search" ng-click="ctrl.clearSearch()"
        ng-class="{for_screen_reader:!ctrl.social.column_expanded&&!ctrl.social.fullMode}"
        focus-on-destroy="#social-search input"
        title="Stop filtering conversations and connections">
        <span class="for_screen_reader">Stop filtering conversations and connections</span>
    </button>
</div>

<div class="social-col-box" id="conversations">
    <ul data-simplebar ng-if="ctrl.conversations.length > 0">
        <li ng-repeat="cvn in ctrl.conversations" ng-if="!ctrl.loading_conversations"
            ng-class="{ open : (!ctrl.social.fullMode && ctrl.social.list.indexOf(cvn) !== -1) || (cvn === ctrl.social.current && ctrl.social.fullMode) }"
            ng-attr-data-unread="{{ ctrl.getConversationUnread(cvn.id) }}">
            <button class="conversation" ng-click="ctrl.openConversation( cvn )">
                <div class="avatar med i-comment"></div>
                <div class="name">{{ ::ctrl.printName( cvn ) }}</div>
                <div class="count">{{ ::(cvn.users.length)+' participant' + (cvn.users.length > 1 ? 's' : '') }}</div>
            </button>
        </li> 
    </ul>
    <div class="noresults" ng-if="ctrl.conversations.length === 0 && !ctrl.loading_conversations">
        Click on 'Discover' and add new connections!
    </div>
    <div class="ctas center">
        <button ng-click="ctrl.openConversation(null, ctrl.me)" class="cta green">New conversation</button>
    </div>
</div>
