<div id="login">
    <notifier></notifier>
    <form id="loginform" >
        <div class="global_loader discreet" ng-class="{ loading : ctrl.global_loader.is_processing > 0 || ctrl.processing }"></div>
        <div class="logo"></div>

        <h1>{{ !ctrl.user || !ctrl.user.is_active ? 'Welcome to TWIC' : 'Welcome back to TWIC' }}</h1>
        <h2>{{ ctrl.subtitle || 'The Higher-Ed social networking platform' }}</h2>

        <div ng-if="ctrl.state===ctrl.states.EMAIL">
            <div class="input_area" ng-class="{invalid:ctrl.account_error}">
                <span class="err" role="alert" ng-bind-html="ctrl.account_error"></span>
                <input id="i_mail" type="email" name="email" placeholder="Email" required
                    ng-model="ctrl.email">
            </div>
            <div class="ctas full">
                <button type="button" ng-class="{ 'disabled' : ctrl.processing  || !ctrl.email }"
                ng-disabled="ctrl.processing  || !ctrl.email"
                class="cta green" ng-click="ctrl.checkEmail()">Next</button>
            </div>
        </div>
        <div ng-if="ctrl.state === ctrl.states.LOGIN">
              <div class="input_area" >
                  <label>
                      <span>Email</span>
                  </label>
                  <div>{{ ctrl.user.email }}</div>
                  <input type="hidden" ng-model="ctrl.user.model"/>
              </div>

              <div class="input_area" ng-class="{invalid:ctrl.password_error}">
                  <label for="i_pwd">
                      <span>Password</span>
                  </label>
                  <span class="err" role="alert">Incorrect password.</span>
                  <input id="i_pwd" type="password" name="password" autocomplete="password" placeholder="********"
                      ng-model="ctrl.password" required>
              </div>

              <div class="ctas full">
                  <button class="cta green" type="submit" ng-click="ctrl.login()"
                  ng-class="{ 'disabled' : ctrl.processing  || !ctrl.email }"
                  ng-disabled="ctrl.processing  || !ctrl.email">Log in</button>
                  <a href="#" class="cta light p0" id="forgot_pwd" ng-click="ctrl.goToState(ctrl.states.FORGOTPWD)">Forgot your password ?</a>
              </div>


              <div ng-if-start="ctrl.user.linkedin_id" class="or_separator" >or</div>

              <div class="ctas full" ng-if-end>
                  <a class="cta linkedin" href="{{ ctrl.linkedin_url }}">
                      <span class="i-linkedin"></span>
                      <span>Sign in with LinkedIn</span>
                  </a>
              </div>
              <button
                      class="i-return i2 back"
                      type="button"
                      ng-click="ctrl.goToState(ctrl.states.EMAIL)">
              </button>
        </div>

        <div ng-if="ctrl.state === ctrl.states.FORGOTPWD">
            <div class="input_area" ng-class="{invalid:ctrl.account_error}">
                <span class="err" role="alert">We did not find an account matching this email address.</span>
                <input id="i_mail" type="email" name="email" placeholder="Email" required
                    ng-model="ctrl.email">
            </div>
            <div class="ctas full">
                <button class="cta green"
                type="button"
                ng-click="ctrl.resestPassword()"
                ng-class="{ 'disabled' : ctrl.processing  || !ctrl.email }"
                ng-disabled="ctrl.processing  || !ctrl.email">Reset your password</button>
            </div>
            <button
                    class="i-return i2 back"
                    type="button"
                    ng-click="ctrl.goToState(ctrl.states.LOGIN)">
            </button>
        </div>

        <div ng-if="ctrl.state === ctrl.states.CREATE">
          <div class="input_area" >
              <label>
                  <span>Email</span>
              </label>
              <div>{{ ctrl.email }}</div>
          </div>
          <div class="input_area">
               <div ><b>Confirm your institution</b></div>
               <div class="center classic right organizations_dd" dropdown ng-if="ctrl.organizations && ctrl.organizations.length">
                  <button dropdown-toggle class="cta white dropdown" type="button">
                    <div class="org_logo " ng-if="ctrl.organization"
                        image-size="[80,'m',80]"
                        image-onload="{{ctrl.organization.logo}}"
                        data-letter="{{ ctrl.organization.logo ? (ctrl.organization|pageletter) : null }}">
                    </div>
                    <div> {{ !ctrl.organization ? 'Select an institution' : ctrl.organization.title }}</div>
                      <span class="i12 i-dropdown" ng-class="{ 'single' : ctrl.organizations.length < 2 }"></span>
                  </button>
                  <div dropdown-content class="hdr_ddcontent ">
                      <button type="button" ng-click="ctrl.organization = organization"
                          ng-if="ctrl.organization.id !== organization.id"
                          ng-repeat="organization in ctrl.organizations">
                              <div class="org_logo "
                                  image-size="[80,'m',80]"
                                  image-onload="{{organization.logo}}"
                                  data-letter="{{ organization.logo ? (organization|pageletter) : null }}">
                              </div>
                              <div>{{ organization.title }}</div>
                      </button>
                  </div>

              </div>
          </div>
          <div id="contact-us">Not yours? <span ng-click="ctrl.help()" class="u">Contact us</span></div>
          <div class="ctas full">
              <button class="cta green" type="button"
              ng-class="{ 'disabled' : ctrl.processing  || !ctrl.organization}"
              ng-disabled="ctrl.processing  || !ctrl.organization"
              ng-click="ctrl.confirmInstitution()">{{ 'Sign up' }}</button>
          </div>
          <button
                  class="i-return i2 back"
                  type="button"
                  ng-click="ctrl.goToState(ctrl.states.EMAIL)">
          </button>
        </div>

        <div  ng-if="ctrl.state !== ctrl.states.CREATE" id="contact-us">Need help? <span ng-click="ctrl.help()" class="u">Contact us</span></div>

    </form>

    <footer>
        <div class="links">
            <a href="{{ ::CONFIG.enterprise.link }}">
                <span ng-bind-html="CONFIG.enterprise.title | trustHtml"></span> © {{ ctrl.year }}</a>
            <button ng-click="ctrl.openPrivacies($event)">Privacy</button>
            <button ng-click="ctrl.openTC($event)">Terms of Service</button>
            <button ng-click="ctrl.help()">Assistance</button>
        </div>

        <div class="socials">

            <a class="i16 i-linkedin" ng-href="{{ ::CONFIG.social.linkedin }}"
               title="Meet us on Linkedin">
                <span class="for_screen_reader">Meet us on Linkedin</span>
            </a>
            <a class="i16 i-facebook" ng-href="{{ ::CONFIG.social.facebook }}"
               title="Meet us on Facebook">
                <span class="for_screen_reader">Meet us on Facebook</span>
            </a>
            <a class="i16 i-twitter" ng-href="{{ ::CONFIG.social.twitter }}"
               title="Meet us on Twitter">
                <span class="for_screen_reader">Meet us on Twitter</span>
            </a>

        </div>
    </footer>
</div>
