<div id="login" class="signin">
    <notifier></notifier>
    <form id="loginform" ng-submit="ctrl.signInWithPassword()" ng-if="ctrl.user" autocomplete="off">
        <div class="global_loader discreet" ng-class="{ loading : ctrl.processing }"></div>
        <div class="logo"></div>

        <h1>Welcome to TWIC</h1>
        <h2>Now your account is activated, let's get you set up!</h2>

        <div class="input_area" ng-class="{invalid:ctrl.firstname_error}">
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.firstname_error] }}</span>
            <input id="i_firstname" type="text" name="i_firstname" placeholder="Firstname*"
                required ng-model="ctrl.firstname">
        </div>
        <div class="input_area" ng-class="{invalid:ctrl.lastname_error}" >
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.lastname_error] }}</span>
            <input id="i_lastname" type="text" name="password" placeholder="Lastname*"
                required ng-model="ctrl.lastname">
        </div>

        <div class="input_area" ng-class="{invalid:ctrl.password_error}">
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.password_error] }}</span>
            <input id="i_pwd" type="password" name="password" autocomplete="new-password"

                   placeholder="Password*"
                   ng-change="ctrl.onPwdChange()"
                required ng-model="ctrl.password">
                <div tooltip class="pwd-tooltip right bottom">
                    <div class="pwd-strength" tooltip-toggle>
                        <div class="pwd-bar" ng-class="{  bad : ctrl.pwd_strength === 1, medium : ctrl.pwd_strength === 2, good : ctrl.pwd_strength === 3, excelent : ctrl.pwd_strength === 4 }"></div>
                    </div>
                    <div tooltip-content>
                        Minimum 8 characters, Include capital letters, special characters and numbers.
                    </div>
                </div>
        </div>
        <div class="input_area" ng-class="{invalid:ctrl.password_error}">
            <input id="i_pwd2" type="password" name="cfm_password" autocomplete="new-password"
                placeholder="Confirm your password*"
                ng-model="ctrl.confirm_password" required>
        </div>

        <div class="ctas full">
            <button class="cta green" type="submit">Sign up</button>
        </div>

        <div class="or_separator">or</div>

        <div class="ctas full">
            <a class="cta linkedin" href="{{ ctrl.linkedin_url }}">
                <span class="i-linkedin"></span>
                <span>Sign up with LinkedIn</span>
            </a>
        </div>
        <div class="terms" >
            <span>By clicking "Sign up" or "Sign up with LinkedIn", I agree to TWICAPP INC's</span>
            <button ng-click="ctrl.openTC($event)">Terms of Service</button>
            <span>and</span>
            <button ng-click="ctrl.openPrivacies($event)">Privacy Policy</button>
        </div>

        <div ng-if="ctrl.powered" id="powered">
            <span>Powered by</span>
            <img src="assets/img/twic.png">
        </div>
        <a ui-sref="login" class="i-return i2 back" title="Back"> </a>
    </form>


    <footer>
        <div class="links">
            <a href="{{ ::CONFIG.enterprise.link }}">
                <span ng-bind-html="CONFIG.enterprise.title | trustHtml"></span> © {{ ctrl.year }}</a>
            <button ng-click="ctrl.openPrivacies($event)">Privacy</button>
            <button ng-click="ctrl.openTC($event)">Terms & Conditions</button>
            <button ng-click="ctrl.help()">Assistance</button>
        </div>


    </footer>
</div>
