<div id="login" class="signin">
    <notifier></notifier>
    <form id="loginform" ng-submit="ctrl.signInWithPassword()" ng-if="ctrl.user">
        <div class="logo"></div>

        <h1>{{ ::ctrl.title || "Welcome " + (ctrl.is_active ? "back" : "") + " to Twic" }}</h1>
        <h2>{{ ::ctrl.subtitle || (ctrl.is_active ? "Reset your password" : "Activate your account") }}</h2>

        <div class="input_area" ng-class="{invalid:ctrl.firstname_error}">
            <label for="i_firstname">
                <span>Firstname*</span>
            </label>
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.firstname_error] }}</span>
            <input id="i_firstname" type="text" name="i_firstname" placeholder=""
                required ng-model="ctrl.firstname">
        </div>
        <div class="input_area" ng-class="{invalid:ctrl.lastname_error}" >
            <label for="i_lastname">
                <span>Lastname*</span>
            </label>
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.lastname_error] }}</span>
            <input id="i_lastname" type="text" name="password" placeholder=""
                required ng-model="ctrl.lastname">
        </div>

        <div class="input_area locked_field" ng-if="!ctrl.is_active">
            <label for="i_email">
                <span>Email</span>
            </label>
            <div class="i-lock" title="Please contact your school's admin if you want to change it."></div>
            <input id="i_email" type="text" name="password" placeholder=""
                disabled="disabled"
                required ng-model="ctrl.email" readonly>
        </div>
        <div class="input_area">
            <label for="i_pwd">
                <span>{{ ctrl.is_active ? "New password*" : "Password*" }}</span>
            </label>
            <input id="i_pwd" type="password" name="password" placeholder="********"
                required ng-model="ctrl.password">
        </div>
        <div class="input_area" ng-class="{invalid:ctrl.password_error}">
            <label for="i_pwd2">
                <span>Confirm your password*</span>
            </label>
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.password_error] }}</span>
            <input id="i_pwd2" type="password" name="cfm_password" placeholder="********"
                ng-model="ctrl.confirm_password" required>
        </div>

        <div class="ctas full">
            <button class="cta green" type="submit">{{ ctrl.isPasswordForgotten&&'Confirm and log in'||'Sign up' }}</button>
        </div>

        <div class="or_separator">or</div>

        <div class="ctas full">
            <a class="cta linkedin" href="{{ ctrl.linkedin_url }}">
                <span class="i-linkedin"></span>
                <span>{{ ctrl.isPasswordForgotten&&'Sign up'||'Sign in' }} with LinkedIn</span>
            </a>
        </div>

        <div class="terms" ng-if="!ctrl.isPasswordForgotten">
            <span>By clicking Sign up or Sign in with LinkedIn, I agree to Twic by THE STUDNET's</span>
            <button ng-click="ctrl.openTC($event)">Terms of Service</button>
            <span>and</span>
            <button ng-click="ctrl.openPrivacies($event)">Privacy Policy</button>
        </div>

        <div ng-if="ctrl.powered" id="powered">
            <span>Powered by</span>
            <img src="assets/img/twic.png">
        </div>
        <a ui-sref="login" class="i-return i2 back" title="I already have an account"> </a>
    </form>

    <form id="loginform" ng-submit="ctrl.signInWithEmail()" ng-if="!ctrl.user">
        <div class="logo"></div>

        <h1>{{ ::ctrl.title || "Welcome to Twic" }}</h1>
        <h2>{{ ::ctrl.subtitle || ("Sign in with an academic email") }}</h2>
        <div class="input_area" ng-class="{invalid:ctrl.email_error}">
            <label for="i_email">
                <span>Email*</span>
            </label>
            <span class="err" role="alert" translate>{{ ctrl.errorLabels[ctrl.email_error] }}</span>
            <input id="i_email" type="text" name="i_email" placeholder=""
                required ng-model="ctrl.email">
        </div>
        <div ng-if="ctrl.organizations && ctrl.organizations.length">Institution*</div>
         <div class="center classic right organizations_dd" dropdown ng-if="ctrl.organizations && ctrl.organizations.length">
            <button dropdown-toggle class="cta white dropdown" type="button">
              <div class="org_logo " ng-if="ctrl.organization"
                  ng-style="ctrl.organization.logo |dmsbgurl : [80,'m',80]"
                  image-onload="{{ ctrl.organization.logo | dmslink : [80,'m',80]   }}"
                  data-letter="{{ ctrl.organization.logo ? (ctrl.organization|pageletter) : null }}">
              </div>
              <div> {{ !ctrl.organization ? 'Select your institution' : ctrl.organization.title }}</div>
                <span class="i12 i-dropdown" ng-class="{ 'single' : ctrl.organizations.length < 2 }"></span>
            </button>
            <div dropdown-content class="hdr_ddcontent ">
                <button type="button" ng-click="ctrl.organization = organization"
                    ng-if="ctrl.organization.id !== organization.id"
                    ng-repeat="organization in ctrl.organizations">
                        <div class="org_logo "
                            ng-style="organization.logo |dmsbgurl : [80,'m',80]"
                            image-onload="{{ organization.logo | dmslink : [80,'m',80]   }}"
                            data-letter="{{ organization.logo ? (organization|pageletter) : null }}">
                        </div>
                        <div>{{ organization.title }}</div>
                </button>
            </div>
        </div>

        <div class="ctas full">
            <button class="cta green" type="submit">{{ !ctrl.organizations ? 'Next' :  'Sign up' }}</button>
        </div>
        <div class="terms" ng-if="ctrl.organization">
            <span>By clicking Sign up, I agree to Twic by THE STUDNET's</span>
            <button ng-click="ctrl.openTC($event)">Terms of Service</button>
            <span>and</span>
            <button ng-click="ctrl.openPrivacies($event)">Privacy Policy</button>
        </div>

        <div ng-if="ctrl.powered" id="powered">
            <span>Powered by</span>
            <img src="assets/img/twic.png">
        </div>
        <a  ui-sref="login" class="i-return i2 back" title="I already have an account"> </a>
    </form>

    <footer>
        <div class="links">
            <a href="{{ ::CONFIG.enterprise.link }}">
                <span ng-bind-html="CONFIG.enterprise.title | trustHtml"></span> © {{ ctrl.year }}</a>
            <button ng-click="ctrl.openPrivacies($event)">Privacy</button>
            <button ng-click="ctrl.openTC($event)">Terms & Conditions</button>
            <button ng-click="ctrl.help()">Assistance</button>
        </div>
        <div class="apps">
              <a href="{{ ::CONFIG.stores.googleplay }}" class="app-logo"
               ng-if="!ctrl.isApp && false"
               title="Stay connected with your peers. Download the Twic Messenger App on the Play Store.">
                <img src="/assets/img/google-play-badge.png" />
                <span class="for_screen_reader">Stay connected with your peers. Download the Twic Messenger App on the Play Store.</span>
            </a>
            <a href="{{ ::CONFIG.stores.appstore }}" class="app-logo"
               ng-if="!ctrl.isApp && false"
               title="Stay connected with your peers. Download the Twic Messenger App on the App Store.">
                <img src="/assets/img/app-store-badge.png" />
                <span class="for_screen_reader">Stay connected with your peers. Download the Twic Messenger App on the App Store.</span>
            </a>

        </div>

        <div class="socials">

            <a class="i16 i-linkedin" ng-href="{{ ::CONFIG.social.linkedin }}"
               title="Meet us on Linkedin">
                <span class="for_screen_reader">Meet us on Linkedin</span>
            </a>
            <a class="i16 i-facebook" ng-href="{{ ::CONFIG.social.facebook }}"
               title="Meet us on Facebook">
                <span class="for_screen_reader">Meet us on Facebook</span>
            </a>
            <a class="i16 i-twitter" ng-href="{{ ::CONFIG.social.twitter }}"
               title="Meet us on Twitter">
                <span class="for_screen_reader">Meet us on Twitter</span>
            </a>

        </div>
    </footer>
</div>
