<div id="unsubscribe">
    <notifier></notifier>
    <div class='box'>
        <div id="twicLogo"></div>
        <h1>Manage Your Preferences or Unsubscribe</h1>
        <div id="nsSteps">
            <div class="nsStep">
                  <div class="step-title">You can Opt In or Opt Out of academic and social notifications here. Make your selections below.</div>
                  <div class="step-desc">
                      <form>
                          <div class="input-block ">
                                <input type="checkbox"
                                    id="social"  class="checkbox" ng-true-value="1" ng-false-value="0"
                                    ng-model="ctrl.settings.has_social_notifier"/>
                                  <label for="social" title="Social notifications" >Receive Social updates by email</label>
                          </div>
                          <div class="input-block ">
                                <input type="checkbox"
                                    id="academic"  class="checkbox" ng-true-value="1" ng-false-value="0"
                                    ng-model="ctrl.settings.has_academic_notifier"/>
                                <label for="academic" title="Academic notifications" >Receive Academic updates by email</label>
                          </div>
                      </form>
                  </div>
            </div>

        </div>
        <div class="ctas right">
            <button class="cta green" ng-click="ctrl.confirm()">Submit</button>
        </div>
    </div>
</div>
