<div class="content">
   <div class="instructions">
      <div class="title">Tell your peers <br/> about yourself!</div>
      <div class="hint">Everyone has a story and it always starts with a journey!</div>
      <img id="welcome2" src="assets/img/welcome2.svg"/>
   </div>
  <form>
      <label for="welcome-address">
          What city do you live in?
      </label>
      <div options="{ types : 'place' }" editable='true'
          ui-map="ctrl.scope.current.tmpAddress" hide-map="true"></div>

      <label for="welcome-origin">
          What country do you come from?
      </label>
       <div class="autocomplete input-block"
          ui-autocomplete="ctrl.scope.current.searchOrigin"
          autocomplete-search="ctrl.origin_search"
          autocomplete-items="ctrl.origin_list"
          autocomplete-id="welcome-origin"
          min-length="1"
          initial-value="{{ctrl.scope.current.tmpOrigin ? ctrl.scope.current.tmpOrigin.short_name : ''}}"
          placeholder="Select a country">
              <button
                  ng-repeat="item in ctrl.origin_list"
                  ng-click="ctrl.scope.current.tmpOrigin = item; ctrl.origin_search.search = item.short_name;"
                  autocomplete-result="{{item.short_name}}"
                  result-search="ctrl.origin_search.search"
                  type="button" >
              </button>
      </div>

      <label for="welcome-graduation-year">
          What is your graduation year?
      </label>
      <div class="input-block">
          <input id="welcome-graduation-year" type="number" name="welcome-graduation-year"
              min="1900" max="9999" placeholder="Class year" ng-model="ctrl.scope.current.tmpGraduationYear">
      </div>

      <label for="welcome-program">
          What is your program?
      </label>
      <div class="autocomplete input-block"
          ui-autocomplete="ctrl.scope.current.searchPrograms"
          autocomplete-id="welcome-program"
          placeholder="Program"
          initial-value="{{ ctrl.scope.current.program || '' }}"
          autocomplete-search="ctrl.scope.current.program_search"
          autocomplete-items="ctrl.program_list"
          autocomplete-pagination="10"
          min-length="0">
              <button
                  ng-repeat="program in ctrl.program_list"
                  title="{{program.name}}"
                  ng-click="ctrl.scope.current.program_search.search = program.name"
                  ng-if="program.name !== ctrl.scope.current.program_search.search"
                  autocomplete-result="{{program.name}}"
                  result-search="ctrl.scope.current.program_search.search"
                  type="button" >
              </button>
              <div autocomplete-result class="loading" ng-if="ctrl.loadingPrograms"></div>
      </div>
   </form>
</div>
