<div class="content column keywords" ng-if="!ctrl.scope.loading">
    <div class="infos">
       <div class="instructions">
          <div class="title ">
            <div class="keywords-title">
                {{ ctrl.scope.current.constants.short[ctrl.scope.current.category] | plural : true }}
            </div>
            <div class="input-block">
                <form class="keywords-search">
                      <div class="input-block">
                            <span class="i-search i16"></span>
                            <input type="text" ng-model="ctrl.scope.current.search" placeholder="Add new {{ ctrl.scope.current.constants.short[ctrl.scope.current.category].toLowerCase()| plural : true }}"
                            ng-keydown="ctrl.scope.current.addTag($event);" />
                            <button class="i-send cta light" ng-if="ctrl.scope.current.search.length" ng-click="ctrl.scope.current.addTag($event);"></button>
                      </div>
                 </form>
           </div>
          </div>
          <div class="hint" ng-if="ctrl.scope.current.tags.length < ctrl.scope.current.tagsRequired()">
              Add  {{ ctrl.scope.current.constants.labels[ctrl.scope.current.category].toLowerCase()  }} to your profile (at least {{ctrl.scope.current.tagsRequired() }}).
          </div>
          <h1 class="hint" ng-if="ctrl.scope.current.tags.length >= ctrl.scope.current.tagsRequired() && ctrl.scope.current.tags.length < 2 * ctrl.scope.current.tagsRequired()">
                Great!
          </h1>
          <h1 class="hint" ng-if="ctrl.scope.current.tags.length >= 2 * ctrl.scope.current.tagsRequired() && ctrl.scope.current.tags.length < 3 * ctrl.scope.current.tagsRequired() + 1">
                Awesome!
          </h1>
          <h1 class="hint" ng-if="ctrl.scope.current.tags.length >= 3 * ctrl.scope.current.tagsRequired() + 1">
              {{ ctrl.scope.current.category !== 'language' ? 'Fantastic!' : 'WOW!'}}
          </h1>
      </div>
    </div>
    <div class="tags">
        <button class="tag"
            ng-click="ctrl.scope.current.toggleTag(suggestion)"
            ng-class="[
                  { match : ctrl.scope.current.isMatching(suggestion, search)},
                  ctrl.scope.current.category,
                  ctrl.scope.current.hasTag(suggestion, ctrl.scope.current.category) ? ctrl.scope.current.constants.icons[ctrl.scope.current.category] : 'i-plus suggestion',
                ]"
            ng-repeat="suggestion in ctrl.scope.current.suggestions">
            {{ suggestion }}
        </button>
    </div>
</div>
