<div class="content column keywords" ng-if="!ctrl.scope.loading">
    <div class="infos">
       <div class="instructions">
          <div class="title ">
            <div class="keywords-title">
                {{ ctrl.scope.current.constants.short[ctrl.scope.current.category] | plural : true }}
            </div>
            <div class="input-block">
                <form class="keywords-search">
                      <div class="input-block">
                            <span class="i-search i16"></span>
                            <input type="text" ng-model="search" placeholder="Add new {{ ctrl.scope.current.constants.labels[ctrl.scope.current.category].toLowerCase() }}"
                            ng-keydown="ctrl.scope.current.addTag($event, search, ctrl.scope.current.category); search = $event.keyCode === 13 ? '' : search;" />
                      </div>
                 </form>
           </div>
          </div>
          <div class="hint">
              Select at least {{ctrl.scope.current.tagsRequired() }} {{ ctrl.scope.current.constants.short[ctrl.scope.current.category].toLowerCase()  | plural : ctrl.scope.current.tagsRequired()  }} to add to your profile.
          </div>
      </div>
    </div>
    <div class="tags">
        <button class="tag"
            ng-click="ctrl.scope.current.toggleTag(suggestion)"
            ng-class="[
                  { match : ctrl.scope.current.isMatching(suggestion, search)},
                  ctrl.scope.current.category,
                  ctrl.scope.current.hasTag(suggestion, ctrl.scope.current.category) ? ctrl.scope.current.constants.icons[ctrl.scope.current.category] : 'i-plus suggestion',
                ]"
            ng-repeat="suggestion in ctrl.scope.current.suggestions">
            {{ suggestion }}
        </button>
    </div>
</div>
