<div class="modal-content" id="welcome-panel">
    <button class="close i-x" ng-if="ctrl.scope.users[ctrl.scope.session.id].datum.welcome_date" ng-click="ctrl.scope.delay = true;ctrl.close()"></button>
    <div class="header">
        <div class="logo"></div>
        <div class="progression" ng-style="{ width : (ctrl.scope.current_index  * 100 / (ctrl.scope.steps.length - 1)) + '%', 'last-step' : ctrl.scope.current_index + 1 === ctrl.scope.steps.length }"></div>
    </div>
    <div class="step-content" ng-include="ctrl.scope.current_step.template" ng-style="{ loading : ctrl.scope.loading }">

    </div>
    <div class="ctas right" ng-if="ctrl.scope.current_index > 0">
        <div class="cta white" ng-if="ctrl.scope.current_index > 0" ng-click="ctrl.scope.changeState(ctrl.scope.current_index - 1)">Previous</div>
        <div class="cta green next"
            ng-click="ctrl.scope.current.onComplete() &&  ctrl.scope.nextStep()">
           {{ ctrl.scope.current_index === ctrl.scope.steps.length - 1 ? "OK" : "Next" }}
        </div>
    </div>
</div>
