<div class="filter-block"
    ng-if="ctrl.category.filters.indexOf('organization') >= 0">
    <h2 class="title">Institutions</h2>

    <div class="tags">
        <form >
          <input ng-repeat-start="tag in ctrl.suggestions['organization']" type="checkbox"
              id="organization-{{$index}}"  class="radio"
              ng-click="ctrl.toggleFilter(tag, 'organization')"
              ng-checked="ctrl.filters.organization.indexOf(tag) >= 0" />
          <label ng-repeat-end for="organization-{{$index}}" title="{{ctrl.pages[tag].datum.title}}" >{{ ctrl.pages[tag].datum.title }}</label>
              <div class="autocomplete input-block"  ng-show="ctrl.showTags['organization']"
                  ui-autocomplete="ctrl.searchOrganization"
                  autocomplete-id="searchSchoolInput"
                  autocomplete-items="ctrl.organizations"
                  autocomplete-pagination="10"
                  autocomplete-search="ctrl.autocomplete"
                  placeholder="Search..."
                  on-close="ctrl.hideInputs['organization']"
                  min-length="0">
                      <button
                          ng-repeat="item in ctrl.organizations"
                          ng-click="ctrl.toggleFilter(item, 'organization'); ctrl.showTags['organization'] = false;"
                          autocomplete-result="{{ ctrl.pages[item].datum.title }}"
                          result-image="{{ctrl.pages[item].datum.logo}}"
                          result-search="ctrl.autocomplete.search"
                          type="button" >
                      </button>
              </div>
              <label for="searchSchoolInput"  ng-show="!ctrl.showTags['organization']"
                      class="cta light i-plus " ng-click="ctrl.showTags['organization'] = true">
                      More institutions...
              </label>
        </form>
    </div>
</div>
<div class="filter-block"  ng-if="ctrl.category.filters.indexOf('tags')  >= 0">
    <h2 class="title">Location</h2>
    <div class="tags">
        <form >
          <input type="radio" name='address'
                id="address-all" class="radio"
                ng-click="ctrl.toggleTagFilter(null, 'address', true)"
                ng-checked="!ctrl.filters_tags['address']"  />
            <label class="radio" for="address-all" title="All" >All</label>
          <input ng-repeat-start="tag in ctrl.suggestions['address']" type="radio"
              name="address" class="radio"
              id="address-{{$index}}"
              ng-click="ctrl.toggleTagFilter(tag, 'address', true)"
              ng-checked="ctrl.isInSearch(tag, 'address')" />
          <label ng-repeat-end class="radio" for="address-{{$index}}" title="{{tag}}" >{{ tag }}</label>
              <div class="autocomplete input-block"  ng-show="ctrl.showTags['address']"
                  ui-autocomplete="ctrl.searchTags['address']"
                  autocomplete-id="searchaddress"
                  placeholder="Search..."
                  autocomplete-search="ctrl.input_tags['address']"
                  autocomplete-items="ctrl.tags_list"
                  autocomplete-pagination="10"
                  on-close="ctrl.hideInputs['address']"
                  min-length="0">
                      <button
                          ng-repeat="item in ctrl.tags_list"
                          ng-click="ctrl.toggleTagFilter(item.name, 'address', true); ctrl.showTags['address'] = false;"
                          autocomplete-result="{{item.name}}"
                          result-search="ctrl.input_tags['address'].search"
                          type="button" >
                      </button>
              </div>
              <label for="searchaddress"  ng-show="!ctrl.showTags['address']"
                      class="cta light i-plus radio" ng-click="ctrl.showTags['address'] = true">
                      More locations...
              </label>
        </form>
    </div>

</div>
<div class="filter-block"  ng-if="ctrl.category.filters.indexOf('tags')  >= 0">
    <h2 class="title">Country of origin</h2>
    <div class="tags">
        <form >
          <input type="radio" name='origin'
                id="origin-all" class="radio"
                ng-click="ctrl.toggleTagFilter(null, 'origin', true)"
                ng-checked="!ctrl.filters_tags['origin']" />
            <label class="radio" for="origin-all" title="All" >All</label>
          <input ng-repeat-start="tag in ctrl.suggestions['origin']" type="radio"
              name="origin" class="radio"
              id="origin-{{$index}}"
              ng-click="ctrl.toggleTagFilter(tag, 'origin', true)"
              ng-checked="ctrl.isInSearch(tag, 'origin')" />
          <label ng-repeat-end for="origin-{{$index}}" class="radio" title="{{tag}}" >{{ tag }}</label>
              <div class="autocomplete input-block"  ng-show="ctrl.showTags['origin']"
                  ui-autocomplete="ctrl.searchTags['origin']"
                  autocomplete-id="searchorigin"
                  placeholder="Search..."
                  autocomplete-search="ctrl.input_tags['origin']"
                  autocomplete-items="ctrl.tags_list"
                  autocomplete-pagination="10"
                  on-close="ctrl.hideInputs['origin']"
                  min-length="0">
                      <button
                          ng-repeat="item in ctrl.tags_list"
                          ng-click="ctrl.toggleTagFilter(item.name, 'origin', true); ctrl.showTags['origin'] = false;"
                          autocomplete-result="{{item.name}}"
                          result-search="ctrl.input_tags['origin'].search"
                          type="button" >
                      </button>
              </div>
              <label for="searchorigin"  ng-show="!ctrl.showTags['origin']"
                      class="cta light i-plus radio" ng-click="ctrl.showTags['origin'] = true">
                      More countries...
              </label>
        </form>
    </div>

</div>
<div class="filter-block" ng-repeat="category in ctrl.tags_constants.categories"
    ng-if="ctrl.category.filters.indexOf('tags')  >= 0">
    <h2 class="title">{{ctrl.tags_constants.short[category] | plural : true}}</h2>
    <div class="tags">
        <form >
            <input ng-repeat-start="tag in ctrl.suggestions[category]" type="checkbox"
                id="{{category}}-{{$index}}" class="checkbox"
                ng-click="ctrl.toggleTagFilter(tag, category)"
                ng-checked="ctrl.isInSearch(tag, category)" />
            <label ng-repeat-end for="{{category}}-{{$index}}" title="{{tag}}" >{{ tag }}</label>
              <div class="autocomplete input-block"  ng-show="ctrl.showTags[category]"
                  ui-autocomplete="ctrl.searchTags[category]"
                  autocomplete-id="search{{category}}"
                  placeholder="Search..."
                  autocomplete-search="ctrl.input_tags[category]"
                  autocomplete-items="ctrl.tags_list"
                  autocomplete-pagination="10"
                  on-close="ctrl.hideInputs[category]"
                  min-length="0">
                      <button
                          ng-repeat="item in ctrl.tags_list"
                          ng-click="ctrl.toggleTagFilter(item.name, category); ctrl.showTags[category] = false;"
                          autocomplete-result="{{item.name}}"
                          result-search="ctrl.input_tags[category].search"
                          type="button" >
                      </button>
              </div>
              <label for="search{{category}}"  ng-show="!ctrl.showTags[category]"
                      class="cta light i-plus " ng-click="ctrl.showTags[category] = true">
                      More {{ctrl.tags_constants.short[category] | plural : true}}...
              </label>
        </form>
    </div>

</div>
<div class="filter-block"  ng-if="ctrl.category.filters.indexOf('tags')  >= 0">
    <h2 class="title">Class year</h2>
    <div class="tags">
        <form >
          <input ng-repeat-start="tag in ctrl.suggestions['graduation']" type="checkbox"
              id="graduation-{{$index}}" class="checkbox"
              ng-click="ctrl.toggleTagFilter(tag, 'graduation')"
              ng-checked="ctrl.isInSearch(tag, 'graduation')" />
              <label ng-repeat-end for="graduation-{{$index}}" title="{{tag}}" >{{ tag }}</label>
              <div class="autocomplete input-block"  ng-show="ctrl.showTags['graduation']"
                  ui-autocomplete="ctrl.searchTags['graduation']"
                  autocomplete-id="searchgraduation"
                  placeholder="Search..."
                  autocomplete-search="ctrl.input_tags['graduation']"
                  autocomplete-items="ctrl.tags_list"
                  autocomplete-pagination="10"
                  on-close="ctrl.hideInputs['graduation']"
                  min-length="0">
                      <button
                          ng-repeat="item in ctrl.tags_list"
                          ng-if='item.name > 0'
                          ng-click="ctrl.toggleTagFilter(item.name, 'graduation'); ctrl.showTags['graduation'] = false;"
                          autocomplete-result="{{item.name}}"
                          result-search="ctrl.input_tags['graduation'].search"
                          type="button" >
                      </button>
              </div>
              <label for="searchgraduation"  ng-show="!ctrl.showTags['graduation']"
                      class="cta light i-plus " ng-click="ctrl.showTags['graduation'] = true">
                      More class years...
              </label>
        </form>
    </div>

</div>
<div class="filter-block"
    ng-if="ctrl.category.filters.indexOf('role')  >= 0">
    <h2 class="title">Roles</h2>

    <div class="tags">
        <form >
          <input  type="radio" name="role"
              id="role_all" class="radio"
              ng-click="ctrl.filters.role = null;ctrl.filters.is_pinned  = null;ctrl.filters.page_type = null;ctrl.onSearch();"
              ng-checked="ctrl.filters.role === null" />
          <label ng-repeat-end for="role_all" title="All people" class="radio" >All people</label>
          <input  type="radio" name="role"
              id="role_student" class="radio"
              ng-click="ctrl.filters.role = 'user';ctrl.filters.is_pinned  = null;ctrl.filters.page_type = null;ctrl.onSearch();"
              ng-checked="ctrl.filters.role === 'user'" />
          <label ng-repeat-end for="role_student" title="Students" class="radio" >Students</label>
          <input  type="radio" name="role"
              id="role_instructor" class="radio"
              ng-click="ctrl.filters.role = null;ctrl.filters.is_pinned  = true;ctrl.filters.page_type = null;ctrl.onSearch();"
              ng-checked="ctrl.filters.is_pinned === 1" />
          <label ng-repeat-end for="role_instructor" title="Instructors" class="radio" >Instructors</label>
          <input  type="radio" name="role"
              id="role_admin" class="radio"
              ng-click="ctrl.filters.role = 'admin'; ctrl.filters.page_type = 'organization';ctrl.filters.is_pinned  = null;ctrl.onSearch()"
              ng-checked="ctrl.filters.role === 'admin' && ctrl.filters.page_type === 'organization'" />
          <label ng-repeat-end for="role_admin" title="Administrators" class="radio" >Administrators</label>
        </form>
    </div>
</div>
<div class="filter-block"
    ng-if="ctrl.category.filters.indexOf('events')  >= 0">
    <h2 class="title">Events</h2>
    <div class="tags">
        <form >
          <input  type="radio" name="events"
              id="event_all" class="radio"
              ng-click="ctrl.filters.events = null;ctrl.onSearch();"
              ng-checked="ctrl.filters.events === null" />
          <label ng-repeat-end for="event_all" title="All" class="radio" >All</label>
          <input  type="radio" name="events"
              id="event_past" class="radio"
              ng-click="ctrl.filters.events = 'past';ctrl.onSearch();"
              ng-checked="ctrl.filters.events === 'past'" />
          <label ng-repeat-end for="event_past" title="Past events" class="radio" >Past events</label>
          <input  type="radio" name="events"
              id="event_upcoming" class="radio"
              ng-click="ctrl.filters.events = 'upcoming';ctrl.onSearch();"
              ng-checked="ctrl.filters.events === 'upcoming'" />
          <label ng-repeat-end for="event_upcoming" title="Upcoming events" class="radio" >Upcoming events</label>
        </form>
    </div>
</div>
<button id="filters-toggle" class="cta green" ng-if="ctrl.category.filters.length" ng-click="ctrl.toggleFilters()">{{ ctrl.filters_opened ? 'Done' : 'Filter' }}</button>
