<nav breadcrumb="pctrl.breadcrumb"></nav>
<div class="columns hugetitle">
    <h1>Discover</h1>
</div>
<div class="columns">
    <div class="col_alone box" id="community-tabs">
        <ul class="tabs">
            <li ng-repeat="category in pctrl.categories" class="tab"
                ng-class='{ active : pctrl.state_service.current_state === category.state }'
                ui-sref="{{ category.state }}"
                ui-sref-active="active">
                   {{ category.name }}
            </li>
        </ul>

        <div dropdown class="classic right">
            <button class="white cta dropdown" dropdown-toggle >
                <span ng-repeat="category in pctrl.categories"
                      ng-if="pctrl.state_service.current_state === category.state">{{ category.name }}</span>
                <span class="i12 i-dropdown"></span>
            </button>
            <div dropdown-content>
                <button ui-sref-active="hide" ng-repeat="category in pctrl.categories"
                        ng-if="pctrl.state_service.current_state !== category.state"
                        ui-sref="{{ category.state }}">
                     {{ category.name }}
                </button>

            </div>
        </div>
    </div>
</div>
<div class="columns" id="community" ui-view>

</div>
