<form>
    <div class="input-block" >
        <label for="startform_email">Email</label>
        <input type="text" name="startform_email" ng-class="{ unconfirmed: !!ctrl.form.swap_email }"
            ng-model="ctrl.form.email"  />
        
        <span class="i-alert" ng-if="!!ctrl.form.swap_email"></span>
        <div ng-if="!!ctrl.form.swap_email" class="awaiting-confirmation">
            <div class="awaiting-message">Email update awaiting for confirmation : {{ ctrl.form.swap_email }} </div>
            <div class="ctas">
                <button class="cta white" ng-click="ctrl.sendConfirmEmailUpdate()">
                    Resend
                </button>
                    
                <button class="cta white" ng-click="ctrl.cancelEmailUpdate()">
                    Cancel
                </button>
            </div>
        </div>
            
    </div>
    <div class="input-block flex-block">
        <div>
            <label for="startform_linkedin">Linkedin access</label>
            <div ng-if="ctrl.isNotLinkedinPaired" translate>common.pair_linkedin_txt</div>
             <span ng-if="!ctrl.isNotLinkedinPaired" class="i-linkedin"></span> 
             <span ng-if="!ctrl.isNotLinkedinPaired" translate>common.paired_linkedin_txt</span>
        </div>
        <a ng-if="ctrl.isNotLinkedinPaired" class="cta white linkedincta" href="{{ ::ctrl.linkedin_url }}">
            <span class="i-linkedin"></span>
            <span  translate>common.pair_linkedin_acc</span>
        </a>
    </div>
    <div class="input-block">
        
        <label for="_npwd" translate>Password</label>
        <div class="info">New Password</div>
        <input id="_npwd" type="password" ng-model="ctrl.form.password"
            autocomplete="off" ng-keyup="ctrl.password_error=false;" name="newpassword">
        <span class="err" role="alert" ng-if="ctrl.password_error" translate>common.password_error</span>
        <div class="info">Confirm new password</div>
        <input id="_cpwd" type="password" ng-model="ctrl.form.confirm_password"
            autocomplete="off" ng-keyup="ctrl.password_error=false;">
    </div>
    <div class="input-block notifications">
        <label for="_ntf">Notifications</label>
        <input id="_ntf" type="checkbox" 
            ng-true-value="1"
            ng-false-value="0"
            ng-model="ctrl.form.has_email_notifier" name="_ntf" />
        <label for="_ntf" >Receive notifications by email <br/> <span class="hint">Course updates and connection request</span></label>
        
       
    </div>
    <div class="ctas right sf-footer">

        <button class="cta white" translate ng-click="ctrl.close($event)"
            translate-attr="{title:'common.cancel'}">common.cancel</button>

        <button class="cta green" translate ng-click="ctrl.save()"
            translate-attr="{title:'common.save'}">common.save</button>

    </div>
</form>


