<div class="columns" id="feed">
    <div class="col_left">
        <div sticky>
            <summary-box class="box"></summary-box>

        </div>
    </div>
    <div class="col_center" infinite-scroll="{cb:ctrl.loadNext,distance:200,container:'window'}">
        <postform onsent="ctrl.onPostAdded" placeholder="Share an article, photo, video or experience"></postform>
        <suggestions-box ng-if="ctrl.me.datum.welcome_date"></suggestions-box>
        <div class="posts">
            <button class="reloadbtn" ng-if="ctrl.hasUpdates"
                ng-click="ctrl.refresh()">{{ ctrl.hasUpdates }} update(s) on your feed. Click to refresh</button>
            <div class="box post" ng-repeat="id in ctrl.post_ids track by id"
                  post="id"
                  onremove="ctrl.onPostRemoved"
                  onshare="ctrl.onPostAdded"></div>

            <div class="box post">
                <div class="p-loading" ng-if="ctrl.loadingNext">
                    <div class="p-circle"></div>
                    <div class="p-head">
                        <div class="p-name"></div>
                        <div class="p-school"></div>
                    </div>

                    <div class="p-desc">
                        <div class="p-desc-line"></div>
                        <div class="p-desc-line"></div>
                        <div class="p-desc-line"></div>
                        <div class="p-desc-line"></div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
