
<div class="columns" id="feed">
    <div class="col_left">
        <div class='sticky' ng-style="ctrl.getStickyTop()">
            <summary-box class="box"></summary-box>

            <div class="box" ng-if="app.session.roles[1]">
                <h1 class="title">
                    <span class="i16 i-diploma"></span>
                    <span class="txt">Institution</span>
                </h1>
                <div class="cta green" ng-click="app.openPageModal($event, 'organization')">
                   Create an institution
               </div>
            </div>
        </div>
    </div>
    <div class="col_center" infinite-scroll="{cb:ctrl.loadNext,distance:200,container:'window'}">
        <postform onsent="ctrl.onPostAdded"></postform>
        <div class="posts">
            <button class="reloadbtn" ng-if="ctrl.hasUpdates"
                ng-click="ctrl.refresh()">{{ ctrl.hasUpdates }} update(s) on your feed. Click to refresh</button>
            <div loader ng-if="ctrl.refreshing"></div>
            <div class="box post" ng-repeat="id in ctrl.post_ids track by id"
                  post="id"
                  onremove="ctrl.onPostRemoved"
                  onshare="ctrl.onPostAdded"></div>
            <div loader ng-if="ctrl.loadingNext"></div>
        </div>
    </div>
</div>
