
<div class="cmt_manager" ng-if="ctrl.getTotal()" id="cmtnbr_{{ ::parent_id }}">
    <span class="cmt-nbr-lbl">{{ ctrl.getTotal() }} {{ !last ? ('comment%s%' | plural : ctrl.getTotal()) : (ctrl.getTotal() > 1 ? 'replies' : 'reply') }}:</span>
    <button class="cmt-nbr-btn u" ng-click="ctrl.toggleComments()">
        <span>{{ ctrl.displayed && 'hide' || 'show ' + (ctrl.getRemaining() > 5  ? 'the latest' : '') }}&nbsp;</span>
        <span class="i12 i-dropdown" ng-class="{up:ctrl.displayed}"></span>
    </button>
</div>

<div class="cmt_paginator" ng-if="ctrl.displayed">
    <button class="nextcomment u" focus-on-destroy="{{ ::'#comments_'+parent_id+' a' }}"
        ng-if="ctrl.getRemaining()" ng-click="ctrl.next()" title="Show more {{ !last ? 'comments' : 'replies' }}">
        Show more {{ !last ? 'comments' : 'replies' }}
    </button>
</div>

<!--<div class="cmt_paginator" ng-if="ctrl.getTotal()" id="cmtp_{{ ::parent_id }}">
    <span ng-if="ctrl.getRemaining() && ctrl.list.length">/</span>
    <button class="hidecomments u" ng-click="ctrl.hideAll()" ng-if="ctrl.list.length"
        focus-on-destroy="{{ ::'#cmtp_'+parent_id+' button' }}" title="Hide comments">
        Hide comments
    </button>
</div>-->
<div class="comments_list" ng-if="ctrl.displayed && ctrl.list.length" id="comments_{{ ::parent_id }}">

    <div class="cmt" ng-repeat="id in ctrl.list |orderBy:'$index':true" ng-if="posts[id].datum">
        <a class="avatar xm" data-letter="{{ !users[posts[id].datum.user_id].datum.avatar && users[posts[id].datum.user_id].datum|userinitial }}"
            ui-sref="lms.profile({id:posts[id].datum.user_id})"
            title="View {{ ::users[posts[id].datum.user_id].datum|username }} profile"
            ng-style="::users[posts[id].datum.user_id].datum.avatar|dmsbgurl : [80,'m',80]">
            <span class="for_screen_reader">View {{ ::users[posts[id].datum.user_id].datum|username }} profile</span>
        </a>
        <div class="cmt_body">
            <a class="u name" title="View {{ ::users[posts[id].datum.user_id].datum|username }} profile"
                ui-sref="lms.profile({id:posts[id].datum.user_id})">{{ ::users[posts[id].datum.user_id].datum|username }}</a>
            <div class="ct" ng-if="posts[id].datum.content"
                ng-bind-html="posts[id].datum.content | linky:'_blank' | usermention | trustHtml"
                ng-class="{  'highlight' :  highlight === posts[id].datum.user_id }"></div>
             <button class="cmt-lnbr" title="{{ posts[id].datum.nbr_likes }} people like this"
                    ng-if="posts[id].datum.nbr_likes" ng-click="ctrl.viewLikes($event, id)">
                   <span class="i1 i-heart"></span>  <span>{{ posts[id].datum.nbr_likes }}</span>
                </button>

        </div>


        <div class="cmt_actions" >

            <button class="like"
                title="{{ posts[id].datum.is_liked&&'Unlike this post'||'Like this post'}}"
                ng-class="{ active : posts[id].datum.is_liked }"
                ng-click="ctrl.toggleLike(id)">
                <span class="i1 i-heart"></span>
                <span>&nbsp;{{ posts[id].datum.is_liked&&'Unlike'||'Like'}}</span>
            </button>

            <button ng-if="last" class="reply" title="Reply to this comment" ng-click="reply()">
                <span class="i1 i-comment"></span>
                <span>&nbsp;Reply</span>
            </button>
            <button ng-if="!last && ctrl.secondLvl" class="reply" title="Reply to this comment" ng-click="ctrl.replyer[id]()">
                <span class="i1 i-comment"></span>
                <span>&nbsp;Reply</span>
            </button>
            <div class="date">{{ posts[id].datum.created_date|since }}</div>
            <div dropdown class="pch-dropdown right">
                <button class="i16 i-more" dropdown-toggle title="Open options">
                    <span class="for_screen_reader">Open options</span>
                </button>
                <div dropdown-content>
                    <button ng-click="ctrl.edit($event, id)" ng-if-start="ctrl.isOwner(id) || admin">
                        <strong>Edit</strong> this post
                    </button>
                    <button ng-click="ctrl.remove(id)" ng-if-end>
                        <strong>Remove</strong> this post
                    </button>
                    <button ng-click="ctrl.report(id)" ng-if="!ctrl.isOwner(id)">
                        <strong>Report</strong> this post
                    </button>
                </div>
            </div>

        </div>

        <!-- COMMENTS -->
        <div ng-if="!last && posts[id].datum && ctrl.secondLvl" comments="id"
             class="secondLvl-reply" showcomments="showreplies"
             reply="ctrl.replyer[id]" last="'true'" highlight="highlight"
             stream="ctrl.stream" unstream="ctrl.unstream"></div>
    </div>

    <button ng-if="ctrl.new_comments" title="Load new comments" class="newcomment"
        ng-click="ctrl.refresh()">{{ ctrl.new_comments }} new comments</button>
</div>

<div class="addcomment" ng-class="{showed:showinput||(ctrl.getTotal()&&!last)||ctrl.replying||ctrl.newcomment }">
    <div class="avatar xm" data-letter="{{ !users[session.id].datum.avatar && users[session.id].datum|userinitial }}"
         ng-style="::users[session.id].datum.avatar|dmsbgurl : [80,'m',80]"></div>

    <div text-editor='ctrl.newcomment'
         ng-if='parent_id && ctrl.mentions_options'
        toolbar="false"
        placeholder="Write a comment"
        focus="ctrl.focusing"
        clear="ctrl.clearing"
        mentions="ctrl.mentions_options"
        bindings="ctrl.bindings"
        inserttext="ctrl.insertText"
        id="reply{{ ::parent_id }}"
        gettext="ctrl.getContent"></div>
    <button title="Send your comment" class="i16 i-send"
        ng-click="ctrl.sendComment()"></button>
    <div id='comment-at-{{parent_id}}' class='comment-at'></div>
</div>
