<div class="modal-header">
    <h1 tabindex="-1" ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.SIMPLE">{{ ctrl.scope.page.id ? 'Add attendees' : ('Create '+ctrl.label) }}</h1>  
    <h1 tabindex="-1" ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.MULTIPLE">{{ ctrl.scope.page.type === 'organization' ? 'Import users' : 'Add attendees' }}</h1>   
    <button class="i16 i-x" 
            ng-click="$event.stopPropagation(); ctrl.close()"><span class="for_screen_reader">Close modal</span>
    </button>
</div>
<div class="modal-content pages-modal" ng-class="{ saving : ctrl.scope.saving }">
    <form ng-submit="ctrl.scope.user_mode !== ctrl.scope.user_modes.MULTIPLE ? ctrl.scope.save() : ctrl.scope.processEmails()" name="pageform" >
        <div ng-if="!ctrl.scope.page.id">
            <div class="input-block" 
                 ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.title)">
                <label for="name" class="title_case">{{ ::ctrl.label }} name*</label>
                <input type="text" id="name" name="name" required ng-model="ctrl.scope.page.title" />
            </div>
            <fieldset ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.confidentiality)">
                <legend>Privacy* </legend>
               <ul class="flex-block confidentiality" role="radiogroup">
                    <li>
                        <input type="radio" id="public" 
                               ng-model="ctrl.scope.page.confidentiality" ng-value="0"
                               name="confidentiality"/> 
                        <label for="public">Public {{ ::ctrl.label }}</label>
                        <div class="hint">
                            Anyone can join, see the {{ ctrl.label }}, its ressources, its members and their posts.
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="closed"
                               ng-model="ctrl.scope.page.confidentiality" ng-value="1"
                               name="confidentiality"/>
                        <label for="closed">Closed {{ ::ctrl.label }}</label>
                        <div class="hint">
                            Anyone can find the {{ ctrl.label }} and send a request to join. Only members can see posts and ressources
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="secret"
                               ng-model="ctrl.scope.page.confidentiality" ng-value="2"
                               name="confidentiality"/>
                        <label for="secret">Secret {{ ::ctrl.label }}</label>
                        <div class="hint">
                           Only invited people can join. Only members can find the club and see the posts and ressources.
                        </div>
                    </li>
                </ul>   
            </fieldset>
            <fieldset ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.organization) && ctrl.scope.organizations.length > 1">
                <legend>Institution*</legend>
                 <div class="center classic right" dropdown>
                    <button dropdown-toggle class="cta white dropdown" type="button">
                       {{ ctrl.scope.pages[ctrl.scope.page.page_id].datum.title }}
                        <span class="i12 i-dropdown"></span>
                    </button>
                    <div dropdown-content class="hdr_ddcontent">
                        <button type="button" ng-click="ctrl.scope.page.page_id = organization.id"  
                            ng-if="ctrl.scope.page.page_id !== organization.id"
                            ng-repeat="organization in ctrl.scope.organizations">
                            {{ organization.title }}
                        </button>
                    </div>
                </div>

            </fieldset>
            <fieldset ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.start_date)">
                <legend>Dates</legend>
                <div class="input-block flex-block">
                    <label for="start_date" class="light">From*</label>
                    <div datepicker="ctrl.scope.page.start_date"
                         datepicker-states="['month', 'day', 'year', 'time']"
                         mindate="ctrl.scope.current_date"
                         maxdate="ctrl.scope.page.end_date"
                         required="true"
                         datepicker-name="start_date"></div>
                </div>
                <div class="input-block flex-block">
                    <label for="end_date" class="light">To*</label>
                    <div datepicker="ctrl.scope.page.end_date" 
                         datepicker-states="['month', 'day', 'year', 'time']"
                         required="true"
                         mindate="ctrl.scope.start_date || ctrl.scope.current_date"
                         datepicker-name="end_date"></div>
                </div>
            </fieldset> 
            <fieldset ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.address)">
                <legend>Location</legend>
                <div ui-map="ctrl.scope.page.address" 
                    editable="true"></div>
            </fieldset> 
            <div class="input-block" ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.description)">
                <label for="description" class="title_case">{{ ::ctrl.label }} description</label>
                <div text-editor gethtml="ctrl.scope.getDescription"></div>
            </div>

             <fieldset ng-if="ctrl.scope.isDisplayed(ctrl.scope.page_fields.tags)">
                <legend>  
                    <label for="keywords">Keywords</label>
                </legend> 

                <div class="input-block">
                    <input type="text" id="keywords" name="keywords" 
                           autocomplete="off"
                           ng-model="ctrl.scope.tag"
                           ng-keydown="$event.keyCode === 13 
                                && (ctrl.scope.addTag() 
                                || $event.preventDefault())"/>
                </div>
                <button type="button" ng-repeat="tag in ctrl.scope.page.tags" class="tag"
                    id="tag_{{$index}}"
                    focus-on-destroy="#tag_{{index + 1}}, #addPeopleInput"
                    ng-click="ctrl.scope.page.tags.splice($index, 1)">
                    {{ tag }} <span class="i1 i-x" ></span>
                </button>
                 <div class="hint">Type your keyword then press ENTER </div>
            </fieldset>
        </div>
        <fieldset ng-if="(ctrl.scope.user_mode !== ctrl.scope.user_modes.MULTIPLE || !ctrl.scope.page.users.length) && !ctrl.scope.loading">
            <legend ng-if="!ctrl.scope.page.id">  
                <label for="addPeopleInput">Add {{ ctrl.scope.page.users.length ? ctrl.scope.page.users.length : "" }} People</label>
            </legend>
           
            <div class="input-block" ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.SIMPLE">
                <div ui-autocomplete="ctrl.scope.searchUsers" 
                     autocomplete-id="addPeopleInput"
                     autocomplete-items="ctrl.users_list"
                     autocomplete-search="ctrl.autocomplete"
                     autocomplete-pagination="10"
                     min-length="2"
                     placeholder="Search people"
                     class="autocomplete"
                     initial="true">
                        <button 
                            ng-repeat="user in ctrl.users_list" 
                            ng-click="ctrl.scope.addUsers(user);ctrl.autocomplete.search = '';"
                            autocomplete-result="{{  (user|username) }} {{ ctrl.scope.isAlreadyIn(user) ? ' (Already member)' : ''}}" 
                            ng-disabled="ctrl.scope.isAlreadyIn(user)"
                            ng-class="{ disabled : ctrl.scope.isAlreadyIn(user) }"
                            initial="true"
                            result-image="{{user.avatar|dmslink:[80,'m',80]}}"
                            result-search="!ctrl.scope.isAlreadyIn(user) ? ctrl.autocomplete.search : null"
                            type="button" >  
                        </button>
                        <button type="button"
                        ng-click="ctrl.scope.addUsers(ctrl.autocomplete.search);ctrl.autocomplete.search = '';"
                        autocomplete-result="Create an account for {{ ctrl.autocomplete.search }}"
                        ng-if="ctrl.scope.page.type === 'organization' && !ctrl.users_list.length 
                            && ctrl.scope.isEmail(ctrl.autocomplete.search) 
                            && !ctrl.scope.isAlreadyIn(null, ctrl.autocomplete.search)">
                        
                    </button>
                </div>
                <div class="users" ng-class="{ empty : !ctrl.scope.page.users.length }">
                    <span ng-if="!ctrl.scope.page.users.length">
                        Add people to your {{ ctrl.label }}
                    </span>
                    <button type="button" ng-repeat-start="user in ctrl.scope.page.users"  
                        ng-if="user.user_id"
                        ng-click="ctrl.scope.page.users.splice($index, 1)" id="user_{{$index}}"
                        focus-on-destroy="#user_{{index + 1}}, #cancel">
                            <div class="user" user="user.user_id" ></div>
                            <div class="i12 i-x"></div>                          
                    </button>
                    <button type="button" ng-repeat-end
                        ng-if="!user.user_id" ng-click="ctrl.scope.page.users.splice($index, 1)">
                        <div class="user preregistered">
                            <div class="avatar med i-user"  >

                            </div>
                            <div class="name">{{ user.email }}</div> 
                            <div class="school" >New account</div>
                        </div>
                        <div class="i12 i-x"></div>     
                    </button>
                </div>
            </div>
            <div class="input-block multiple-block" 
                ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.MULTIPLE 
                            && !ctrl.scope.page.users.length 
                            && !ctrl.scope.errors.INVALID.length 
                            && !ctrl.scope.errors.ALREADY_EXIST.length
                            && !ctrl.scope.errors.DOESNT_EXIST.length">
                <div class="label">Simply copy and paste a list of emails, one per line.</div>
                 <textarea name="add-user" ng-change='nbEmails = ctrl.scope.countEmails()' id="add-user" ng-model="ctrl.scope.email_list">
                     
                 </textarea>
                 <label for="add-user" ng-if="!ctrl.scope.email_list">
                    e.g :<br/> 
                    user1@email.com<br/>
                    user2@email.com<br/>
                    user3@email.com<br/>
                     ...
                 </label>
                <div class='email_count' ng-if='nbEmails'>
                    {{ nbEmails }} email{{ nbEmails > 1 ? 's' : '' }} 
                </div>
             
             </div>
            
          
            
        </fieldset>
        <div ng-if="ctrl.scope.loading" class="input-block">
            <div loader></div>
        </div>
        <div class="added" ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.MULTIPLE && !ctrl.scope.loading && ctrl.scope.page.users.length">
            {{ ctrl.scope.lines_count === 1 ? 'This' : ctrl.scope.page.users.length }} user account{{ ctrl.scope.page.users.length > 1 ? 's have been' : ' has been' }} added.
            <div ng-if="!ctrl.scope.invitations.length && ctrl.scope.invitations_sent.length"> Invitations sent! <div class="i-undocheck"></div></div>
       
            <div class="ctas center" ng-if="ctrl.scope.invitations_sent.length || ctrl.scope.invitations.length">  
                <button type="button" class="cta green" ng-if="ctrl.scope.invitations.length" ng-click="ctrl.scope.sendInvitations()" > <span>Send invitation{{ ctrl.scope.invitations.length > 1 ? 's' : '' }} now </span></button>
            </div>
           
        </div>
        <div class="added" ng-if="ctrl.scope.user_mode === ctrl.scope.user_modes.MULTIPLE && !ctrl.scope.loading &&  ctrl.scope.errors.ALREADY_EXIST.length">
            {{ ctrl.scope.lines_count === 1 ? 'This' : ctrl.scope.errors.ALREADY_EXIST.length}} account{{ ctrl.scope.errors.ALREADY_EXIST.length > 1 ? 's' : '' }} already {{ ctrl.scope.page.type === 'organization' ? ' registered' : ' added' }}
        </div>
        <div class="errors" ng-if="!ctrl.scope.loading">
            <div class="errors-invalid">
                <div ng-if="ctrl.scope.errors.INVALID.length"><b>{{ ctrl.scope.lines_count === 1 ? 'This' : ctrl.scope.errors.INVALID.length }} email{{ctrl.scope.errors.INVALID.length > 1 ? 's addresses ' : ' address ' }} {{ctrl.scope.errors.INVALID.length > 1 ? 'are' : 'is' }} invalid {{ ctrl.scope.lines_count > 1 ? ':' : ''}} </b></div>
                <div class="error" ng-if="ctrl.scope.lines_count > 1" ng-repeat="error in ctrl.scope.errors.INVALID">
                    {{ error }}
                </div>
            </div>
            <div class="errors-doesnt-exist">
                <div ng-if="ctrl.scope.errors.DOESNT_EXIST.length"><b>{{ ctrl.scope.lines_count === 1 ? 'This' : ctrl.scope.errors.DOESNT_EXIST.length }} account{{ctrl.scope.errors.DOESNT_EXIST.length > 1 ? 's don\'t ' : ' does not ' }}  exist {{ ctrl.scope.lines_count > 1 ? ':' : ''}}</b></div>
                <div class="error" ng-if="ctrl.scope.lines_count > 1" ng-repeat="error in ctrl.scope.errors.DOESNT_EXIST">
                    {{ error }}
                </div>
            </div>
        </div>
        <div ng-if="!ctrl.scope.loading" class="ctas right input-block">
            <button type="button" id="cancel" class="cta white" ng-click="$event.stopPropagation(); ctrl.close()">{{ !ctrl.scope.page.users.length || ctrl.scope.user_mode !== 'MULTIPLE' ? 'Cancel' : 'OK' }}</button>
            <button type="submit" class="cta green" 
                ng-if="(ctrl.scope.user_mode !== ctrl.scope.user_modes.MULTIPLE || ctrl.scope.email_list.length) 
                            && !ctrl.scope.invitations.length && !ctrl.scope.invitations_sent.length
                            && !ctrl.scope.errors.INVALID.length 
                            && !ctrl.scope.errors.ALREADY_EXIST.length 
                            && !ctrl.scope.errors.DOESNT_EXIST.length" >{{ ctrl.scope.page.id ? (ctrl.scope.page.type !== 'organization' ? 'Add' : 'Import') : 'Create' }}</button>
        </div>
    </form>
  
</div>
