<h1 class="title">
    <span class="i16 {{ icon }}"></span>
    <span class="txt">My {{ label }}s ({{ service.memberof.length||'0' }})</span>
    <button class="cta light i16 i-add"
        ng-if="pageCreate"
        title="Create new {{ label }}"
        ng-click="openPageModal($event, type)"></button>
</h1>

<div class="items">
    <a ui-sref="lms.page({ id : page, type : label  })" class="item" ng-repeat="page in pages">
        <div class="name" title="{{ page_model[page].datum.title }}">
            <span class="u">{{ page_model[page].datum.title }}</span>
            <span class="i16 i-right"></span>
        </div>
        <div class="inf" ng-if="puadmin_model[page]"> <b>{{ type === 'course' ? 'Instructors' : 'Administrators' }} : </b>{{ user_model[puadmin_model[page].datum[0]].datum | username : true }}
         <span ng-if="puadmin_model[page].datum.length > 1">& {{ puadmin_model[page].datum.length - 1 }} other{{ puadmin_model[page].datum.length > 2 ? "s" : "" }} </span>
        </div>
        <div class="picture" ng-if="page_model[page].datum.background"
            image-onload="{{ page_model[page].datum.background | dmslink }}"
            ng-style="page_model[page].datum.background|dmsbgurl"></div>
    </a>
    <div loader ng-if="loading"></div>
    <div class="empty" ng-if="!pages.length && !loading" >No {{ type }} yet.</div>
</div>
<button class="cta blue view-all" ng-if="user && pages.length && !loading"
    title="View all {{ label }}s" ui-sref="lms.user_{{label}}s">View all my {{ label }}s</button>
