<div class="modal-content" id="apps-modal">
      <div class="apps">
          <button class="i16 i-x" ng-click="$event.stopPropagation(); ctrl.close()">
              <span class="for_screen_reader">Close modal</span>
          </button>
          <h2>
              TWIC
          </h2>
          <a href="{{ ::ctrl.scope.stores.app.googleplay_url }}" class="app-logo sm"
             target="_blank"
              title="Stay connected with your peers. Download the Twic App on the Play Store.">
              <img src="/assets/img/google-play-badge.png" />
              <span class="for_screen_reader">Stay connected with your peers. Download the Twic App on the Play Store.</span>
          </a>
          <a href="{{ ::ctrl.scope.stores.app.appstore_url }}" class="app-logo sm"
              target="_blank"
              title="Stay connected with your peers. Download the Twic App on the App Store.">
              <img src="/assets/img/app-store-badge.png" />
              <span class="for_screen_reader">Stay connected with your peers. Download the Twic App on the App Store.</span>
          </a>
          <h2>
              TWIC Messenger
          </h2>
          <a href="{{ ::ctrl.scope.stores.messenger.googleplay_url }}" class="app-logo sm"
             target="_blank"
              title="Stay connected with your peers. Download the Twic Messenger App on the Play Store.">
              <img src="/assets/img/google-play-badge.png" />
              <span class="for_screen_reader">Stay connected with your peers. Download the Twic Messenger App on the Play Store.</span>
          </a>
          <a href="{{ ::ctrl.scope.stores.messenger.appstore_url }}" class="app-logo sm"
              target="_blank"
              title="Stay connected with your peers. Download the Twic Messenger App on the App Store.">
              <img src="/assets/img/app-store-badge.png" />
              <span class="for_screen_reader">Stay connected with your peers. Download the Twic Messenger App on the App Store.</span>
          </a>
      </div>

</div>
