<div id="head-centered">
    <a class="nav active logo" ui-sref="lms.dashboard"
        title="Home" >
        <img id="logo" ng-src="{{'assets/img/logo.png'}}" alt="logo">
    </a>

    <div id="search">
        <div id="search-bar" ng-show="!app.global_search.hide">
            <label class="i12 i-search" ng-class="{ searching : app.global_search.search.length }"
                   title="Search" for="searchinput">
                <span class="for_screen_reader">Search</span>
            </label>
            <div ui-autocomplete="app.global_search.onChange"
                autocomplete-items="app.global_search.lists"
                autocomplete-id="searchinput"
                min-length="2"
                validate-item="app.global_search.reset"
                autocomplete-search="app.global_search"
                id="search-autocomplete"
                class="autocomplete"
                placeholder="Search...">
                    <div class="empty" ng-if="app.global_search.length >= 2 && !app.global_search.loading && !app.global_search.lists.courses.count &&
                            !app.global_search.lists.users.count && !app.global_search.lists.events.count && !app.global_search.lists.groups.count && !app.global_search.lists.organizations.count">
                        No match found.
                    </div>
                    <div class="category" ng-if="app.global_search.lists.users.count">People ({{ app.global_search.lists.users.count }})
                        <a ng-if="app.global_search.lists.users.count > 3"
                            ui-sref-opts="{reload:true}"
                            class="view-more"
                           ui-sref="lms.community({ category : 'users' })">
                            View more
                        </a>
                    </div>
                    <a
                        ui-sref="lms.profile({ id : user.id })"
                        ng-repeat="user in app.global_search.lists.users.list"
                        initial="true"
                        class="user"
                        result-image="{{ user.avatar }}"
                        result-subtext="{{ user.organization.title }}"
                        autocomplete-result="{{ user | username }} <span class='graduation'>{{ user | graduation }}</span>"
                        type="button" >
                    </a>

                    <div class="category" ng-if="app.global_search.lists.events.count">
                        Events ({{ app.global_search.lists.events.count }})
                        <a ng-if="app.global_search.lists.events.count > 3"
                            ui-sref-opts="{reload:true}"
                            class="view-more"
                           ui-sref="lms.community({ category : 'events' })">
                            View more
                        </a></div>
                    <a
                        ui-sref="lms.page({ id : event.id, type : 'event' })"
                        ng-repeat="event in app.global_search.lists.events.list"
                        initial="true"
                        result-image="{{ event.background }}"
                        autocomplete-result="{{ event.title }}"
                        result-subtext="{{ event.description | stripTags }}"
                        type="button" >
                    </a>

                    <div class="category" ng-if="app.global_search.lists.groups.count">
                        Clubs ({{ app.global_search.lists.groups.count }})
                        <a ng-if="app.global_search.lists.groups.count > 3"
                            ui-sref-opts="{reload:true}"
                           class="view-more"
                           ui-sref="lms.community({ category : 'pages' })">
                            View more
                        </a></div>
                    <a
                        ui-sref="lms.page({ id : group.id, type : 'pages' })"
                        ng-repeat="group in app.global_search.lists.groups.list"
                        initial="true"
                        result-image="{{ group.background }}"
                        autocomplete-result="{{ group.title }}"
                        result-subtext="{{ group.description | stripTags }}"
                        type="button" >
                    </a>
                    <div class="category" ng-if="app.global_search.lists.organizations.count">
                        Institutions ({{ app.global_search.lists.organizations.count }})
                        <a ng-if="app.global_search.lists.organizations.count > 3"
                            ui-sref-opts="{reload:true}"
                            class="view-more"
                           ui-sref="lms.community({ category : 'institutions' })">
                            View more
                        </a></div>
                    <a
                        ui-sref="lms.page({ id : organization.id, type : 'institution' })"
                        ng-repeat="organization in app.global_search.lists.organizations.list"
                        initial="true"
                        result-image="{{ organization.background }}"
                        autocomplete-result="{{ organization.title }}"
                        result-subtext="{{ organization.description | stripTags }}"
                        type="button" >
                    </a>
                      <div class="category" ng-if="app.global_search.lists.courses.count">
                        Courses ({{ app.global_search.lists.courses.count }})
                        <a ng-if="app.global_search.lists.courses.count > 3"
                            ui-sref-opts="{reload:true}"
                            class="view-more"
                           ui-sref="lms.community({ category : 'courses' })">
                            View more
                        </a></div>
                    <a
                        ui-sref="lms.page({ id : course.id, type : 'course' })"
                        ng-repeat="course in app.global_search.lists.courses.list"
                        initial="true"
                        ng-click="app.global_search.search = ''"
                        result-image="{{ course.background  }}"
                        autocomplete-result="{{ course.title }}"
                        result-subtext="{{ course.description | stripTags }}"
                        type="button" >
                    </a>
                    <div  ng-if-start="app.global_search.loading" class="category loading">
                        <div class="name"></div>
                    </div>
                    <div autocomplete-result initial="true" class="loading"></div>
                    <div ng-if-end autocomplete-result initial="true" class="loading"></div>
            </div>
            <button class="i12 i-x empty" title="Close search bar"
                ng-disabled="!app.global_search.search.length"
                focus-on-keys="[autocomplete-input]" keys="[13]"
                ng-class="{ searching : app.global_search.search.length }"
                ng-click="app.global_search.search='';">
                <span class="for_screen_reader">Clear search bar</span>
            </button>
        </div>

    </div>

    <nav>
        <ul>
            <li>
                <a class="nav" ui-sref-active="active" ui-sref="lms.dashboard" >
                      <span>Home</span>
                </a>
            </li>
            <li>
                <a class="nav" ui-sref-active="active" ui-sref="lms.community"
                   ng-class="{ active : app.state_service.parent_state === 'lms.community' }"  >Discover</a>
            </li>
            <li dropdown>
              <button class="nav dropdown" dropdown-toggle>
                  <span>Create</span>
              </button>
              <div dropdown-content class="create-dropdown">
                  <button ng-click="app.openPageModal($event, 'course')" ng-if="app.can_create_course">
                      <span class="i12 i-courses"></span>
                      <span>Course</span>
                  </button>
                  <button ng-click="app.openPageModal($event, 'group')">
                      <span class="i12 i-groups"></span>
                      <span>Club</span>
                  </button>
                  <button ng-click="app.openPageModal($event, 'event')">
                      <span class="i12 i-events"></span>
                      <span>Event</span>
                  </button>
                  <button ng-click="app.openPageModal($event, 'organization')"
                          ng-if="app.isStudnetAdmin">
                      <span class="i12 i-diploma"></span>
                      <span>Institution</span>
                  </button>
              </div>
            </li>
        </ul>
    </nav>

    <div class="actions">
        <!--<button class="action i16 i-mail active" data="2">
            <span class="for_screen_reader"></span>
        </button>-->

        <div class="center" dropdown>
            <button class="action i16 i-user" title="Connection requests" data="{{ app.awaitings.length }}"
                ng-class="{active: app.awaitings.length}" dropdown-toggle>
                <span class="for_screen_reader"></span>
            </button>
            <div dropdown-content class="hdr_ddcontent">
                <div class="dropdown_noresults" ng-if="!app.awaitings.length">No pending connection request...</div>
                <div class="contact_request" ng-repeat="id in app.awaitings">
                    <div class="user contact" user="id" user-links="true"></div>
                    <div class="ctas full small">
                        <button class="cta green still" ng-click="app.acceptRequest(id)">Accept</button>
                        <button class="cta white still" ng-click="app.declineRequest(id)">Decline</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="desktopntf" class="center" dropdown >
            <button class="action i16 i-bell" data="{{ app.notifications.unread_notifications }}"
                ng-click=" app.notifications.requestPermission()"
                ng-class="{ active: app.notifications.unread_notifications, unrequested : app.notifications.notificationsStatus() === 'default' }" dropdown-toggle
                title="Notifications">
                <span class="for_screen_reader">{{ app.notifications.list.length }}</span>
            </button>
            <div dropdown-content class="notif_ddcontent" infinite-scroll="{cb:app.notifications.next,distance:10 }">
                <div class="dropdown_noresults" ng-if="!app.notifications.list.length">No notification...</div>
                <button class="read-notifications" ng-if="app.notifications.unread_notifications && app.notifications.list.length"
                ng-click=" app.notifications.read()"> Mark all as read</button>
                <button class="notification" ng-repeat="notif in app.notifications.list" ng-class="{ read : notif.read_date }"
                    title="{{ app.notifications.texts[notif.event](notif) | stripTags }}"
                    ng-click="app.notifAction( notif, $event );">
                    <div class="avatar xxs" image-size="[80,'m',80]"
                        image-onload="{{notif.source.data.avatar}}"></div>
                    <div class="notif-text" ng-bind-html="app.notifications.texts[notif.event](notif) | trustHtml"></div>
                    <div class="notif-date">
                        {{ notif.date | since }}
                    </div>
                </button>
            </div>
        </div>



        <!--<button class="action" title="{{ app.social.column_expanded && 'Reduce' || 'Expand' }} right column" ng-click="app.social.switchColumnState()">
            <div id="colslider" ng-class="{opened:app.social.column_expanded}">
                <div class="l"></div>
                <div class="l"></div>
                <div class="l"></div>
            </div>
            <span class="for_screen_reader">{{ app.col_opened && 'Reduce' || 'Expand' }} right column</span>
        </button>-->

        <a id="avatar_button" class="avatar xs" ui-sref="lms.profile({ id : app.session.id })"
           data-letter="{{ !app.users[app.session.id].datum.avatar  ? (app.users[app.session.id].datum | userinitial) : null }}"
             ng-style="app.users[app.session.id].datum.avatar|dmsbgurl:[80,'m',80]"
            title="{{ app.users[app.session.id].datum | username }} - View my profile">
            <span class="for_screen_reader">Go to my profile</span>
        </a>

        <a id="organization_button" class="avatar xs" ui-sref="lms.page({id:app.session.organization_id,type:'institution'})"
           data-letter="{{ !app.pages[app.session.organization_id].datum.logo  ? (app.pages[app.session.organization_id].datum | pageletter) : null }}"
            ng-style="(app.session.organization_id && app.pages[app.session.organization_id].datum.logo)|dmsbgurl:[80,'m',80]"
            title="{{ app.pages[app.session.organization_id].datum.title }} - View my institution" ng-if="app.session.organization_id">
            <span class="for_screen_reader">{{ app.pages[app.session.organization_id].datum.title }} - View my institution</span>
        </a>

    </div>

    <div class="right" dropdown>
        <button id="burger" class="i16 i-dots action" dropdown-toggle title="Settings menu">
            <span class="for_screen_reader"></span>
        </button>
        <div class="panel" dropdown-content>
            <button title="Settings" ng-click="app.openSF()">Settings</a>
            <button ng-click="app.logout()">Logout</button>
        </div>
    </div>
</div>

<div id="head-right">
    <a class="nav" ng-if="app.isStudnetAdmin" ui-sref-active="active" ui-sref="lms.admin">Admin</a>
    <button class="action i16 i-information" ng-click="app.support()" title="Support">
        <span class="for_screen_reader"></span>
    </button>
</div>

<notifier></notifier>
