<div class="modal-header">
    <h1 tabindex="-1">{{ ctrl.label }}</h1>
    <button class="i16 i-x" ng-click="$event.stopPropagation(); ctrl.close()">
        <span class="for_screen_reader">Close modal</span>
    </button>
</div>

<div class="modal-content">
    
    <div class="contact_request" ng-repeat="id in ctrl.scope.awaitings">
        <div class="user contact" user="id"></div>
        <div class="ctas full small">
            <button class="cta white" ng-click="ctrl.scope.declineRequest(id)">Decline</button>
            <button class="cta green" ng-click="ctrl.scope.acceptRequest(id)">Accept</button>
        </div>
    </div>
    
</div>