
<div dropdown id="menudropdown">
    <button id="menubtn" title="Toggle menu" class="i3 i-dots"
        dropdown-toggle>
        <span class="for_screen_reader">Toggle menu</span>
        <span class="notif" data="{{ app.awaitings.length + app.notifications.unread_notifications }}"></span>
    </button>
    <div id="mobilemenu" dropdown-content>

        <a ui-sref="lms.profile({id:app.session.id})" class="menuitem">
            <span class="avatar xs "    data-letter="{{ !app.session.avatar  ? (app.session | userinitial) : null }}"
                    image-onload="{{app.session.avatar}}" image-size="[40, 'm', 40]"></span>
            <span>{{app.session | username }}</span>
        </a>

        <a ui-sref="lms.dashboard" class="menuitem">
            <span class="avatar xs " ng-style="'assets/img/logo.png' | dmsbgurl : [40,'m',40]" ></span>
            <span>Home</span>
        </a>
        <button ng-click="app.messengerModal()" class="menuitem">
            <span class="i2" image-onload="assets/img/messenger.png"></span>
            <span>TWIC Messenger</span>
        </button>

        <a  ui-sref="lms.community.all" class="menuitem">
            <span class="i2" image-onload="assets/img/i-discover.svg"></span>
            <span>Discover</span>
        </a>

        <a ui-sref="lms.profile.connections({ id : app.session.id })" class="menuitem" >
            <span class="i2" image-onload="assets/img/i-connections.svg"></span>
            <span>My connections</span>
        </a>

        <button class="menuitem" ng-click="app.friendRequestModal()"
            ng-disabled="!app.awaitings.length">
            <span class="i2" image-onload="assets/img/i-useradd.svg"></span>
            <span>Friend Request</span>
            <span class="notif" data="{{ app.awaitings.length }}"></span>
        </button>

        <a ui-sref="lms.user_courses" ng-if="app.courses.memberof.length" class="menuitem" >
            <span class="i2" image-onload="assets/img/i-courses.svg"></span>
            <span>My courses</span>
        </a>
        <div  ng-if="!app.courses.memberof.length" class="menuitem" >
            <span class="i2" image-onload="assets/img/i-courses.svg"></span>
            <span>My courses</span>
        </div>

        <a ui-sref="lms.user_clubs"  class="menuitem" >
            <span class="i2" image-onload="assets/img/i-clubs.svg"></span>
            <span>My clubs</span>
        </a>

        <a ui-sref="lms.user_events" class="menuitem" >
            <span class="i2" image-onload="assets/img/i-events.svg"></span>
            <span>My events</span>
        </a>

        <button  class="menuitem" ng-click="app.notificationsModal()"
            ng-disabled="!app.notifications.list.length">
            <span class="i2" image-onload="assets/img/i-notifications.svg"></span>
            <span>Notifications</span>
            <span class="notif" data="{{ app.notifications.unread_notifications }}"></span>
        </button>

        <a ui-sref="lms.page({id:app.session.organization_id, type : 'institution'})" class="menuitem">
            <span class="avatar xs " image-onload="{{app.organization.datum.logo }}" image-size="[40, 'm', 40]"></span>
            <span>My institution</span>
        </a>


        <div class="separator"></div>

        <button class="menuitem" ng-click="app.openSF()">
            <span class="i2" image-onload="assets/img/i-settings.svg"></span>
            <span>Settings</span>
        </button>

        <button class="menuitem"  ng-click="app.support()">
            <span class="i2 i-information"></span>
            <span>Need help ?</span>
        </button>
          <a  ui-sref="lms.admin" class="menuitem" ng-if="app.session.roles[1]">
              <span class="i2" image-onload="assets/img/i-admin.svg"></span>
              <span>Admin</span>
          </a>
        <button class="menuitem" ng-click="app.logout()">
            <span class="i2" image-onload="assets/img/i-logout.svg"></span>
            <span>Logout</span>
        </button>

        <div class="separator" ng-if="!app.isApp"></div>
        <div class="apps" ng-if="!app.isApp">
            <div class="available">Available on</div>
            <a href="{{ app.stores.app.googleplay }}" class="app-logo"
               target="_blank"
                title="Stay connected with your peers. Download the Twic Messenger App on the Play Store.">
                <img src="/assets/img/google-play-badge.png" />
                <span class="for_screen_reader">Stay connected with your peers. Download the Twic App on the Play Store.</span>
            </a>
            <a href="{{ app.stores.app.appstore }}" class="app-logo"
                target="_blank"
                title="Stay connected with your peers. Download the Twic Messenger App on the App Store.">
                <img src="/assets/img/app-store-badge.png" />
                <span class="for_screen_reader">Stay connected with your peers. Download the Twic App on the App Store.</span>
            </a>
        </div>
    </div>
</div>


<a id="homebtn" title="" ui-sref="lms.dashboard">
    <img id="mlogo" ng-src="{{ 'assets/img/logo.png' |dmslink:[80,'m',80] }}" alt="logo">
    <span class="for_screen_reader">Home</span>
</a>

<div id="searchmobile" >
    <div id="search-bar" ng-show="!app.global_search.hide">
        <label class="i16 i-search"
               title="Search" for="mobilesearchinput">
            <span class="for_screen_reader">Search</span>
        </label>
        <div ui-autocomplete="app.global_search.onChange"
            autocomplete-items="app.global_search.lists"
            autocomplete-id="mobilesearchinput"
            min-length="2"
            autocomplete-search="app.global_search"
            id="search-autocomplete"
            class="autocomplete"
            placeholder="Search...">
            <div class="empty" ng-if="app.global_search.length >= 2 && !app.global_search.loading && !app.global_search.lists.courses.count &&
                    !app.global_search.lists.users.count && !app.global_search.lists.events.count && !app.global_search.lists.groups.count && !app.global_search.lists.organizations.count">
                No match found.
            </div>
            <div class="category" ng-if="app.global_search.lists.users.count">People ({{ app.global_search.lists.users.count }})
                <a ng-if="app.global_search.lists.users.count > 3"
                   class="view-more"
                   ui-sref="lms.community.people">
                    View more
                </a>
            </div>
            <a
                ui-sref="lms.profile({ id : user.id })"
                ng-repeat="user in app.global_search.lists.users.list"
                initial="true"
                class="user"
                result-image="{{ user.avatar }}"
                result-subtext="{{ user.organization.title }}"
                autocomplete-result="{{ user | username }} <span class='graduation'>{{ user | graduation }}</span>"
                type="button" >
            </a>

            <div class="category" ng-if="app.global_search.lists.events.count">
                Events ({{ app.global_search.lists.events.count }})
                <a ng-if="app.global_search.lists.events.count > 3"
                   class="view-more"
                   ui-sref="lms.community.events">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : event.id, type : 'event' })"
                ng-repeat="event in app.global_search.lists.events.list"
                initial="true"
                ng-click="app.global_search.search = ''"
                result-image="{{ event.background  }}"
                autocomplete-result="{{ event.title }}"
                result-subtext="{{ event.description | stripTags }}"
                type="button" >
            </a>

            <div class="category" ng-if="app.global_search.lists.groups.count">
                Clubs ({{ app.global_search.lists.pages.count }})
                <a ng-if="app.global_search.lists.pages.count > 3"
                   class="view-more"
                   ui-sref="lms.community.clubs">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : group.id, type : 'page' })"
                ng-repeat="group in app.global_search.lists.groups.list"
                initial="true"
                result-image="{{ group.background  }}"
                autocomplete-result="{{ group.title }}"
                result-subtext="{{ group.description | stripTags }}"
                type="button" >
            </a>
            <div class="category" ng-if="app.global_search.lists.organizations.count">
                Institutions ({{ app.global_search.lists.organizations.count }})
                <a ng-if="app.global_search.lists.organizations.count > 3"
                   class="view-more"
                   ui-sref="lms.community.institutions">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : organization.id, type : 'institution' })"
                ng-repeat="organization in app.global_search.lists.organizations.list"
                initial="true"
                result-image="{{ organization.background }}"
                autocomplete-result="{{ organization.title }}"
                result-subtext="{{ organization.description | stripTags }}"
                type="button" >
            </a>
              <div class="category" ng-if="app.global_search.lists.courses.count">
                Courses ({{ app.global_search.lists.courses.count }})
                <a ng-if="app.global_search.lists.courses.count > 3"
                   class="view-more"
                   ui-sref="lms.community.courses">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : course.id, type : 'course' })"
                ng-repeat="course in app.global_search.lists.courses.list"
                initial="true"
                result-image="{{ course.background  }}"
                autocomplete-result="{{ course.title }}"
                result-subtext="{{ course.description | stripTags }}"
                type="button" >
            </a>
            <div  ng-if-start="app.global_search.loading" class="category loading">
                <div class="name"></div>
            </div>
            <div autocomplete-result initial="true" class="loading"></div>
            <div ng-if-end autocomplete-result initial="true" class="loading"></div>
        </div>
    </div>

</div>
<notifier></notifier>
