
<div dropdown id="menudropdown">
    <button id="menubtn" title="Toggle menu" class="i3 i-menu"
        dropdown-toggle>
        <span class="for_screen_reader">Toggle menu</span>
        <span class="notif" data="{{ app.awaitings.length + app.notifications.unread_notifications + (app.messagesUnread()||0) }}"></span>
    </button>
    <div id="mobilemenu" dropdown-content>
        <a ui-sref="lms.dashboard" class="menuitem">
            <span>Home</span>
            <span class="i16 i-right"></span>
        </a>

        <a ui-sref="lms.profile({id:app.session.id})" class="menuitem">
            <span>My profile</span>
            <span class="i16 i-right"></span>
        </a>

        <a ui-sref="lms.page({id:app.session.organization_id, type : 'institution'})" class="menuitem">
            <span>My institution</span>
            <span class="i16 i-right"></span>
        </a>

        <button ng-click="app.messengerModal()" class="menuitem">
            <span>TWIC Messenger</span>
            <span class="i16 i-right"></span>
        </button>

        <a ui-sref="lms.timeline"  class="menuitem" >
            <span>TO DO</span>
            <span class="i16 i-right"></span>
        </a>


        <a ui-sref="lms.profile.connections({ id : app.session.id })" class="menuitem" >
            <span>My connections</span>
            <span class="i16 i-right"></span>
        </a>

        <a ui-sref="lms.user_courses" ng-if="app.courses.memberof.length" class="menuitem" >
            <span>My courses</span>
            <span class="i16 i-right"></span>
        </a>
        <div  ng-if="!app.courses.memberof.length" class="menuitem" >
            <span>My courses</span>
        </div>

        <a ui-sref="lms.user_pages"  class="menuitem" >
            <span>My pages</span>
            <span class="i16 i-right"></span>
        </a>

        <a ui-sref="lms.user_events" class="menuitem" >
            <span>My events</span>
            <span class="i16 i-right"></span>
        </a>

        <a  ui-sref="lms.community({ type : 'all' })" class="menuitem">
            <span>Discover</span>
            <span class="i16 i-right"></span>
        </a>

        <button class="menuitem" ng-click="app.friendRequestModal()"
            ng-disabled="!app.awaitings.length">
            <span>Friend Request</span>
            <span class="notif" data="{{ app.awaitings.length }}"></span>
            <span class="i16 i-right"></span>
        </button>
        <button  class="menuitem" ng-click="app.notificationsModal()"
            ng-disabled="!app.notifications.list.length">
            <span>Notifications</span>
            <span class="notif" data="{{ app.notifications.unread_notifications }}"></span>
            <span class="i16 i-right"></span>
        </button>

        <button class="menuitem" ng-click="app.openSF()">
            <span>Settings</span>
            <span class="i16 i-right"></span>
        </button>

        <button class="menuitem"  ng-click="app.support()">
            <span>Need help ?</span>
            <span class="i16 i-right"></span>
        </button>
          <a  ui-sref="lms.admin" class="menuitem" ng-if="app.session.roles[1]">
              <span>Admin</span>
              <span class="i16 i-right"></span>
          </a>
        <button class="menuitem" ng-click="app.logout()">
            <span>Logout</span>
        </button>
    </div>
</div>

<span class="separator"></span>

<a id="homebtn" title="" ui-sref="lms.dashboard">
    <img id="mlogo" ng-src="{{ 'assets/img/logo.png' |dmslink:[80,'m',80] }}" alt="logo">
    <span class="for_screen_reader">Home</span>
</a>

<span class="separator"></span>

<div id="searchmobile" >
    <div id="search-bar" ng-show="!app.global_search.hide">
        <label class="i16 i-search"
               title="Search" for="mobilesearchinput">
            <span class="for_screen_reader">Search</span>
        </label>
        <div ui-autocomplete="app.global_search.onChange"
            autocomplete-items="app.global_search.lists"
            autocomplete-id="mobilesearchinput"
            min-length="2"
            autocomplete-search="app.global_search"
            id="search-autocomplete"
            class="autocomplete"
            placeholder="Search...">
            <div class="empty" ng-if="app.global_search.length >= 2 && !app.global_search.loading && !app.global_search.lists.courses.count &&
                    !app.global_search.lists.users.count && !app.global_search.lists.events.count && !app.global_search.lists.groups.count && !app.global_search.lists.organizations.count">
                No match found.
            </div>
            <div class="category" ng-if="app.global_search.lists.users.count">People ({{ app.global_search.lists.users.count }})
                <a ng-if="app.global_search.lists.users.count > 3"
                   ui-sref-opts="{reload:true}"
                   class="view-more"
                   ui-sref="lms.community({ category : 'users' })">
                    View more
                </a>
            </div>
            <a
                ui-sref="lms.profile({ id : user.id })"
                ng-repeat="user in app.global_search.lists.users.list"
                initial="true"
                class="user"
                result-image="{{ user.avatar | dmslink:[80,'m',80] }}"
                result-subtext="{{ user.organization.title }}"
                autocomplete-result="{{ user | username }} <span class='graduation'>{{ user | graduation }}</span>"
                type="button" >
            </a>

            <div class="category" ng-if="app.global_search.lists.events.count">
                Events ({{ app.global_search.lists.events.count }})
                <a ng-if="app.global_search.lists.events.count > 3"
                   ui-sref-opts="{reload:true}"
                   class="view-more"
                   ui-sref="lms.community({ category : 'events' })">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : event.id, type : 'event' })"
                ng-repeat="event in app.global_search.lists.events.list"
                initial="true"
                ng-click="app.global_search.search = ''"
                result-image="{{ event.background | dmslink:[80,'m',80] }}"
                autocomplete-result="{{ event.title }}"
                result-subtext="{{ event.description | stripTags }}"
                type="button" >
            </a>

            <div class="category" ng-if="app.global_search.lists.groups.count">
                Clubs ({{ app.global_search.lists.pages.count }})
                <a ng-if="app.global_search.lists.pages.count > 3"
                   ui-sref-opts="{reload:true}"
                   class="view-more"
                   ui-sref="lms.community({ category : 'pages' })">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : group.id, type : 'page' })"
                ng-repeat="group in app.global_search.lists.groups.list"
                initial="true"
                result-image="{{ group.background | dmslink:[80,'m',80] }}"
                autocomplete-result="{{ group.title }}"
                result-subtext="{{ group.description | stripTags }}"
                type="button" >
            </a>
            <div class="category" ng-if="app.global_search.lists.organizations.count">
                Institutions ({{ app.global_search.lists.organizations.count }})
                <a ng-if="app.global_search.lists.organizations.count > 3"
                   ui-sref-opts="{reload:true}"
                   class="view-more"
                   ui-sref="lms.community({ category : 'institutions' })">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : organization.id, type : 'institution' })"
                ng-repeat="organization in app.global_search.lists.organizations.list"
                initial="true"
                result-image="{{ organization.background | dmslink:[80,'m',80] }}"
                autocomplete-result="{{ organization.title }}"
                result-subtext="{{ organization.description | stripTags }}"
                type="button" >
            </a>
              <div class="category" ng-if="app.global_search.lists.courses.count">
                Courses ({{ app.global_search.lists.courses.count }})
                <a ng-if="app.global_search.lists.courses.count > 3"
                   ui-sref-opts="{reload:true}"
                   class="view-more"
                   ui-sref="lms.community({ category : 'courses' })">
                    View more
                </a></div>
            <a
                ui-sref="lms.page({ id : course.id, type : 'course' })"
                ng-repeat="course in app.global_search.lists.courses.list"
                initial="true"
                result-image="{{ course.background | dmslink:[80,'m',80] }}"
                autocomplete-result="{{ course.title }}"
                result-subtext="{{ course.description | stripTags }}"
                type="button" >
            </a>
            <div loader ng-if="app.global_search.loading"></div>
        </div>
    </div>

</div>
<notifier></notifier>
