<div class="modal-header">
    <h1 tabindex="-1">{{ ctrl.label }}</h1>
    <button class="i16 i-x" ng-click="$event.stopPropagation(); ctrl.close()">
        <span class="for_screen_reader">Close modal</span>
    </button>
</div>

<div class="modal-content" id="mobilentf" infinite-scroll="{cb:ctrl.scope.notifications.next,distance:10 }">
    <button class="read-notifications " ng-if="ctrl.scope.notifications.unread_notifications && ctrl.scope.notifications.list.length"
      ng-click=" ctrl.scope.notifications.read()"> Mark all as read </button>
    <button notification="ntf" class="notification" ng-repeat="ntf in ctrl.scope.notifications.list" ng-class="{ read : ntf.read_date }"
          ng-click="ctrl.scope.notifAction( ntf, $event );" ng-if="!ntf.removed">
    </button>
    <button class="notification cta twic" ng-if="ctrl.scope.notifications.count > ctrl.scope.notifications.list.length">
        See more
    </button>

</div>
