
    <div class="col_left">
        <div  class="box">
            <form>
                <div class="input-block">
                    <label for="name" class="title_case">From</label>
                    <div class="filterStartDate"
                         datepicker="ctrl.stats.start_date"
                         maxdate="ctrl.stats.end_date"
                         on-date-change="ctrl.get"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
                <div class="input-block">
                    <label for="name" class="title_case">To</label>
                    <div class="filterEndDate"
                         datepicker="ctrl.stats.end_date"
                         mindate="ctrl.stats.start_date"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
                <div class="input-block">
                    <label for="name" class="title_case">Step</label>
                    <div dropdown class="classic right">
                        <button class="white cta dropdown" dropdown-toggle>
                            {{ctrl.interval_label}}
                            <span class="i12 i-dropdown"></span>
                        </button>
                        <div dropdown-content>
                            <button ng-click="ctrl.stats.interval = 'D' ; ctrl.interval_label = 'Per Days'; ctrl.get()"  >Per Days</button>
                            <button ng-click="ctrl.stats.interval = 'M' ; ctrl.interval_label = 'Per Months'; ctrl.get()">Per Months</button>
                            <button ng-click="ctrl.stats.interval = 'Y' ; ctrl.interval_label = 'Per Years'; ctrl.get()" >Per Years</button>
                        </div>
                    </div>
                </div>
                <div class="input-block">
                    <label for="name" class="title_case">Institution</label>
                    <div ui-autocomplete="ctrl.searchOrganization"
                        autocomplete-id="searchSchoolInput"
                        on-date-change="ctrl.get"
                        autocomplete-items="ctrl.organizations"
                        autocomplete-pagination="10"
                        autocomplete-search="ctrl.autocomplete"
                        placeholder="Click to see institutions"
                        class="autocomplete autocompleteFilter">
                        <button
                            ng-click="ctrl.autocomplete.search = '' ; ctrl.stats.organization_id = null; ctrl.get()"
                            autocomplete-result="All institutions">
                        </button>
                        <button
                            ng-repeat="item in ctrl.organizations"
                            ng-click="ctrl.autocomplete.search = ctrl.pages[item].datum.title ; ctrl.stats.organization_id = item; ctrl.get()"
                            autocomplete-result="{{ctrl.pages[item].datum.title ? ctrl.pages[item].datum.title : (ctrl.pages[item].datum | username)}}"
                            result-image="{{(ctrl.pages[item].datum.logo ? ctrl.pages[item].datum.logo : ctrl.pages[item].datum.avatar)}}"
                            result-search="ctrl.autocomplete.search"
                            type="button">
                        </button>
                        <div class='disabled' ng-if='!ctrl.loading && !ctrl.organizations.length'
                            autocomplete-result="There is nothing to display">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col_center">
       <div id="charts-list" >
            <div class="graph box" ng-repeat="chart in ctrl.stats.charts" ng-if="!ctrl.chart" ng-click="ctrl.chart = chart"
                 ng-class="{ selected : ctrl.chart === chart, unselected : ctrl.chart && ctrl.chart !== chart }">
                <div class="graph-count" >
                    <div class="name">{{ chart.name }}</div>
                    <div class="count" ng-if="!chart.loading && (chart.count > 0 || chart.count.length)" >{{ chart.count }}</div>

                </div>
                <canvas class="chart chart-line" ng-if="!chart.loading && (chart.count > 0 || chart.count.length)"
                        chart-options="ctrl.square_options" chart-labels="chart.labels"
                    chart-colors="['#5083C0','#5083C0']"
                    chart-data="chart.data"  chart-series="chart.series">
                </canvas>
                <div loader ng-if="chart.loading" ></div>
                <div class="empty" ng-if="!chart.loading && chart.count === 0">
                    <div class="i-chart">
                    </div>
                    We don't have data to show on this period.
                </div>
            </div>
        </div>
        <div class="chart box"  ng-if="ctrl.chart">
            <div class="ctas right">
                <div class="cta white"  ng-click="ctrl.chart = null"><span class="i-left"></span> Back</div>
            </div>
            <h1>{{ ctrl.chart.name }}</h1>
            <canvas  class="chart chart-line" chart-options="ctrl.chart.options"
                chart-data="ctrl.chart.data" chart-labels="ctrl.chart.labels" chart-series="ctrl.chart.series">
            </canvas>
        </div>
    </div>
