<div id="admin-circles" class="box col_alone">
    <div class="circle" ng-repeat="circle in ctrl.circles"
         ng-class="{ editing : ctrl.edited_circle.id === circle.id }">
        <div class="name" ng-click="ctrl.category.edit(circle)">{{ circle.name }}</div>
        <div class="form" >
             <form ng-submit="ctrl.category.save(ctrl.edited_circle)">
                <label class="input-block">
                    <span class="subtitle">Name : </span><!--ng-model="mail.template"-->
                    <input type="text" name="tpltitle" ng-model="ctrl.edited_circle.name">
                </label> 
                <div class="input-block">
                    <div ui-autocomplete="ctrl.category.searchOrganization" 
                    autocomplete-pagination="10"
                    autocomplete-items="ctrl.schools_list"
                    autocomplete-search="ctrl.autocomplete"
                    autocomplete-id="searchSchoolInput"
                    class="autocomplete"
                    placeholder="Click to see institutions">
                        <label class="i12 i-dropdown" for="searchSchoolInput"></label>
                        <div autocomplete-content>
                            <button
                                ng-repeat="item in ctrl.schools_list" 
                                ng-click="ctrl.category.addOrganization(item);ctrl.autocomplete.search = '';"
                                autocomplete-result="{{item.title}}"
                                result-image="{{item.logo|dmslink:50}}"
                                result-search="ctrl.autocomplete.search"
                                type="button" >  
                            </button>
                            <div class='disabled' ng-if='!ctrl.loading && !ctrl.schools_list.length'
                                autocomplete-result="There is no institution to display">
                            </div>
                            <div loader ng-if="ctrl.loading"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="elements_list">
                    <div ng-repeat="organization in ctrl.edited_circle.organizations" 
                         ng-click="ctrl.category.removeOrganization(organization)" page="organization.organization_id"></div>
                </div>

                <div class="ctas right">
                        <button type="button" class="cta red" ng-if="ctrl.edited_circle.id" 
                            ng-click="ctrl.category.delete(ctrl.edited_circle);ctrl.edited_circle = null; ">Delete</button>
                        <button type="button" class="cta red" ng-click="ctrl.edited_circle = null; ">Cancel</button>
                        <button type="submit" class="cta green">Save</button>
             
                </div>
            </form>
        </div>
    </div>
    <div class="circle new" ng-class="{ editing : ctrl.edited_circle && !ctrl.edited_circle.id }">
        <div class="name cta white" ng-if="!ctrl.edited_circle || ctrl.edited_circle.id" ng-click="ctrl.category.edit({ name : '', organizations: [] })">
            <span class="i i-add"></span> Create new circle
        </div>
        <div class="form" >
            <h1>Create new circle</h1>
             <form ng-submit="ctrl.category.save(ctrl.edited_circle)">
                 <label class="input-block">
                    <span class="subtitle">Name : </span><!--ng-model="mail.template"-->
                    <input type="text" name="circlename" ng-model="ctrl.edited_circle.name">
                </label> 
                <div class="input-block">
                  <div ui-autocomplete="ctrl.category.searchOrganization" 
                    autocomplete-pagination="10"
                    autocomplete-items="ctrl.schools_list"
                    autocomplete-search="ctrl.autocomplete"
                    autocomplete-id="searchSchoolInput"
                    class="autocomplete"
                    placeholder="Click to see institutions">
                        <label class="i12 i-dropdown" for="searchSchoolInput"></label>
                        <button
                            ng-repeat="item in ctrl.schools_list" 
                            ng-click="ctrl.category.addOrganization(item);ctrl.autocomplete.search = '';"
                            autocomplete-result="{{item.title}}"
                            result-image="{{item.logo|dmslink:50}}"
                            result-search="ctrl.autocomplete.search"
                            type="button" >  
                        </button>
                        <div class='disabled' ng-if='!ctrl.loading && !ctrl.schools_list.length'
                            autocomplete-result="There is no institution to display">
                        </div>
                        <div loader ng-if="ctrl.loading"></div>
                    </div>
                    
                </div>
                <div class="elements_list">
                    <div ng-repeat="organization in ctrl.edited_circle.organizations" 
                         ng-click="ctrl.category.removeOrganization(organization)" page="organization.organization_id"></div>
                </div>

                <div class="ctas right">
                        <button type="button" class="cta red" ng-click="ctrl.edited_circle = null; ">Cancel</button>
                        <button type="submit" class="cta green">Save</button>
             
                </div>
            </form>
        </div>
    </div>
</div>