summary-box.box{
    display: block;
    position: relative;
    margin-top: 3rem;
    padding-top: 5rem;

    .loading{
        .line{
          .loading(@clr-background);
          height : 1.4rem;
          width : 100%;
          margin-bottom: 0.5rem;
          &.name{
              height : 1.8rem;
              width : 50%;
              margin : 0.5rem auto 0.5rem;
          }
          &.school{
            width : 70%;
            margin : 0 auto 0.5rem;
          }
        }
        .sb-connections{
          margin: 2rem auto 3rem;
          width : 40%;
          .flexbox();
        }
        .avatar{
            .loading(@clr-background);
            .border-radius(50%) !important;
            &.xxs{
              position : initial;
              margin-right: 0.5rem;
              .flx-shrink(0);
              & + .line{
                 margin : 0.3rem 0;
              }
            }
        }
        .sb-pages {
            .line{
                width : 8rem;
            }
            margin-bottom: 1rem;
        }
        button{
          margin-top : 2rem;
          .loading(@clr-twic);
          width : 100%;
        }
    }

    .avatar{
        position: absolute;
        top: -4rem;
        left: calc(~"50% - 4rem");
    }

    .name{
        display: block;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .graduation{
        color : @clr-light-text;
        font-size: 1.3rem;
        font-weight: bold;
        vertical-align: top;
        display: inline-block;
        &:hover{
          text-decoration: none;
        }
    }

    .school{
        display: block;
        text-align: center;
    }

    .sb-connections{
        margin: 1rem auto 2rem;
        display: block;
        text-align: center;
    }

    .sb-pages{
        .flexbox();
        color : @clr-text-info;
        font-weight: bold;
        .transition( background .3s );
        line-height: 3rem;

        span:nth-child(2){
            margin-left: .5rem;
            .flx(1);
        }

        .i12, .i16{
            padding: 0 .5rem;
            color : lighten(@clr-light-text, 15%);
        }

        &:hover{
            background: @clr-background;
        }
    }

    [dropdown]{
        margin-top: 2rem;

        [dropdown-toggle]{
            .flexbox();
            width: 100%;
            padding: 0 1rem;

            .i12{
                margin:0;
                &::before{
                    font-size: 1.2rem;
                }
            }

            span:nth-child(2){
                margin:0 auto 0 1rem;
            }
        }

        &::before{
            display: none;
        }
    }

    [dropdown-content]{
        width: 100%;
        .i12{
            margin-right: 1rem;
        }
    }
}
