<div ng-if="loading || !user.datum" class="loading">
    <div class="avatar lrg"></div>
    <div class="name line"></div>
    <div class="school line"></div>
    <div class="sb-connections ">
          <div class="avatar xxs"></div>
          <div class="line"></div>
    </div>
    <div class="sb-pages">
        <div class="avatar xxs"></div>
        <div class="line"></div>
    </div>
    <div class="sb-pages">
        <div class="avatar xxs"></div>
        <div class="line"></div>
    </div>
    <div class="sb-pages">
        <div class="avatar xxs"></div>
        <div class="line"></div>
    </div>
    <button class="cta" >
    </button>
</div>

<div ng-if="!loading && user.datum">

    <a class="avatar lrg" data-letter="{{ !user.datum.avatar ? (user.datum|userinitial) : null}}"
        title="View my profile" image-onload="{{user.datum.avatar}}" image-size="[80,'m',80]"
        ui-sref="lms.profile({id:user.datum.id})"></a>

    <a class="name u" title="View my profile" ui-sref="lms.profile({id:user.datum.id})">{{ user.datum|username }} <span class="graduation">{{ user.datum| graduation }}</span></a>

    <a title="{{ pages[user.datum.organization_id].datum.title }} - View my insitution"
        ui-sref="lms.page.timeline({id:user.datum.organization_id,type:'institution'})"
        class="school u">{{ pages[user.datum.organization_id].datum.title }}</a>

    <a ui-sref="lms.profile.connections({id:user.datum.id})" class="sb-connections u">
        {{ connections.connecteds.length||'No' }} connection{{ (!connections.connecteds.length&&' yet')||connections.connecteds.length>1&&'s'||'' }}
    </a>

    <a class="sb-pages" ui-sref="lms.user_courses" title="View my courses">
        <span class="i16 {{pages_config.course.fields.logo.icon}}"></span>
        <span>{{ user_courses.memberof.length }} {{ 'course%s%' | plural : user_courses.memberof.length }}</span>
        <span class="i12 i-right"></span>
    </a>
    <a class="sb-pages" ui-sref="lms.user_clubs" title="View my clubs">
        <span class="i16 {{pages_config.group.fields.logo.icon}}"></span>
        <span>{{ user_groups.memberof.length }} {{ 'club%s%' | plural : user_groups.memberof.length }}</span>
        <span class="i12 i-right"></span>
    </a>
    <a class="sb-pages last" ui-sref="lms.user_events" title="View my events">
        <span class="i16 {{pages_config.event.fields.logo.icon}}"></span>
        <span>{{ user_events.memberof.length }} {{ 'event%s%' | plural : user_events.memberof.length }}</span>
        <span class="i12 i-right"></span>
    </a>

    <div dropdown class="right">
        <button class="green cta dropdown" dropdown-toggle>
            <span class="i12 i-add"></span>
            <span>Create a page</span>
            <span class="i12 i-dropdown"></span>
        </button>
        <div dropdown-content>
            <button ng-click="openPageModal($event, 'course')" ng-if="canCreateCourse()">
                <span class="i12 i-courses"></span>
                <span>Course</span>
            </button>
            <button ng-click="openPageModal($event, 'group')">
                <span class="i12 i-groups"></span>
                <span>Club</span>
            </button>
            <button ng-click="openPageModal($event, 'event')">
                <span class="i12 i-events"></span>
                <span>Event</span>
            </button>
            <button ng-click="openPageModal($event, 'organization')" ng-if="isStudnetAdmin">
                <span class="i12 i-diploma"></span>
                <span>Institution</span>
            </button>
        </div>
    </div>

</div>
