
<span class="connected i16 i-usercheck" 
    ng-if="state === states.connected" 
    title="{{ ::user|username }} is one of your connections">
    <span class="for_screen_reader">{{ ::user|username }} is one of your connections</span>
</span>

<button class="connect i16 i-user" 
    ng-if="state === states.unconnected" ng-click="connect($event)"
    title="Connect to {{ ::user|username }}">
    <span class="for_screen_reader">Connect to {{ ::user|username }}</span>
</button>

<a class="awaiting i16 i-userpending" 
   ui-sref='lms.profile({ id : user.id })'
    ng-if="state === states.awaiting" 
    title="Connection request received">
    <span class="for_screen_reader">Connection request received</span>
</a>

<a class="awaiting i16 i-userpending" 
   ui-sref='lms.profile({ id : user.id })'
    ng-if="state === states.requested"
    title="Connection request sent">
    <span class="for_screen_reader">Connection request sent</span>
</a>