
<div class="document-name onmousemove">{{ current.name }}</div>

<div ng-switch="current.type.slice(0,6)" class="document-view" ng-if="current && current.type">
    <linkblock ng-switch-when="link" class="linkFile" ng-click="$event.stopPropagation()"
        link-url="current.link" link-title="current.name" autoplay="true"
        link-desc="current.link_desc" link-picture="current.picture"></linkblock>
    <div class="imgFile" ng-switch-when="image/" ng-click="$event.stopPropagation()" image-onload="{{current.token}}" image-size="imageSize">
    </div>
    <div loader class="loader" ng-switch-when="image/"></div>
    <div class="audioFile" ng-switch-when="audio/" ng-click="$event.stopPropagation()">
        <audioplayer doc="current"></audioplayer>
    </div>
    <div class="videoFile" ng-switch-when="video/"ng-click="$event.stopPropagation()">
        <videoplayer doc="current" autoplay="true"></videoplayer>
    </div>
    <div class="docFile" ng-switch-default ng-click="$event.stopPropagation()">
        <!--<a ng-if="current.token" class="i-download" ng-click="downloadDoc(current)"
            title="Download this document" href="{{ current.token |dwnlink }}"
            style="border:1px solid;font-size:5rem;width:7rem;height:7rem;line-height:7rem;text-align:center;border-radius:2px;">
            <span class="for_screen_reader">Download this document</span>
        </a>-->
        <div ng-if="current.token" document-viewer="current"></div>
        <div ng-if="!current.token" class="box text-editor" ng-bind-html="current.text | trustHtml"></div>
    </div>
</div>

<button class="i-left2 previous onmousemove" title="View previous document"
    ng-click="setCurrent( currentIndex - 1 )" ng-if="count !== 1">
    <span class="for_screen_reader">View previous document</span>
</button>

<button class="i-right2 next onmousemove" title="View next document"
    ng-click="setCurrent( currentIndex + 1 )" ng-if="count !== 1">
    <span class="for_screen_reader">View next document</span>
</button>

<div class="slider-actions ">
        <button class="i-x" ng-click="close()" title="Close">
            <span class="for_screen_reader">Close</span>
        </button>
        <a ng-if="!isApp && current.token" class="i-download" ng-click="downloadDoc(current)"
           target="_blank"
            title="Download this document" href="{{ current.token | dmslink }}" download>
            <span class="for_screen_reader">Download this document</span>
        </a>
</div>
