<form  ng-submit="ctrl.sendPost()">

    <div ng-if="!ctrl.sending" text-editor
        ontextpaste="ctrl.onContentPaste"
        placeholder="{{ placeholder || 'Ask a question, share an opinion...' }}"
        mentions="{ callback : ctrl.searchAt, container : '#at' }"
        gettext="ctrl.getContent" toolbar="false">
    </div>
    <div  id="at"></div>
    <div ng-if="ctrl.sending" class="sending" >
        <div loader></div>
    </div>



    <div class="link" ng-if="ctrl.link.metapicture || ctrl.link.metadesc">
        <div class="linkbg" ng-style="::ctrl.link.metapicture|dmsbgurl"
             ng-if="ctrl.link.metapicture"></div>
        <div class="linkct">
            <button class="i-x" title="Remove this link" ng-click="ctrl.removeLink()">
                <span class="for_screen_reader">Remove this link</span>
            </button>
            <h2 class="t">{{ ctrl.link.metatitle }}</h2>
            <div class="d">{{ ctrl.link.metadesc | limit : 300 }}</div>
        </div>
    </div>

    <div class="files">
        <div ng-if="ctrl.attachments.length" class="head">{{ ctrl.printAttachmentCount() }}</div>

        <button ng-repeat="attachment in ctrl.attachments" title="Remove from attachments"
            ng-click="ctrl.removeAttachment( attachment )" class="file">
            <span class="i-x"></span>
            <span class="name">{{ attachment.name }}</span>
            <span class="for_screen_reader">Remove this from attachments</span>

            <span class="upload_state">
                <span class="u-done" ng-if="attachment.token">Uploaded</span>
                <span class="u-bar" ng-if="!attachment.token">
                    <span class="u-label">Uploading... ({{attachment.progression}}%)</span>
                    <span class="u-progress" ng-style="{width:attachment.progression+'%'}"></span>
                </span>
            </span>
        </button>
    </div>

    <div class="ctas right">
        <div class="announcement" ng-if="ctrl.target.id
              && ctrl.admins[ctrl.target.id].datum.indexOf(ctrl.user.datum.id) !== -1">
            <div class="clear-bold" >As</div>
          <div dropdown class="classic center">
              <button class="light cta dropdown" dropdown-toggle type="button">
                  <div class="avatar xs"   image-size="[80,'m',80]"
                  ng-if="!ctrl.is_announcement"
                  image-onload="{{ctrl.user.datum.avatar}}"
                  data-letter="{{  !ctrl.user.datum.avatar && ctrl.user.datum.firstname ? (ctrl.user.datum|userinitial) : null}}"></div>
                  <div class="avatar xs"
                      ng-style="(ctrl.pages_list[ctrl.target.id].datum.logo
                        || ctrl.pages_list[ctrl.target.id].datum.background) | dmsbgurl : [80,'m',80]"
                      ng-if="ctrl.is_announcement"
                      ng-class="[!ctrl.pages_list[ctrl.target.id].datum.logo
                        && ! ctrl.pages_list[ctrl.target.id].datum.background
                        && ctrl.icons[ctrl.target.type]]">
                  </div>
                  <span class="i12 i-dropdown"></span>
              </button>
              <div dropdown-content>
                  <button ng-click="ctrl.is_announcement = false;" type="button">
                      <div class="avatar xs"   image-size="[80,'m',80]"
                        image-onload="{{ctrl.user.datum.avatar }}"
                        data-letter="{{  !ctrl.user.datum.avatar && ctrl.user.datum.firstname ? (ctrl.user.datum|userinitial) : null}}"></div>
                        Post as {{ ctrl.user.datum | username }}
                  </button>
                  <button ng-click="ctrl.is_announcement = true;" type="button">
                    <div class="avatar xs"
                        ng-style="ctrl.pages_list[ctrl.target.id].datum.logo
                          || ctrl.pages_list[ctrl.target.id].datum.background | dmsbgurl : [80,'m',80]"
                          ng-class="[!ctrl.pages_list[ctrl.target.id].datum.logo
                            && ! ctrl.pages_list[ctrl.target.id].datum.background
                            && ctrl.icons[ctrl.target.type]]">
                    </div>
                      Post as {{ ctrl.pages_list[ctrl.target.id].datum.title }}
                  </button>

              </div>
          </div>
        </div>
        <input id="{{ id }}" type="file" class="for_screen_reader" fileselect="ctrl.addAttachment">
        <label class="cta light i-attach i16" for="{{ id }}" title="Add a document">
            <span class="for_screen_reader">Add file</span>
        </label>

        <button class="cta green" type="submit"
            title="Send your post"
            ng-class="{disabled:!ctrl.canSend()}">
            <span>Post</span>
        </button>
    </div>

</form>
