
<div ng-if="ctrl.sending">
    <h1>Sending </h1>    
</div>

<form ng-submit="ctrl.sendPost()" ng-if="!ctrl.sending">
    <h1 class="box-title">{{ placeholder }} </h1>
    <div ng-if="!overload" class="hint" tooltip>
        <div tooltip-toggle>Public <div class="i-info i2"></div></div>
        <div tooltip-content>
            <div class="bold"> Your posts will be visible to everyone on your profile. </div>
            <div>You have {{ ctrl.user.contact_count }} connections.  <a ui-sref='lms.community({ category : "users" })'>Grow your network</a> !</div>
        </div>
    </div>
    <div dta="ctrl.content" class="dynamic_textarea">
        <textarea class="italic" placeholder="Ask a question, share an opinion..."
            title="Share a new post on this feed" aria-label="Share a new post on this feed"
            ng-model="ctrl.content" ng-paste="ctrl.onContentPaste( $event )"></textarea>
        <div aria-hidden="true"></div>
    </div>

    <div class="link" ng-if="ctrl.link.metapicture || ctrl.link.metadesc">
        <div class="linkbg" ng-style="::ctrl.link.metapicture|dmsbgurl" 
             ng-if="ctrl.link.metapicture"></div>
        <div class="linkct">
            <button class="i-x" title="Remove this link" ng-click="ctrl.removeLink()">
                <span class="for_screen_reader">Remove this link</span>
            </button>
            <h2 class="t">{{ ctrl.link.metatitle }}</h2>
            <div class="d">{{ ctrl.link.metadesc }}</div>
        </div>
    </div>
    
    <div class="files">
        <div ng-if="ctrl.attachments.length" class="head">{{ ctrl.printAttachmentCount() }}</div>

        <button ng-repeat="attachment in ctrl.attachments" title="Remove from attachments"
            ng-click="ctrl.removeAttachment( attachment )" class="file">
            <span class="i-x"></span>
            <span class="name">{{ attachment.name }}</span>
            <span class="for_screen_reader">Remove this from attachments</span>
            
            <span class="upload_state">
                <span class="u-done" ng-if="attachment.token">Uploaded</span>
                <span class="u-bar" ng-if="!attachment.token">
                    <span class="u-label">Uploading... ({{attachment.progression}}%)</span>
                    <span class="u-progress" ng-style="{width:attachment.progression+'%'}"></span>
                </span>
            </span>
        </button>        
    </div>

    <div class="ctas right">        
        <input id="{{ id }}" type="file" class="for_screen_reader" fileselect="ctrl.addAttachment">
        <label class="cta light" for="{{ id }}" title="Add a document">
            <span class="i12 i-add"></span>
            <span class="u">Add file</span>
            <span class="for_screen_reader">Add file</span>
        </label>
        
        <button class="cta green" type="submit" 
            title="Send your post" 
            ng-class="{disabled:!ctrl.canSend()}">
            <span>Send</span>
        </button>
    </div>
</form>