
<button class="white cta"
     ng-if="state === states.INVITED && ['event', 'group'].indexOf(page.type) !== -1" ng-click="accept($event)"
    title="Accept invitation">
    <span class="i16 i-userpending"></span>
    <span class="label">Accept invitation</span>
</button>

<div dropdown class="right"     ng-if="state === states.PENDING && ['event', 'group'].indexOf(page.type) !== -1">
    <button class="white cta dropdown" dropdown-toggle 
       
        title="Pending application">
        <span class="i16 i-userpending"></span>
        <span class="label">Pending application</span>
        <span class="i12 i-dropdown"></span>
    </button>
    <div dropdown-content>
        <button ng-click="cancelModal($event)">Cancel application to this {{ ::label }}</button>
    </div>
</div>

<button class="white cta" 
    ng-if="state === states.NONE && page.admission === admissions.FREE && ['event', 'group'].indexOf(page.type) !== -1" ng-click="join($event)"
     title="Join this {{ ::label }}">
    <span class="i16 i-user"></span>
    <span class="label">Join this {{ ::label }}</span>
</button>

<button class="white cta" 
    ng-if="state === states.NONE && page.admission === admissions.OPEN && ['event', 'group'].indexOf(page.type) !== -1" ng-click="apply($event)"
     title="Apply to this {{ label }}">
    <span class="i16 i-user"></span>
    <span class="label">Apply to this {{ ::label }}</span>
</button>

<div dropdown class="right" ng-if="state === states.MEMBER">
    <button class="white cta dropdown" dropdown-toggle 
        title="{{ role === roles.ADMIN ? 'Admin' : 'Member' }}">
        <span class="i16 i-usercheck"></span>
        <span class="label">{{ role === roles.ADMIN ? 'Admin' : 'Member' }}</span>
        <span class="i12 i-dropdown"></span>
    </button>
    <div dropdown-content>
        <button ng-if="role === roles.ADMIN && admins.length == 1" disabled class="disabled"
            title="You have to grant admin rights to someone else before leaving this {{ label }}.">Leave this {{ label }}</button>
        <button ng-click="leaveModal($event)" ng-if="role !== roles.ADMIN || admins.length > 1">Leave this {{ label }}</button>
        <button ng-if="role === roles.ADMIN" ng-click="deleteModal($event)">Delete this {{ label }}</button>
    </div>
</div>