<button class="i24 i-hash" 
    ng-if="state === states.MEMBER && page.conversation_id" ng-click="openConversation()"
    title="Open channel">
    <span class="for_screen_reader">Open channel</span>
</button>
<button class="member i16 i-userdel" 
    ng-if="state === states.MEMBER && ['event', 'group'].indexOf(page.type) !== -1" ng-click="leaveModal($event)"
    title="Leave this {{ ::page.label }}">
    <span class="for_screen_reader">Leave this {{ ::page.label }}</span>
</button>

<button class="not-member i16 i-user" 
    ng-if="state === states.NONE && page.admission === admissions.FREE && ['event', 'group'].indexOf(page.type) !== -1" ng-click="join($event)"
    title="Join this {{ ::page.label }}">
    <span class="for_screen_reader">Join this {{ ::page.label }}</span>
</button>

<button class="not-member i16 i-user" 
    ng-if="state === states.NONE && page.admission === admissions.OPEN && ['event', 'group'].indexOf(page.type) !== -1" ng-click="apply($event)"
    title="Apply to this {{ ::page.type }}">
    <span class="for_screen_reader">Apply to this {{ ::page.label }}</span>
</button>

<button class="pending i16 i-userdel" 
    ng-if="state === states.PENDING && ['event', 'group'].indexOf(page.type) !== -1" ng-click="cancelModal($event)"
    title="Cancel application to this {{ ::page.label }}">
    <span class="for_screen_reader">Cancel application to this {{ ::page.label }}</span>
</button>

<button class="invited i16 i-user" 
    ng-if="state === states.INVITED && ['event', 'group'].indexOf(page.type) !== -1" ng-click="accept($event)"
    title="Accept invitation">
    <span class="for_screen_reader">Accept invitation</span>
</button>
