<nav breadcrumb="[{ text : ctrl.title }]"></nav>
<div class="columns hugetitle">
    <h1>{{ ctrl.title }}</h1>

    <div class="ctas">
        <a class="white cta" ng-if="ctrl.linkCategory"
            ui-sref="lms.community({category: ctrl.linkCategory })">Discover more</a>
        <button ng-if="ctrl.canCreate" class="cta green right"
            ng-click="ctrl.openPageModal($event)">
            <span class="i i12 i-add"></span>
            <span>New {{ ctrl.label }}</span>
        </button>
    </div>

</div>
<div class="columns" id="my-pages" infinite-scroll="{ cb : ctrl.loadNextPages, container : 'window', distance : 200 }">
    <div class="col_alone">
        <div loader ng-if="ctrl.loading"></div>
        <div ng-repeat="page in ctrl.displayed_pages" page-box="page"></div>
        <div class="box empty" ng-if="ctrl.memberof === 0">
            <b>No {{ ctrl.label }} yet.</b>
            <div class="hint" ng-if="ctrl.type !== 'course'"> No {{ ctrl.label }} yet. Click on &laquo; Discover more &raquo; to join existing {{ ctrl.label }}s or click on &laquo; New {{ ctrl.label }} &raquo;  to create your own !</div>
            <div class="hint" ng-if="ctrl.type === 'course' && !ctrl.canCreate"> No course yet. Only institutions can give access to courses. </div>
            <div class="hint" ng-if="ctrl.type === 'course' && ctrl.canCreate"> No course yet. Click on &laquo;  New course &raquo;  to create a course and then invite people to manage them.</div>
            
        </div>
    </div>
</div>
