<div infinite-list="ctrl.searched_administrators || ctrl.users.administrators"
     loaded="ctrl.administrators_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36">
    <div class="user middle" ng-if=" (ctrl.searched_administrators || ctrl.users.administrators).indexOf(PageCtrl.me) >= 0"
         user="PageCtrl.me"
         graduation="true" user-links="true">
        <div class="user_state" >Admin</div>
    </div>
    <div class="user middle admin" ng-if="ctrl.user_model.list[user].datum && user !== PageCtrl.me"
         ng-repeat="user in (ctrl.searched_administrators || ctrl.users.administrators) | limitTo : ctrl.administrators_loaded"
         user="user"
         options="{graduation:true, chat : true, cnta : true, followers : true}"  user-links="true">

            <div class="user_state" >Admin</div>
      
        </div>
    </div>
</div>
