<div infinite-list="PageCtrl.searched_all || PageCtrl.users.all" 
     loaded="PageCtrl.all_loaded" 
     model="PageCtrl.user_model" class="default users"
     pagination="36" >
    <div class="user middle" ng-if=" (PageCtrl.searched_all || PageCtrl.users.all).indexOf(PageCtrl.me) >= 0" 
         user="PageCtrl.me" user-links="true">
        <div class="user_state" ng-if="PageCtrl.users.administrators.indexOf(PageCtrl.me) >= 0">Administrator</div>
        <div class="user_state" ng-if="PageCtrl.users.members.indexOf(PageCtrl.me) >= 0">Attendee</div>
        <div class="user_state" ng-if="PageCtrl.users.invited.indexOf(PageCtrl.me) >= 0">Invited</div>
        <div class="user_state" ng-if="PageCtrl.users.pending.indexOf(PageCtrl.me) >= 0">Pending</div>
    </div>
    <div class="user middle" ng-if="PageCtrl.user_model.list[user].datum && user !== PageCtrl.me"
         ng-repeat="user in (PageCtrl.searched_all || PageCtrl.users.all) | limitTo : PageCtrl.all_loaded" user="user" user-links="true">
         
        <div class="user_state" ng-if="PageCtrl.users.administrators.indexOf(user) >= 0">Administrator</div>
        <div class="user_state" ng-if="PageCtrl.users.members.indexOf(user) >= 0">Attendee</div>
        <div class="user_state" ng-if="PageCtrl.users.invited.indexOf(user) >= 0">Invited</div>
        <div class="user_state" ng-if="PageCtrl.users.pending.indexOf(user) >= 0">Pending</div>
        <div class="cty_actions">
            <button class="i16 i-comment" ng-click="PageCtrl.openConversation(user)"
                    title="Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions
                connection="PageCtrl.user_model.list[user].datum"></cnctactions>
            <button class="action i16 i-mail" ng-if="PageCtrl.editable && PageCtrl.page.datum.type === 'organization'" 
                    ng-click="PageCtrl.sendPassword(user)" title="Send invitation"
                    ng-class="{ green : PageCtrl.user_model.list[user].datum.email_sent }">
            </button>
             <div class="right" dropdown ng-if="PageCtrl.editable">
                <button class="action i16 i-more" title="" data=""
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                    <button ng-if="PageCtrl.users.administrators.indexOf(user) !== -1" ng-click="PageCtrl.page_users.removeAdmin(PageCtrl.page.datum.id, user)"><b>Remove</b> administrator rights</button>
                    <button ng-if="PageCtrl.users.members.indexOf(user) >= 0" ng-click="PageCtrl.page_users.grantAdmin(PageCtrl.page.datum.id, user)"><b>Grant</b> administrator rights</button>
                    <button ng-if="PageCtrl.users.pending.indexOf(user) === -1 && PageCtrl.users.invited.indexOf(user) === -1" ng-click="PageCtrl.page_users.remove(PageCtrl.page.datum.id, user)"><b>Remove</b> from this {{ PageCtrl.label }} </button>
                    <button ng-if="PageCtrl.users.pending.indexOf(user) !== -1" ng-click="PageCtrl.page_users.accept(PageCtrl.page.datum.id, user)"><b>Accept</b> pending request</button>
                    <button ng-if="PageCtrl.users.pending.indexOf(user) !== -1" ng-click="PageCtrl.page_users.decline(PageCtrl.page.datum.id, user)"><b>Decline</b> pending request</button>
                    <button ng-if="PageCtrl.users.invited.indexOf(user) !== -1" ng-click="PageCtrl.page_users.decline(PageCtrl.page.datum.id, user)"><b>Cancel</b> invitation</button>
                </div>
            </div>
        </div>
    </div> 
</div>