<div infinite-list="ctrl.searched_all || ctrl.users.all"
     loaded="ctrl.all_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36" >
    <div class="user middle" ng-class="{ 'admin' : ctrl.users.administrators.indexOf(PageCtrl.me) >= 0}" ng-if=" ctrl.all_loaded &&(ctrl.searched_all || ctrl.users.all).indexOf(PageCtrl.me) >= 0"
         user="PageCtrl.me"
         options="{graduation:true, chat : true, cnta : true, followers : true}" user-links="true">
        <div class="user_state" ng-if="ctrl.users.administrators.indexOf(PageCtrl.me) >= 0">Admin</div>
    </div>
    <div class="user middle" ng-class="{ 'admin' : ctrl.users.administrators.indexOf(user) >= 0}" ng-if="user !== PageCtrl.me"
         ng-repeat="user in (ctrl.searched_all || ctrl.users.all) | limitTo : ctrl.all_loaded"
         options="{graduation:true, chat : true, cnta : true, followers : true}" user="user" user-links="true">
        <div class="user_state" ng-if="ctrl.users.administrators.indexOf(user) >= 0">Admin</div>

    </div>
</div>
