<div infinite-list="ctrl.searched_alumni || ctrl.users.alumni"
     loaded="PageCtrl.alumni_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36" >

    <div class="user middle" ng-if="(ctrl.searched_alumni || ctrl.users.alumni).indexOf(PageCtrl.me) >= 0"
         user="PageCtrl.me" graduation="true" user-links="true">
    </div>
    <div class="user middle" ng-if="ctrl.user_model.list[user].datum && user !== PageCtrl.me"
         ng-repeat="user in (ctrl.searched_alumni || ctrl.users.alumni) | limitTo : PageCtrl.alumni_loaded"
         user="user"
         graduation="true" user-links="true">

            <button ng-click="ctrl.viewConnections($event, user)"
                ng-disabled="!ctrl.user_model.list[user].datum.contacts_count"
                ng-click="ctrl.viewConnections($event, user)"
                ng-class="{ u : ctrl.user_model.list[user].datum.contacts_count }"
                class="connections">{{ ctrl.user_model.list[user].datum.contacts_count+' connection%s%' | plural : ctrl.user_model.list[user].datum.contacts_count }}</button>
          <div class="cty_actions">
            <button  ng-if="user !== PageCtrl.me" class="i16 i-comment" ng-click="ctrl.openConversation(user)"
                    title="Start chatting with {{ ::ctrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::ctrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions ng-if="user !== PageCtrl.me"
                connection="ctrl.user_model.list[user].datum"></cnctactions>

             <div usertags="id"   ng-if="user !== PageCtrl.me && ctrl.user_model.list[user].datum.tags.length"></div>
            <button class="action i16 i-mail" ng-if="PageCtrl.editable && ctrl.page.datum.type === 'organization'"
                    ng-click="ctrl.sendPassword(user)" title="Send invitation"
                    ng-class="{ green : ctrl.user_model.list[user].datum.email_sent }">
            </button>
             <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable">
                <button class="action i16 i-more"
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                <button ng-click="ctrl.page_users.grantAdmin(ctrl.page.datum.id, user)"><b>Grant</b> administrator rights</button>
                <button ng-click="ctrl.page_users.remove(ctrl.page.datum.id, user)"><b>Remove</b> from this {{ ctrl.page.datum.type }} </button>
                </div>
            </div>
        </div>
    </div>
</div>
