<div infinite-list="ctrl.searched_alumni || ctrl.users.alumni"
     loaded="PageCtrl.alumni_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36" >

    <div class="user middle" ng-if="(ctrl.searched_alumni || ctrl.users.alumni).indexOf(PageCtrl.me) >= 0"
         user="PageCtrl.me"
         options="{graduation:true}" user-links="true">
    </div>
    <div class="user middle" ng-if="user !== PageCtrl.me"
         ng-repeat="user in (ctrl.searched_alumni || ctrl.users.alumni) | limitTo : PageCtrl.alumni_loaded"
         user="user" options="{graduation:true, chat : true, cnta : true, followers : true}" user-links="true">


    </div>
</div>
