  <div class="col_left">
        <div  class="box">
            <form>
                <div class="input-block">
                    <label for="name" class="title_case">From</label>
                    <div class="filterStartDate" 
                         datepicker="ctrl.stats.start_date" 
                         maxdate="ctrl.stats.end_date"
                         on-date-change="ctrl.onstartchange"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
                <div class="input-block">
                    <label for="name" class="title_case">To</label>
                    <div class="filterEndDate" 
                         datepicker="ctrl.stats.end_date" 
                         mindate="ctrl.stats.start_date"
                         maxdate="ctrl.current_date"
                         on-date-change="ctrl.onendchange"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col_center" >
        <div  class="box mobile">
            <form>
                <div class="input-block">
                    <label for="name" class="title_case">From</label>
                    <div class="filterStartDate" 
                         datepicker="ctrl.stats.start_date" 
                         maxdate="ctrl.stats.end_date"
                         on-date-change="ctrl.onstartchange"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
                <div class="input-block">
                    <label for="name" class="title_case">To</label>
                    <div class="filterEndDate" 
                         datepicker="ctrl.stats.end_date" 
                         mindate="ctrl.stats.start_date"
                         maxdate="ctrl.current_date"
                         on-date-change="ctrl.onendchange"
                         datepicker-format="ctrl.dateFilter"></div>
                </div>
            </form>
        </div>
        <div class="charts-list" >
            <div class="graph box" ng-repeat="chart in ctrl.stats.charts" 
                 ng-if="!ctrl.chart && chart.types.indexOf(ctrl.page.datum.type) !== -1" 
                
                 ng-class="{ 
                    selected : ctrl.chart === chart, 
                    unselected : ctrl.chart && ctrl.chart !== chart,
                    wide : chart.charts,
                    small : !chart.charts
                }">
                <div class="graph-count" ng-click="ctrl.selectChart(chart)">
                    <div class="name">{{ chart.name }}</div>
                    <div class="counts">
                        <div class="count" title="{{chart.sentence }}" ng-if="!chart.loading && (chart.count > 0 || chart.count.length)" >{{ chart.count }}</div>
                        <div class="subcount" title="{{chart.subsentence }}" ng-if="!chart.loading && chart.subcount">&nbsp; / {{ chart.subcount }}</div>
                    </div>
                    
                </div>
                <canvas class="chart chart-line primary" 
                    ng-click="ctrl.selectChart(chart)"
                    ng-if="chart.type === 'curve' && !chart.loading && (chart.count > 0 || chart.count.length)" 
                    chart-options="ctrl.square_options" chart-labels="chart.labels"
                    chart-colors="['#5083C0','#5083C0']"
                    chart-data="chart.data"  chart-series="chart.series">
                </canvas>
                <canvas class="chart chart-pie primary" 
                    ng-click="ctrl.selectChart(chart)"
                    ng-if="chart.type === 'pie' && !chart.loading && (chart.count > 0 || chart.count.length)" 
                    chart-options="ctrl.square_options" chart-labels="chart.labels"
                    chart-colors="chart.colors"
                    chart-data="chart.data"  chart-series="chart.series">
                </canvas>
                <div loader ng-if="chart.loading" ></div>
                <div class="empty" ng-if="!chart.loading && chart.count === 0">
                    <div class="i-chart">
                    </div>
                    We don't have data to show on this period.
                </div>
                <div class="subcharts">
                    <div class="graph-count" ng-if="chart.subname" >
                        <div class="name">{{ chart.subname }}</div>
                    </div>
                    <div class="subchart" ng-repeat="(key, ch) in chart.charts" 
                        ng-if="$index < 2" ng-click="ctrl.selectChart(chart, key)">
                        
                        <canvas class="chart chart-line" 
                            ng-class="{ 'only-child' : $index === 0 && $last }"
                            ng-if="ch.type === 'curve' && !ch.loading && (ch.count > 0 || ch.count.length)" 
                            chart-options="ctrl.square_options" chart-labels="ch.labels"
                            chart-colors="['#5083C0','#5083C0']"
                            chart-data="ch.data"  chart-series="ch.series">
                        </canvas>
                        <canvas class="chart chart-pie"
                            ng-class="{ 'only-child' : $index === 0 && $last }"
                            ng-if="ch.type === 'pie' && !ch.loading && (ch.count > 0 || ch.count.length)" 
                            chart-options="ctrl.square_options" chart-labels="ch.labels"
                            chart-data="ch.data"  chart-series="ch.series"
                            chart-colors="ch.colors">
                        </canvas>
                        <div class="more" ng-if="$index === 1 && !$last">...</div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="ctas left box chart-menu"  ng-if="ctrl.chart">
            <button  ng-click="ctrl.chart = null"><span class="i-left"></span> <span class="u">Back</span></button>
        </div>
        <div id="chart-details" ng-if="ctrl.chart">
            <div class="graph box wide"  ng-if="ctrl.chart">
                <h1>{{ ctrl.chart.name }}</h1>
                <div class="chart-desc" ng-if="ctrl.chart.sentence">{{ ctrl.chart.sentence }}</div>
                <canvas  class="chart chart-line" chart-options="ctrl.chart.options"  ng-if="ctrl.chart.type === 'curve'"
                    chart-data="ctrl.chart.data" chart-labels="ctrl.chart.labels" chart-series="ctrl.chart.series">
                </canvas>
                <canvas  class="chart chart-pie" chart-options="ctrl.chart.options" ng-if="ctrl.chart.type === 'pie'" 
                    chart-data="ctrl.chart.data" chart-labels="ctrl.chart.labels" chart-series="ctrl.chart.series"
                    chart-colors="ctrl.chart.colors">
                </canvas>
            </div>
            <div class="charts-list">
                <div class="graph box {{chart.class}}"  ng-if="ctrl.chart" 
                     ng-repeat="( key, chart) in ctrl.chart.charts"
                    >
                    <div id="{{ key }}" class="anchor"></div>
                    <h1 title="{{ chart.name }}">{{ chart.name }}</h1>
                    <div class="chart-desc" ng-if="chart.sentence">{{ chart.sentence }}</div>
                    <canvas  class="chart chart-line" chart-options="chart.options" ng-if="chart.type === 'curve'"
                        chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series">
                    </canvas>
                    <canvas  class="chart chart-pie" chart-options="chart.options" ng-if="chart.type === 'pie'" 
                        chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"
                        chart-colors="chart.colors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>