<div infinite-list="ctrl.searched_members || ctrl.users.members"
     loaded="PageCtrl.members_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36" >

    <div class="user middle" ng-if="(ctrl.searched_members || ctrl.users.members).indexOf(PageCtrl.me) >= 0"
    options="{graduation:true}" user="PageCtrl.me" user-links="true">
    </div>
    <div class="user middle" ng-if="user !== PageCtrl.me"
         options="{graduation:true, chat : true, cnta : true, followers : true}"
         ng-repeat="user in (ctrl.searched_members || ctrl.users.members) | limitTo : PageCtrl.members_loaded" user="user" user-links="true">

          <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable">
             <button class="action i16 i-more"
                     dropdown-toggle >
                 <span class="for_screen_reader"></span>
             </button>
             <div dropdown-content class="hdr_ddcontent">
             <button ng-click="ctrl.page_users.grantAdmin(ctrl.page.datum.id, user)"><b>Grant</b> administrator rights</button>
             <button ng-click="ctrl.page_users.remove(ctrl.page.datum.id, user)"><b>Remove</b> from this {{ ctrl.page.datum.type }} </button>
             </div>
         </div>

    </div>
</div>
