<div infinite-list="ctrl.searched_members || ctrl.users.members"
     loaded="PageCtrl.members_loaded"
     distance="2000"
     model="ctrl.user_model" class="default users"
     pagination="36" >

    <div class="user middle" ng-if="(ctrl.searched_members || ctrl.users.members).indexOf(PageCtrl.me) >= 0"
    options="{graduation:true}" user="PageCtrl.me" user-links="true">
    </div>
    <div class="user middle" ng-if="user !== PageCtrl.me"
         options="{graduation:true, chat : true, cnta : true, followers : true}"
         ng-repeat="user in (ctrl.searched_members || ctrl.users.members) | limitTo : PageCtrl.members_loaded" user="user" user-links="true">

    </div>
</div>
