<div infinite-list="PageCtrl.searched_members || PageCtrl.users.members" 
     loaded="PageCtrl.members_loaded" 
     model="PageCtrl.user_model" class="default users"
     pagination="36" >

    <div class="user middle" ng-if="(PageCtrl.searched_members || PageCtrl.users.members).indexOf(PageCtrl.me) >= 0" 
         user="PageCtrl.me" user-links="true">
        <div class="user_state" >Attendee</div>  
    </div>
    <div class="user middle" ng-if="PageCtrl.user_model.list[user].datum && user !== PageCtrl.me"
         ng-repeat="user in (PageCtrl.searched_members || PageCtrl.users.members) | limitTo : PageCtrl.members_loaded" user="user" user-links="true">
          <div class="user_state" >Attendee</div>  
          <div class="cty_actions">
            <button  ng-if="user !== PageCtrl.me" class="i16 i-comment" ng-click="PageCtrl.openConversation(user)"
                    title="Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions ng-if="user !== PageCtrl.me" 
                connection="PageCtrl.user_model.list[user].datum"></cnctactions>
            <button class="action i16 i-mail" ng-if="PageCtrl.editable && PageCtrl.page.datum.type === 'organization'" 
                    ng-click="PageCtrl.sendPassword(user)" title="Send invitation"
                    ng-class="{ green : PageCtrl.user_model.list[user].datum.email_sent }">
            </button>
             <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable">
                <button class="action i16 i-more" title="" data=""
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                <button ng-click="PageCtrl.page_users.grantAdmin(PageCtrl.page.datum.id, user)"><b>Grant</b> administrator rights</button>
                <button ng-click="PageCtrl.page_users.remove(PageCtrl.page.datum.id, user)"><b>Remove</b> from this {{ PageCtrl.page.datum.type }} </button>
                </div>
            </div>
        </div>
    </div> 
</div>