<div class="col_alone">
    <div class="box">

        
            <div infinite-list class="default"
                 next-page="PageCtrl.nextFollowers" >  
            <div class="user middle" ng-if="PageCtrl.user_model.list[user].datum"
                 ng-repeat="user in PageCtrl.followers track by $index" user="user" user-links="true">
                 <button ng-click="PageCtrl.viewConnections($event, user)"
                        ng-disabled="!PageCtrl.user_model.list[user].datum.contacts_count"
                        ng-click="ctrl.viewConnections($event, user)"
                        ng-class="{ u : PageCtrl.user_model.list[user].datum.contacts_count }"
                        class="connections">{{ ::PageCtrl.user_model.list[user].datum.contacts_count+' connection' + (PageCtrl.user_model.list[user].datum.contacts_count > 1 ? 's' : '') }}</button>
                <div class="cty_actions">
                    <button  ng-if="user !== PageCtrl.me" class="i16 i-comment" ng-click="PageCtrl.openConversation(user)"
                            title="Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}">
                        <span class="for_screen_reader">Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}</span>
                    </button>
                    <cnctactions ng-if="user !== PageCtrl.me"
                        connection="PageCtrl.user_model.list[user].datum"></cnctactions>
                </div>
            </div>
        </div>
    </div>
</div>
