
<div infinite-list class="default users"
     next-page="ctrl.nextFollowers" >
    <div class="user middle" ng-class="{ 'admin' : ctrl.users.administrators.indexOf(PageCtrl.me) >= 0}" ng-if=" (ctrl.searched_all || ctrl.users.all).indexOf(PageCtrl.me) >= 0"
         user="PageCtrl.me" user-links="true">
        <div class="user_state" ng-if="ctrl.users.administrators.indexOf(PageCtrl.me) >= 0">Admin</div>
    </div>
    <div class="user middle" ng-class="{ 'admin' : ctrl.users.administrators.indexOf(user) >= 0}"
         ng-if="user !== PageCtrl.me && ctrl.user_model.list[user].datum"
         ng-repeat="user in ctrl.followers.list track by $index" user="user" user-links="true">
        <div class="user_state" ng-if="ctrl.users.administrators.indexOf(user) >= 0">Admin</div>
         <button ng-click="ctrl.viewConnections($event, user)"
                ng-disabled="!ctrl.user_model.list[user].datum.contacts_count"
                ng-click="ctrl.viewConnections($event, user)"
                ng-class="{ u : ctrl.user_model.list[user].datum.contacts_count }"
                class="connections">{{ ::ctrl.user_model.list[user].datum.contacts_count+' connection' + (ctrl.user_model.list[user].datum.contacts_count > 1 ? 's' : '') }}</button>
        <div class="cty_actions">
            <button  ng-if="user !== ctrl.me" class="i16 i-comment" ng-click="ctrl.openConversation(user)"
                    title="Start chatting with {{ ::ctrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::ctrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions ng-if="user !== ctrl.me"
                connection="ctrl.user_model.list[user].datum"></cnctactions>

            <div usertags="id"   ng-if="user !== PageCtrl.me && ctrl.user_model.list[user].datum.tags.length"></div>
        </div>
    </div>
</div>
