<div class="col_alone" id="course_content">

    <div class="box">

        <div id="courseEditBtn" class="ctas center" ng-if="PageCtrl.isAdmin">
            <button ng-disabled="ctrl.viewing === 1"
                class="tabbtn" ng-click="ctrl.switchMode(1)">Instructor view</button>
            <button ng-disabled="ctrl.viewing === 2"
                class="tabbtn" ng-click="ctrl.switchMode(2)">Student view</button>
        </div>

        <div ng-if="ctrl.viewing" class="view" ng-class="{asStudent: ctrl.viewing === 2}">
            <div class="empty" ng-if="!ctrl.sections_model.list[ctrl.courseid].datum.length">
                No content yet.
            </div>
            <view-section open="!$index && !ctrl.hasSectionOpeneds" itemid="id" is-student="ctrl.viewing === 2" render="ctrl.render"
                ng-repeat="id in ctrl.sections_model.tmp[ctrl.courseid]||ctrl.sections_model.list[ctrl.courseid].datum track by id"></view-section>

            <button class="addsection" translate-attr="{title:'page.add_section'}"
                ng-click="ctrl.addSection($event)" ng-if="ctrl.viewing !== 2">
                <span class="i-plus"></span>
                <span translate>page.add_section</span>
            </button>
        </div>
    </div>
</div>
