<div breadcrumb="PageCtrl.breadcrumb"></div>
<div class="columns">
    <div class='col_alone'>
        <div id="coursePubBtn" 
             ng-class="{ unpublished : !PageCtrl.page.datum.is_published }"
             class="ctas"  ng-if="PageCtrl.editable && PageCtrl.config.isDisplayed(PageCtrl.page_fields.is_published)" >
           <button
                class="switch" ng-click="PageCtrl.switchPublishState()"
               title="{{ PageCtrl.page.datum.is_published&&'Published'||'Not published' }}"
               ng-class="{on:PageCtrl.page.datum.is_published,off:!PageCtrl.page.datum.is_published}">
               <span>Published</span>
               <span class="switchbg">
                   <span class="switchbar"></span>
               </span>
           </button>
            <div class="unpublished-msg" ng-if="!PageCtrl.page.datum.is_published"><span class="i-alert"></span> Only visible to course administrators for now</div>
       </div>
        <div class="page_header">

            <div cover-picture="PageCtrl.page.datum.background"
                 on-save="PageCtrl.updateCover"
                 editable="PageCtrl.editable && PageCtrl.config.isDisplayed(PageCtrl.page_fields.background)"
                 default-background="{{ PageCtrl.defaultBackgrounds[PageCtrl.page.datum.type] }}"
                 cover-name="page_cover{{PageCtrl.page.datum.id}}">
            </div>

            <div class="header_content">
                <div class="ctas on_cover">
                    
                    <button class="send-message page_action cta white" title="Open channel"
                           ng-if="PageCtrl.conversation.datum.id && PageCtrl.isMember"
                            ng-click="PageCtrl.openConversation(null, PageCtrl.conversation.datum.id)"
                            >
                        <span class='i16 i-comment-alt'></span>
                        <span class="text">Open channel</span>
                    </button>
                    
                    <div  pagecta="PageCtrl.page.datum"
                             ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.role)"></div>
                </div>
                <div class="page_infos">
                    <div ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.date)" class="page_date">
                        <div class="month">
                            {{ PageCtrl.page.datum.start_date | month }}
                        </div>
                        <div class="day">
                            {{ PageCtrl.page.datum.start_date | day }}
                        </div>
                    </div>
                    <div logo-picture="PageCtrl.page.datum.logo"
                        ng-click="!PageCtrl.editable &&  PageCtrl.page.datum.logo && PageCtrl.openSlider($event, null, PageCtrl.page.datum.logo)"
                        on-save="PageCtrl.updateLogo"
                        editable="PageCtrl.editable && PageCtrl.page_fields.logo.editable"
                        modal-title="{{ PageCtrl.page_fields.logo.label }}"
                        ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.logo)"
                        logo-name="page_logo{{PageCtrl.page.datum.id}}"
                        default-text="{{ PageCtrl.page.datum.type !== 'event'  ? (PageCtrl.page.datum| pageletter) : null }}">
                    </div>
                    <div  class="page_subpicture" 
                        ng-class="[PageCtrl.page_fields.logo.icon, PageCtrl.page.datum.type]"></div>


                    <div class="page_title">

                        <div editable-block class="inline-form default" id="title{{PageCtrl.page.datum.id}}"
                             ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.title)"
                             ng-class="{ editing : PageCtrl.editTitle, disabled : !PageCtrl.editable }">
                             <div editable-content ng-click="PageCtrl.editTitle = PageCtrl.editable; PageCtrl.tmpTitle = PageCtrl.page.datum.title"
                                  class="about hide-on-edition">
                                <h1 class="page_name">
                                   {{ PageCtrl.page.datum.title }}
                               </h1>
                             </div>
                             <div editable-form>
                                 <form >
                                      <div dta="PageCtrl.tmpTitle" class="dynamic_textarea">
                                          <div aria-hidden="true"></div>
                                          <textarea ng-model="PageCtrl.tmpTitle"></textarea>
                                      </div>
                                      <div class="ctas">
                                          <button type="submit" class="cta green"
                                                ng-click="PageCtrl.editTitle = false;PageCtrl.updateTitle(PageCtrl.tmpTitle)"
                                             focus-on-keys="#title{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]">Save</button>
                                          <button type="button" class="cta white"
                                                 focus-on-keys="#title{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]"
                                                 ng-click="PageCtrl.editTitle = false;"
                                          >Cancel</button>
                                      </div>
                                  </form>
                             </div>
                         </div>
                        <div dropdown class="classic" ng-if="PageCtrl.editable && PageCtrl.page_fields.confidentiality.editable">
                            <h2 dropdown-toggle class="page_confidentiality"     
                                ng-click="PageCtrl.tmp_confidentiality = PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality"
                                title="{{PageCtrl.editable ? PageCtrl.hints[PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality] : ''}}"
                               >
                                <span
                                     ng-class="
                                    { 
                                        'i-lock' : PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality, 
                                        'i-public' : !(PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality)
                                    }"></span>
                                {{ (PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality) ? "Private " : "Public "  }}{{ ::PageCtrl.label }}
                                <div class="i-pencil i16"></div>
                                <div class="i-dropdown"></div>
                            </h2>
                            <div dropdown-content ng-show="PageCtrl.editable && PageCtrl.page_fields.confidentiality.editable">
                                <button ng-click="PageCtrl.tmp_confidentiality =  0;" 
                                    title="{{PageCtrl.hints[0]}}"
                                    ng-if="(PageCtrl.tmp_confidentiality === 1 || (PageCtrl.tmp_confidentiality === null && PageCtrl.page.datum.confidentiality !== 0))"> 
                                    <span class="i-public"></span> Public {{ ::PageCtrl.label }}
                                </button>
                                <button ng-click="PageCtrl.tmp_confidentiality = 1; " 
                                    title="{{PageCtrl.hints[1]}}"
                                    ng-if="PageCtrl.editable && (PageCtrl.tmp_confidentiality === 0 || (PageCtrl.tmp_confidentiality === null && PageCtrl.page.datum.confidentiality !== 1))"> 
                                    <span class="i-lock"></span> Private {{ ::PageCtrl.label }}
                                </button>
                            </div>
                            
                        </div>
                        <div class="ctas" ng-if="PageCtrl.tmp_confidentiality !== null">
                             <button type="submit" class="cta green"
                                   ng-click="PageCtrl.updateConfidentiality(PageCtrl.tmp_confidentiality);PageCtrl.tmp_confidentiality = null;"
                                focus-on-keys=".page_confidentiality{{PageCtrl.page.datum.id}} [dropdown-toggle]" keys="[13]">Save</button>
                             <button type="button" class="cta white"
                                    focus-on-keys=".page_confidentiality{{PageCtrl.page.datum.id}} [dropdown-toggle]" keys="[13]"
                                    ng-click="PageCtrl.tmp_confidentiality = null;"
                             >Cancel</button>
                         </div>
                        <h2 class="page_confidentiality"     
                          ng-if="!PageCtrl.editable || !PageCtrl.page_fields.confidentiality.editable"    >
                            <span
                                 ng-class="
                                { 
                                    'i-lock' : PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality, 
                                    'i-public' : !(PageCtrl.tmp_confidentiality !== null ? PageCtrl.tmp_confidentiality : PageCtrl.page.datum.confidentiality)
                                }"></span>
                            {{  PageCtrl.page.datum.confidentiality ? "Private " : "Public "  }}{{ ::PageCtrl.label }}
            
                        </h2>
                    
                    </div>
                </div>

                <div class="info_blocks">
                    <div class="info_block" ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.start_date)">
                        <div class="i2 i-clock"></div>

                        <div editable-block class="inline-form default" id="dates{{PageCtrl.page.datum.id}}"
                             ng-class="{ editing : PageCtrl.editingDates, disabled : !PageCtrl.editable }">
                            <div editable-content ng-click="PageCtrl.editDates();"
                                class=" hide-on-edition">
                                <b>From</b>  {{ PageCtrl.page.datum.start_date | dateWithHour }} <b>to</b> {{ PageCtrl.page.datum.end_date | dateWithHour }}</b>
                           </div>
                            <div editable-form>
                                 <form ng-submit="PageCtrl.editingDates = false;PageCtrl.updateDates(PageCtrl.tmp_start, PageCtrl.tmp_end);">
                                    <div class="input-block">
                                        <label for="start_date">From</label>
                                        <div datepicker="PageCtrl.tmp_start"
                                             datepicker-states="['year','month','day','time']"
                                             datepicker-name="start_date"
                                             required="true"
                                             datepicker-build='PageCtrl.buildStart'
                                             maxdate="PageCtrl.tmp_end"></div>
                                    </div>
                                    <div class="input-block">
                                        <label for="end_date">To</label>
                                        <div datepicker="PageCtrl.tmp_end"
                                             datepicker-states="['year','month','day','time']"
                                             datepicker-name="start_date"
                                             required="true"
                                             datepicker-build='PageCtrl.buildEnd'
                                             mindate="PageCtrl.tmp_start"></div>
                                    </div>
                                    <div class="ctas">
                                        <button type="submit" class="cta green"  title="Save dates edition"
                                           focus-on-keys="#dates{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]">Save</button>
                                        <button type="button" class="cta white" title="Cancel dates edition"
                                               focus-on-keys="#dates{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]"
                                               ng-click="PageCtrl.editingDates = false;"
                                        >Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="info_block"
                        ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.description) && ((PageCtrl.page.datum.description && (PageCtrl.page.datum.description | stripTags).length) || PageCtrl.editable)">
                        <div class="i2 i-quote"></div>
                        <div editable-block class="inline-form default" id="description{{PageCtrl.page.datum.id}}"
                            ng-class="{ editing : PageCtrl.editDescription, disabled : !PageCtrl.editable  }">
                            <div editable-content ng-click="PageCtrl.editDescription = PageCtrl.editable; PageCtrl.setDescription(PageCtrl.page.datum.description)"
                                class=" hide-on-edition">
                                <span class="about" id="about-page" ng-class="{ collapsed : !PageCtrl.displayed }"
                                    ng-if="PageCtrl.page.datum.description && (PageCtrl.page.datum.description | stripTags).length" 
                                    ng-bind-html="PageCtrl.page.datum.description | trustHtml"></span>
                                <div class="read-more" ng-if="PageCtrl.page.datum.description" 
                                     ng-class="{ editable : PageCtrl.editable, collapsed : !PageCtrl.displayed }" 
                                     read-more="#about-page" onrefresh="PageCtrl.onDescriptionChanged">
                                    <span class="text u" ng-click="PageCtrl.displayed = !PageCtrl.displayed; $event.stopPropagation()">
                                        {{ !PageCtrl.displayed ? 'Read more' : 'Collapse' }}
                                    </span>
                                </div>
                                <span class="placeholder" ng-if="(!PageCtrl.page.datum.description || !(PageCtrl.page.datum.description | stripTags).length)">Add a description to your {{ PageCtrl.label }}</span>
                            </div>
                            <div editable-form>
                                <form ng-submit="PageCtrl.updateDescription(PageCtrl.getDescription())">
                                    <div class="input-block">
                                        <div text-editor="PageCtrl.tmpDescription" gethtml="PageCtrl.getDescription" sethtml="PageCtrl.setDescription"></div>
                                    </div>
                                    <div class="ctas">
                                        <button type="submit" class="cta green" keys="[13]"
                                           focus-on-keys="#description{{PageCtrl.page.datum.id}} [editable-button]">Save</button>
                                        <button type="button" class="cta white" keys="[13]"
                                           focus-on-keys="#description{{PageCtrl.page.datum.id}} [editable-button]"
                                           ng-click="PageCtrl.editDescription = false;">Cancel</button>
                                    </div>
                                </form>
                           </div>
                       </div>
                    </div>
                    <div class="info_block" ng-if="PageCtrl.user.datum.website || (PageCtrl.editable && PageCtrl.config.isDisplayed(PageCtrl.page_fields.website))">
                        <div class="i2 i-link" title="Open link"></div>
                        <div editable-block class="inline-form default" id="link{{PageCtrl.page.datum.id}}"
                             ng-class="{ editing : PageCtrl.editWebsite, disabled : !PageCtrl.editable }">
                             <div editable-content
                                class=" hide-on-edition">
                                 <a href="{{ PageCtrl.page.datum.website  }}"
                                    target="_blank" title="Go to course"
                                    ng-if="PageCtrl.page.datum.website">{{ PageCtrl.page.datum.website }}</a>
                                 <span class="placeholder" ng-if="!PageCtrl.page.datum.website">Add link</span>
                                 <button editable-button class="default i-pencil"
                                    ng-click="PageCtrl.editWebsite = PageCtrl.editable; PageCtrl.tmpWebsite = PageCtrl.page.datum.website">
                                    
                                 </button>
                             </div>
                            <div editable-form>
                                 <form ng-submit="PageCtrl.editWebsite = false;PageCtrl.updateWebsite(PageCtrl.tmpWebsite);">
                                     <div class="input-block">
                                            <input type="url" ng-model="PageCtrl.tmpWebsite" />
                                     </div>
                                      <div class="ctas">
                                          <button type="submit" class="cta green"  title="Save website edition"
                                             focus-on-keys="#link{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]">Save</button>
                                          <button type="button" class="cta white"   title="Cancel website edition"
                                                 focus-on-keys="#link{{PageCtrl.page.datum.id}} [editable-button]" keys="[13]"
                                                 ng-click="PageCtrl.editWebsite = false;"
                                          >Cancel</button>
                                      </div>
                                  </form>
                            </div>
                        </div>
                    </div>

                    <div class="info_block"
                        ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.address)">
                        <div class="i2 i-map"></div>
                        <div editable-block class="inline-form default" id="pmap{{PageCtrl.page.datum.id}}"
                            ng-class="{ editing : PageCtrl.editMap, disabled : !PageCtrl.editable  }">
                            <div editable-content ng-click="PageCtrl.setEditableAddress()" class="hide-on-edition">
                                <div ng-if="PageCtrl.page.datum.address">
                                    <b>Address : </b><span>{{ PageCtrl.page.datum.address | address }}</span>
                                </div>
                                <div ng-if="PageCtrl.page.datum.address && !PageCtrl.editMap"
                                    ui-map="PageCtrl.page.datum.address" editable="false"></div>
                                <span class="placeholder" ng-if="!PageCtrl.page.datum.address && PageCtrl.editable">Add a location</span>
                                <span class="placeholder" ng-if="!PageCtrl.page.datum.address && !PageCtrl.editable">No location</span>
                            </div>
                            <div editable-form>
                                <div class="input-block">
                                    <div ng-if="PageCtrl.editMap" ui-map="PageCtrl.tmp_address" editable="true"></div>
                                </div>
                                <form ng-submit="PageCtrl.updateAddress(PageCtrl.tmp_address)">
                                    <div class="ctas">
                                        <button type="submit" class="cta green" keys="[13]"
                                           focus-on-keys="#pmap{{PageCtrl.page.datum.id}} [editable-button]">Save</button>
                                        <button type="button" class="cta white" keys="[13]"
                                           focus-on-keys="#pmap{{PageCtrl.page.datum.id}} [editable-button]"
                                           ng-click="PageCtrl.editMap = false;">Cancel</button>
                                    </div>
                                </form>
                           </div>
                       </div>
                    </div>

                    <div class="info_block"
                        ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.tags) && (PageCtrl.editable || PageCtrl.page.datum.tags.length)">
                        <div class="i2 i-tag" title="Keyword"></div>
                        <div editable-block class="inline-form default eb-tags" id="ptags{{PageCtrl.page.datum.id}}"
                            ng-class="{ editing : PageCtrl.editTags, disabled : !PageCtrl.editable  }">
                            <div editable-content ng-click="PageCtrl.setEditableTags()" class="hide-on-edition">
                                <span ng-repeat="tag in PageCtrl.page.datum.tags" class="tag">
                                    {{ tag.name }}
                                </span>
                                <span class="placeholder" ng-if="!PageCtrl.page.datum.tags.length && PageCtrl.editable">Add keywords</span>
                            </div>
                            <div editable-form>
                                <form ng-submit="PageCtrl.updateTags()">
                                    <div class="tags">
                                        <button type="button" ng-repeat="tag in PageCtrl.tmp_tags" class="tag"
                                            id="tag_{{$index}}" focus-on-destroy="#tag_{{$index}},#tag_{{$index-1}},#addTag"
                                            ng-click="PageCtrl.removeTag(tag)">
                                            {{ tag.name }}
                                            <span class="i1 i-x" ></span>
                                        </button>

                                        <div class="addtag">
                                            <input id="addTag" ng-keydown="PageCtrl.addTag($event)"
                                                ng-model="PageCtrl.input_tag" placeholder="Press ENTER to add a new keyword" />
                                            <button class="i12 i-x" type="button"
                                                ng-click="PageCtrl.input_tag = '';"></button>
                                        </div>
                                    </div>
                                    <div class="ctas">
                                        <button type="submit" class="cta green" keys="[13]"
                                           focus-on-keys="#ptags{{PageCtrl.page.datum.id}} [editable-button]">Save</button>
                                        <button type="button" class="cta white" keys="[13]"
                                           focus-on-keys="#ptags{{PageCtrl.page.datum.id}} [editable-button]"
                                           ng-click="PageCtrl.editTags = false;">Cancel</button>
                                    </div>
                                </form>
                           </div>
                       </div>
                    </div>

                    <div class="info_block"
                        ng-if="PageCtrl.config.isDisplayed(PageCtrl.page_fields.instructors) && (PageCtrl.editable||PageCtrl.users.pinned.length)">
                        <div class="i2 i-members" title="Instructors"
                            ng-class="{hasinstructors:PageCtrl.users.pinned.length&&!PageCtrl.editInstructors}"></div>

                        <div editable-block class="inline-form default" id="instructors{{PageCtrl.page.datum.id}}"
                            ng-class="{ editing : PageCtrl.editInstructors, disabled : !PageCtrl.editable  }">
                            <div editable-content ng-click="PageCtrl.openEditInstructors()" class="hide-on-edition">
                                <div ng-if="PageCtrl.users.pinned.length" class="page_instructors">

                                    <a class="user contact" ng-repeat="id in PageCtrl.users.pinned"
                                        title="View {{ PageCtrl.user_model.list[id].datum|username }}'s profile" ui-sref="lms.profile({id:id})">
                                        <div class="avatar sm"  data-letter="{{ !PageCtrl.user_model.list[id].datum.avatar && PageCtrl.user_model.list[id].datum|userinitial }}"
                                            ng-style="PageCtrl.user_model.list[id].datum.avatar|dmsbgurl : [80,'m',80]"
                                            image-onload="{{ PageCtrl.user_model.list[id].datum.avatar | dmslink : [80,'m',80]}}">
                                            <div class="avatar xxs" ng-if="PageCtrl.page_model.list[PageCtrl.user_model.list[id].datum.organization_id].datum"
                                                 ng-style="PageCtrl.page_model.list[PageCtrl.user_model.list[id].datum.organization_id].datum.logo|dmsbgurl : [80,'m',80]"></div>
                                        </div>
                                        <div class="name">{{ PageCtrl.user_model.list[id].datum|username }}</div>
                                    </a>

                                </div>
                                <span class="placeholder" ng-if="!PageCtrl.users.pinned.length">Add instructor(s)</span>
                            </div>
                            <div editable-form>
                                <form ng-submit="PageCtrl.updateInstructors()">

                                    <div class="input-block">
                                        <div ui-autocomplete="PageCtrl.getAdministrators" autocomplete-items="PageCtrl.filtered_administrators"
                                            autocomplete-search="PageCtrl.autocompletePinnedSearch" class="autocomplete" autocomplete-pagination="5"
                                            placeholder="Add instructor(s)">

                                                <button ng-repeat="id in PageCtrl.filtered_administrators"
                                                    autocomplete-result="{{  (PageCtrl.user_model.list[id].datum|username) }}"
                                                    result-image="{{PageCtrl.user_model.list[id].datum.avatar|dmslink}}"
                                                    result-search="PageCtrl.autocompletePinnedSearch.search"
                                                    ng-click="PageCtrl.addToInstructors( id )" type="button"></button>

                                                <div loader ng-if="loading"></div>
                                        </div>
                                    </div>

                                    <div class="page_editing_instructors">
                                        <button class="user contact" ng-repeat="id in PageCtrl.tmp_instructors"
                                            title="Remove {{ PageCtrl.user_model.list[id].datum|username }} from instructors"
                                            ng-click="PageCtrl.removeFromInstructors(id)">
                                            <div class="avatar sm"  data-letter="{{ !PageCtrl.user_model.list[id].datum.avatar && PageCtrl.user_model.list[id].datum|userinitial }}"
                                                ng-style="PageCtrl.user_model.list[id].datum.avatar|dmsbgurl : [80,'m',80]"
                                                image-onload="{{ PageCtrl.user_model.list[id].datum.avatar | dmslink : [80,'m',80]}}"></div>
                                            <div class="name">{{ PageCtrl.user_model.list[id].datum|username }}</div>
                                            <div class="i i-x"><div>
                                        </button>
                                    </div>

                                    <div class="ctas">
                                        <button type="submit" class="cta green" keys="[13]"
                                           focus-on-keys="#instructors{{PageCtrl.page.datum.id}} [editable-button]">Save</button>
                                        <button type="button" class="cta white" keys="[13]"
                                           focus-on-keys="#instructors{{PageCtrl.page.datum.id}} [editable-button]"
                                           ng-click="PageCtrl.editInstructors = false;">Cancel</button>
                                    </div>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
                <nav class="page_nav" role="navigation" aria-label="{{ PageCtrl.label }} tabs">
                    <a class="tab" ng-repeat="(key, tab) in PageCtrl.config.getTabs(PageCtrl.page.datum.type, PageCtrl.editable)"
                        ui-sref="{{tab.href + '({ id : '+PageCtrl.page.datum.id+' , type : \'' + PageCtrl.label + '\'})'}}"
                        ui-sref-active="current" ui-sref-opts="{reload:true}">
                        {{ tab.name }} 
                        <span ng-if="PageCtrl.page_counts[key] && PageCtrl.page_counts[key]()!==undefined">({{PageCtrl.page_counts[key]() }})</span>
                    </a>
                     <div dropdown class="classic right">
                        <button class="white cta dropdown" dropdown-toggle >
                           <span class="tab" ng-repeat="(key, tab) in PageCtrl.config.getTabs(PageCtrl.page.datum.type, PageCtrl.editable)"
                                ui-sref="{{tab.href + '({ id : '+PageCtrl.page.datum.id+' , type : \'' + PageCtrl.label + '\'})'}}"
                                ui-sref-active="visible">{{ tab.name }} <span ng-if="PageCtrl.page_counts[key]">({{PageCtrl.page_counts[key]() }})</span>
                           </span>
                           <span class="i12 i-dropdown"></span>
                        </button>
                        <div dropdown-content>
                             <button ng-repeat="(key, tab) in PageCtrl.config.getTabs(PageCtrl.page.datum.type, PageCtrl.editable)"
                                ui-sref="{{tab.href + '({ id : '+PageCtrl.page.datum.id+' , type : \'' + PageCtrl.label + '\'})'}}"
                                ui-sref-active="hide">{{ tab.name }} 
                                <span ng-if="PageCtrl.page_counts[key] && PageCtrl.page_counts[key]()!==undefined">({{PageCtrl.page_counts[key]() }})</span> </button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="columns page_content" id="page-content" ui-view></div>
