<div infinite-list="PageCtrl.searched_pending || PageCtrl.users.pending" 
     loaded="PageCtrl.pending_loaded" 
     model="PageCtrl.user_model"
     distance="2000"
     pagination="36" class="users default">
    <div class="user middle" ng-if="(PageCtrl.searched_pending ||  PageCtrl.users.pending).indexOf(PageCtrl.me) >= 0" 
         user="PageCtrl.me" user-links="true">
        <div class="user_state" >Pending</div>  
    </div>
    <div class="user middle" ng-if="PageCtrl.user_model.list[user].datum && user !== PageCtrl.me"
         ng-repeat="user in (PageCtrl.searched_pending || PageCtrl.users.pending) | limitTo : PageCtrl.pending_loaded" user="user" user-links="true">
        <div class="user_state" >Pending</div>  
         <div class="cty_actions">
            <button  ng-if="user !== PageCtrl.me" class="i16 i-comment" ng-click="PageCtrl.openConversation(user)" 
                     title="Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions ng-if="user !== PageCtrl.me" 
                connection="PageCtrl.user_model.list[user].datum"></cnctactions>
            <button class="action i16 i-mail" ng-if="PageCtrl.editable && PageCtrl.page.datum.type === 'organization'" 
                    ng-click="PageCtrl.sendPassword(user)" title="Send invitation"
                    ng-class="{ green : PageCtrl.user_model.list[user].datum.email_sent }">
            </button>
             <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable && PageCtrl.page.datum.type !== 'organization'">
                <button class="action i16 i-more" title="" data=""
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                    <button ng-click="PageCtrl.page_users.accept(PageCtrl.page.datum.id, user)"><b>Accept</b> pending request</button>
                    <button ng-click="PageCtrl.page_users.decline(PageCtrl.page.datum.id, user)"><b>Decline</b> pending request</button>
                </div>
            </div>
             <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable && PageCtrl.page.datum.type === 'organization'">
                <button class="action i16 i-more" title="" data=""
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                    <button ng-if="PageCtrl.users.administrators.indexOf(user) >= 0" ng-click="PageCtrl.page_users.removeAdmin(PageCtrl.page.datum.id, user)"><b>Remove</b> administrator rights</button>
                    <button ng-if="PageCtrl.users.administrators.indexOf(user) === -1" ng-click="PageCtrl.page_users.grantAdmin(PageCtrl.page.datum.id, user)"><b>Grant</b> administrator rights</button>
                    <button ng-if="PageCtrl.isStudnetAdmin" ng-click="PageCtrl.deleteUser(user)"><b>Delete</b> user </button>
                </div>
            </div>
        </div>
    </div> 
</div>

