<div infinite-list="PageCtrl.users.pending" 
     loaded="PageCtrl.pending_loaded" 
     model="PageCtrl.user_model"
     pagination="36" class="users default">
    <div class="user middle" ng-if="PageCtrl.user_model.list[user].datum"
         ng-repeat="user in PageCtrl.users.pending | limitTo : PageCtrl.pending_loaded" user="user" user-links="true">
          <button ng-click="PageCtrl.viewConnections($event, user)" 
                ng-disabled="!PageCtrl.user_model.list[user].datum.contacts_count" 
                ng-click="ctrl.viewConnections($event, user)"  
                ng-class="{ u : PageCtrl.user_model.list[user].datum.contacts_count }"
                class="connections">{{ ::PageCtrl.user_model.list[user].datum.contacts_count+' connection' + (PageCtrl.user_model.list[user].datum.contacts_count > 1 ? 's' : '') }}</button>
         <div class="cty_actions">
            <button  ng-if="user !== PageCtrl.me" class="i16 i-comment" ng-click="PageCtrl.openConversation(user)" 
                     title="Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}">
                <span class="for_screen_reader">Start chatting with {{ ::PageCtrl.user_model.list[user].datum|username }}</span>
            </button>
            <cnctactions ng-if="user !== PageCtrl.me" 
                connection="PageCtrl.user_model.list[user].datum"></cnctactions>
            <button class="action i16 i-mail" ng-if="PageCtrl.editable && PageCtrl.page.datum.type === 'organization'" 
                    ng-click="PageCtrl.sendPassword(user)" title="Send invitation"
                    ng-class="{ green : PageCtrl.user_model.list[user].datum.email_sent }">
            </button>
            <button class="action i16 i-x" ng-if="PageCtrl.isStudnetAdmin && PageCtrl.page.datum.type === 'organization'" 
                    ng-click="PageCtrl.deleteUser(user)" title="Cancel invitation">
            </button>
             <div class="right" dropdown ng-if="user !== PageCtrl.me && PageCtrl.editable && PageCtrl.page.datum.type !== 'organization'">
                <button class="action i16 i-more" title="" data=""
                        dropdown-toggle >
                    <span class="for_screen_reader"></span>
                </button>
                <div dropdown-content class="hdr_ddcontent">
                    <button ng-click="PageCtrl.page_users.accept(PageCtrl.page.datum.id, user)"><b>Accept</b> pending request</button>
                    <button ng-click="PageCtrl.page_users.decline(PageCtrl.page.datum.id, user)"><b>Decline</b> pending request</button>
                </div>
            </div>
        </div>
    </div> 
</div>

