<div class="modal-header">
    <h1 tabindex="-1">Add material</h1>
    <button class="i16 i-x"
            ng-click="ctrl.scope.abort();$event.stopPropagation(); ctrl.close()"><span class="for_screen_reader">Close modal</span>
    </button>
</div>

<div class="modal-content resource-modal" >
    <form>
        <div document-upload="ctrl.scope.document" abort="ctrl.scope.abort" ></div>
        <div class="ctas right input-block" ng-if="ctrl.scope.document.type">
            <button type="button" id="cancel" class="cta white" ng-click="$event.stopPropagation(); ctrl.scope.document = null; ctrl.close()">Cancel</button>
            <button type="submit" class="cta green" ng-class="{ disabled : !ctrl.scope.document.token && !ctrl.scope.document.link }"
                  ng-click="ctrl.scope.save(ctrl.scope.document, false); ctrl.close();"
                  ng-disabled="!ctrl.scope.document.token && !ctrl.scope.document.link">Add</button>
            <button type="submit" class="cta green" ng-class="{ disabled : !ctrl.scope.document.token && !ctrl.scope.document.link }"
                  ng-click="ctrl.scope.save(ctrl.scope.document, true); ctrl.close();"
                  ng-disabled="!ctrl.scope.document.token && !ctrl.scope.document.link">Add and notify</button>
        </div>
    </form>
</div>
