<div class="col_left">
    <div class="sticky">
        <div class="box page_actions">

           <h1 class="title">Tools</h1>
               <button for='resource_page_{{ PageCtrl.page.datum.id }}' class="cta light" ng-click="PageCtrl.openResourceModal($event)">
                   <span class="i12 i-add"></span> Add {{ PageCtrl.page.datum.type === "course" ? "material" : "resource" }}
               </button>
       </div>
    </div>
</div>

<div class="col_center" infinite-scroll="{ cb : PageCtrl.nextDocuments, container : 'window', distance : 400 }" scroll-disabled="PageCtrl.loadingDocuments">


    <div class="document_mosaic box">
        <div class="empty " ng-if="!PageCtrl.page_library.list.length">
            No {{ PageCtrl.page.datum.type === 'course' ? 'materials' : 'resources' }} yet.
        </div>
        <div document="resource" list="PageCtrl.page_library.list" ng-repeat="resource in PageCtrl.page_library.list" >
            <button class="i12 i-x delete" ng-if="PageCtrl.editable && resource.id" title='Delete this {{ PageCtrl.page.datum.type === "course" ? "material" : "resource" }}'
                    ng-click="$event.stopPropagation();app.confirm($event, 'Do you want to delete this ' + (PageCtrl.page.datum.type === 'course' ? 'material' : 'resource'),PageCtrl.deleteDocument, [resource.id]);">
                <span class="for_screen_reader">Delete this {{ PageCtrl.page.datum.type === 'course' ? 'material' : 'resource' }}</span>

            </button>

            <div class="loading-background" ng-click="$event.stopPropagation();" ng-style="{ top : resource.progression + '%' }"
                 ng-if="!resource.id"></div>
            <div loader ng-if="!resource.id" progression="resource.progression"></div>

        </div>
    </div>
</div>
