<div class="modal-header">
    <h1 tabindex="-1">Add material</h1>    
    <button class="i16 i-x" 
            ng-click="$event.stopPropagation(); ctrl.close()"><span class="for_screen_reader">Close modal</span>
    </button>
</div>

<div class="modal-content resource-modal pages-modal" >
    <form ng-submit="ctrl.scope.save(ctrl.scope.document); ctrl.close();">
        <div document-upload="ctrl.scope.document"></div>
        <div class="ctas right input-block" ng-if="ctrl.scope.document.type">
            <button type="button" id="cancel" class="cta white" ng-click="$event.stopPropagation(); ctrl.scope.document = null; ctrl.close()">Cancel</button>
            <button type="submit" class="cta green" ng-disabled="ctrl.scope.document.progression < 100">{{ ctrl.scope.document.progression !== undefined ? ctrl.scope.document.progression + "%" : 'Add' }}</button>
        </div>
    </form>
</div>