<div class="col_center" ng-if="PageCtrl.showContent">
    <postform class="box" onsent="PageCtrl.onPostAdded" 
              overload="{ t_page_id : PageCtrl.page.datum.id }" 
              placeholder="Share with all {{ PageCtrl.label }} {{ PageCtrl.page.datum.type === 'organization' ? 'people' : 'participants' }}!"
              ng-if="PageCtrl.isMember"></postform>
    <div class="posts" infinite-scroll="{ cb : PageCtrl.nextPosts, container : 'window', distance : 400 }" scroll-disabled="PageCtrl.loadingPosts">
        <div class="box post" ng-repeat="id in PageCtrl.posts.indexes track by id"
            admin="PageCtrl.isStudnetAdmin" post="id" inpage="PageCtrl.page.datum.id" onsend="PageCtrl.onPostAdded" onremove="PageCtrl.onPostDeleted"></div>
    </div>

</div>
<div class="empty" ng-if="(!PageCtrl.isMember && !PageCtrl.posts.indexes.length) || !PageCtrl.showContent">
    No activity yet.
</div>
<div class="col_right" ng-if="PageCtrl.showContent">
    <div class="sticky">
        <div class="box mosaic_block">
            <h1 class="title">
               <a  ui-sref="{{ PageCtrl.users.members.length ? 'lms.page.users.attendees' : 'lms.page.users.admin'}}({ id : PageCtrl.page.datum.id, type : PageCtrl.label   })"
                  class="u" title="See participants of this {{ PageCtrl.page.datum.type }}.">
                   Participants  ({{ (PageCtrl.users.members.length + PageCtrl.users.administrators.length) || 0 }})
               </a>
            </h1>
            <div class="mosaic">
                <a class="mosaic-square" ng-repeat="id in PageCtrl.users.members.concat(PageCtrl.users.administrators) | limitTo : 12"
                   image-onload="{{ PageCtrl.user_model.list[id].datum.avatar | dmslink }}" ui-sref="lms.profile({ id : id })"
                   title="Go to {{ PageCtrl.user_model.list[id].datum | username }}'s profile"
                     ng-style="PageCtrl.user_model.list[id].datum.avatar|dmsbgurl" >
                    <div class="letter" ng-if="!PageCtrl.user_model.list[id].datum.avatar">
                        {{(PageCtrl.user_model.list[id].datum | username).substring(0,1)}}
                    </div>
                </a>
            </div>
        </div>
        <div class="box mosaic_block" >
            <h1 class="title">
               <a  ui-sref="lms.page.resources({ id : PageCtrl.page.datum.id, type : PageCtrl.label   })"
                   class="u" title="See resources of this {{ PageCtrl.page.datum.type }}.">{{ PageCtrl.page.datum.type === 'course' ? 'Materials' : 'Resources' }} ({{ PageCtrl.page_library.list.length }}) </a></h1>
            <div class="mosaic">
                <button class="mosaic-square" ng-click="PageCtrl.openSlider($event, $index)"
                     ng-switch="document.type.slice(0,6)"
                    ng-repeat="document in PageCtrl.page_library.list | limitTo : 12"
                    title="{{ document.name }}"
                  >
                    <div ng-switch-when="image/" class="image"
                         image-onload="{{ document.token | dmslink }}"
                         ng-style="document.token|dmsbgurl">
                    </div>
                    <div ng-switch-when="video/" class="video">
                        <div class="i16 i-play"></div>
                    </div>
                    <div ng-switch-when="audio/" class="audio">
                        <div class="i16 i-play"></div>
                    </div>
                    <div ng-switch-default class="document">
                        <div class="i16 i-file"></div>
                    </div>

                </button>
            </div>
            <div class="empty" ng-if="!PageCtrl.page_library.list.length">
                No {{ PageCtrl.page.datum.type === 'course' ? 'materials' : 'resources' }} yet.
            </div>
        </div>
    </div>
</div>
