<div class="import-users">
    <ng-transclude ng-click="ctrl.show_import = !ctrl.show_import; ctrl.email_processed = false; ctrl.show_error = false;"></ng-transclude>
    <div class="import-panel" ng-if="ctrl.show_import">
        <div ng-if="!ctrl.email_processed">
            <button class="close i-x" ng-click="ctrl.close();"></button>
            <div class="import-title">{{ ctrl.labels.title  || 'Advanced search' }}</div>
            <div class="import-nb-email">{{ ctrl.nbEmails || 0 }} {{ 'email%s%' | plural : ctrl.nbEmails }}</div>
            <textarea name="add-user" ng-change='ctrl.nbEmails = ctrl.countEmails()' id="add-user" ng-model="ctrl.email_list">
            </textarea>
            <label for="add-user" ng-if="!ctrl.email_list">
                Simply copy and paste a list of emails, one per line.<br/>
               e.g :<br/> 
               user1@email.com<br/>
               user2@email.com<br/>
               user3@email.com<br/>
                ...
            </label>
           <div class="ctas" title="Check pasted emails">
               <button class="cta blue process" 
                    ng-class="{ disabled : !ctrl.nbEmails }"
                    ng-disabled="!ctrl.nbEmails"
                    ng-click="ctrl.processEmails()">
                   <span class="i-search"></span>
               </button>
           </div>
        </div>
        <div ng-if="ctrl.email_processed">
            <button class="close i-x" ng-click="ctrl.close();;"></button>
            <button class="back-to-search" ng-click="ctrl.email_processed = false; ctrl.show_error = false">
                <div class="i-left"></div> <div class="u">Back to search</div>
            </button>
            <div class="process_result">
                <div class="result-categories">
                    <button class="u" ng-class="{ selected : !ctrl.show_error }" 
                        ng-click="ctrl.show_error = false">
                        People found ({{ctrl.imported.id.length + ctrl.imported.email.length }})
                    </button>
                    <button class="u"
                        ng-class="{ selected : ctrl.show_error }" 
                        ng-click="ctrl.show_error = true">
                        Rejected ({{ctrl.errors.ALREADY_EXIST.length + ctrl.errors.DOESNT_EXIST.length + ctrl.errors.INVALID.length }})</button>
                </div>
                <div ng-if-start="!ctrl.show_error" class="imported_users">
                    <div class="user" user="user" ng-repeat="user in ctrl.imported.id">
                        <div class="user-email" >{{ ctrl.users_emails[user] }}</div>
                    </div> 
                    <div class="user preregistered" ng-repeat="email in ctrl.imported.email">
                        <div class="avatar med i-user"></div>
                        <div class="name">{{ email }}</div> 
                        <div class="user-email" >New account</div>
                    </div> 
                </div>
                <div ng-if-end class="ctas" title="{{ ctrl.labels.action }} all">
                    <button class="cta blue process" 
                         ng-class="{ disabled : !(ctrl.imported.id.length + ctrl.imported.email.length) }"
                         ng-disabled="!(ctrl.imported.id.length + ctrl.imported.email.length)"
                         ng-click="(ctrl.imported.id.length + ctrl.imported.email.length) && ctrl.callback(ctrl.imported.id, ctrl.imported.email);ctrl.email_processed = false; ctrl.show_import = false;">
                        {{ ctrl.labels.action | titlecase }} all
                    </button>
                </div>
                <div ng-if="ctrl.show_error" class="imported_users errors">
                    <div class="user" user="user " ng-repeat="user in ctrl.errors.ALREADY_EXIST">
                        <div class="rejected-reason">Already member</div>
                    </div> 
                    <div class="user" ng-repeat="user in ctrl.errors.DOESNT_EXIST">
                        <div class="avatar med" data-letter="?" >
                        </div>
                        <div class="name">{{ user }}</div>
                        <div class="rejected-reason" >User not found</div>
                    </div>
                    <div class="user" ng-repeat="user in ctrl.errors.INVALID">
                        <div class="avatar med" data-letter="X" >
                        </div>
                        <div class="name">{{ user }}</div>
                        <div class="rejected-reason" >Invalid email address</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>